<div class="content">

  <h2>Hardware</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Escalamiento'" (click)="getLinkAndTittleByKey('escalamiento')"></app-button>

    <app-button [tittleButton]="'CLI'" (click)="getLinkAndTittleByKey('cli')"></app-button>

    <app-button [tittleButton]="'virtualizacion'" (click)="getLinkAndTittleByKey('virtualizacion')"></app-button>

    <app-button [tittleButton]="'Nube Vs VM'" (click)="getLinkAndTittleByKey('nubeVSvirtualizacion')"></app-button>

    <app-button [tittleButton]="'Rendering'" (click)="getLinkAndTittleByKey('rendering')"></app-button>

    <app-button [tittleButton]="'Modelo OSI'" (click)="getLinkAndTittleByKey('modelOSI')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>

    </div>

  </div>

</div>
