<div class="content">

    <h2>Hardware</h2>
  
    <div class="card-container">
        
        <app-button [tittleButton]="'Escalamiento'" (click)="getLinkAndTittleByKey('escalamiento')"></app-button>

        <app-button [tittleButton]="'CLI'" (click)="getLinkAndTittleByKey('cli')"></app-button>

        <app-button [tittleButton]="'virtualizacion'" (click)="getLinkAndTittleByKey('virtualizacion')"></app-button>

        <app-button [tittleButton]="'Nube Vs VM'" (click)="getLinkAndTittleByKey('nubeVSvirtualizacion')"></app-button>

        <app-button [tittleButton]="'Rendering'" (click)="getLinkAndTittleByKey('rendering')"></app-button>

    </div>

    <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>
    
    <div class="terminal" [ngSwitch]="selection"  #terminal>

      <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

      <pre *ngSwitchCase="'escalamiento'">- Capacidad de un software para crecer de acuerdo a la demanda </pre>
      <pre *ngSwitchCase="'escalamiento'"></pre>
      <pre *ngSwitchCase="'escalamiento'"> -vertical -> la más facil de realizar pero la más costosa</pre>
      <pre *ngSwitchCase="'escalamiento'"> -vertical -> esta depende directamente de la capacidad de la infraestructura</pre>
      <pre *ngSwitchCase="'escalamiento'"> -vertical -> las fallas en la infraestructura pueden conllevar a errores colapsantes </pre>
      <pre *ngSwitchCase="'escalamiento'"></pre>
      <pre *ngSwitchCase="'escalamiento'"> -horizontal -> esta es más dificil de realizar pero es practicamente ilimitada</pre>
      <pre *ngSwitchCase="'escalamiento'"> -horizontal -> se basa en tener varios nodos trabajando en paralelo de manera coordinada </pre>
      <pre *ngSwitchCase="'escalamiento'"> -horizontal -> soporta el balanceo de cargas y tiene una disponibilidad muy alta </pre>
      <pre *ngSwitchCase="'escalamiento'"> -horizontal -> el mantenimiento se incrementa considerablemente</pre>

      <pre *ngSwitchCase="'cli'">- Es una interfaz de usuario basada en texto </pre>
      <pre *ngSwitchCase="'cli'">- Antes de la invención del mouse, la unica interacción posible con el Sistema Operativo era mediantes comandos </pre>
      <pre *ngSwitchCase="'cli'">- Los comandos no son universales, algunos son reconocibles solo por aplicaciones ó Sistemas Operativos especificos </pre>
      <pre *ngSwitchCase="'cli'">- Pueden funcionar con o sin argumentos, los argumentos son maneras de especificar detalles y/o configuraciones </pre>
      <pre *ngSwitchCase="'cli'">- Son rapidas y más eficientes ya que no necesitan interfaces graficas para funcionar </pre>
      <pre *ngSwitchCase="'cli'">- Tambien son más complejas de usar, ya que se basan en la memoria del usuario </pre>

      <pre *ngSwitchCase="'virtualizacion'">- Es un entorno virtual que funciona con su propia CPU, memoria, red, y almacenamiento, pero </pre>
      <pre *ngSwitchCase="'virtualizacion'"> - que se crea dentro de un sistema de hardware fisico </pre>
      <pre *ngSwitchCase="'virtualizacion'">- Esto se da mediante un software llamado hipervisor encargado de separar y gestionar los recursos </pre>
      <pre *ngSwitchCase="'virtualizacion'"> - de la maquina real para que la VM pueda utilizarlos de manera adecuada </pre>
      <pre *ngSwitchCase="'virtualizacion'">- Las VM estan aisladas del host, y este a su vez puede contener las VM que soporte </pre>
      <pre *ngSwitchCase="'virtualizacion'">- Una VM permite que se ejecuten diferentes Sistemas Operativos dentro de la misma maquina </pre>
      <pre *ngSwitchCase="'virtualizacion'"></pre>
      <pre *ngSwitchCase="'virtualizacion'">- Ventajas </pre>
      <pre *ngSwitchCase="'virtualizacion'"> - Una ventaja es que permiten aprovechar mejor los recursos de una maquina que no se esten usando </pre>
      <pre *ngSwitchCase="'virtualizacion'"> - Dado su aislamiento se puede ejecutar software que no es de confianza sin peligro de que dañe al host </pre>
  
      <pre *ngSwitchCase="'nubeVSvirtualizacion'">- Ambos conceptos hacen referencia a la creación de entornos utiles a partir de recursos abstractos, </pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'"> - bajos diferentes conceptos </pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'">- La virtualización nos permite esto teniendo recursos especificos y de manera fisica </pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'">- La nube es un entorno de TI que agrupa, extrae y comparte recursos ajustables en una red </pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'"></pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'">                           Virtualización                    Nube                     </pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'">- Definición                 Tecnologia                   Metodologia                 </pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'"></pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'">- Proposito               Multiples entornos,           Agrupar recursos              </pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'">                        un solo sistema fisico        Con alta disponibilidad         </pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'"></pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'">- Uso                Entregar recursos especificos  Entregar variedad de recursos     </pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'">                         a usuarios especificos        con multiples fines            </pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'"></pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'">- Configuración          Basado en imagenes            Basado en plantillas           </pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'"></pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'">- Duracion                  largo plazo                  Mediano plazo                </pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'"></pre>
      <pre *ngSwitchCase="'nubeVSvirtualizacion'">- Escalabilidad               vertical                    horizontal                  </pre>

      <pre *ngSwitchCase="'rendering'">- Server-side -> esta funciona convirtiendo archivos estaticos HTML en información utilizable por el navegador </pre>
      <pre *ngSwitchCase="'rendering'"> - Este proceso no cuenta con un modo de cache, por lo que cada vez que se necesite, este sera pedido al servidor </pre>
      <pre *ngSwitchCase="'rendering'"> - Su velocidad no solo depende del servidor, si no de la optimización del sitio web, personas conectadas, etc.. </pre>
      <pre *ngSwitchCase="'rendering'"> - Generalmente cada vez que hay un cambio se vuelve a pedir todo el contenido y no solo lo que se modifico </pre>
      <pre *ngSwitchCase="'rendering'"> - El lado positivo de este metodo es el SEO ya que es mucho más eficiente y facil para los motores de busqueda </pre>
      <pre *ngSwitchCase="'rendering'"> - Este enfoque es ideal para contenido estatico, que no se requiera para una interactividad continua con el usuario </pre>
      <pre *ngSwitchCase="'rendering'"></pre>
      <pre *ngSwitchCase="'rendering'">- Client-side -> esta forma funciona mediante Javascript que obtendra el documento basico de HTML, </pre>
      <pre *ngSwitchCase="'rendering'"> - y que despues ejecutara el resto del sitio usando al navegador </pre>
      <pre *ngSwitchCase="'rendering'">- Este enfoque es más reciente y es utilizado por las librerias y frameworks de Javascript como Vue y Angular </pre>
      <pre *ngSwitchCase="'rendering'">- Mediante esto el servidor solo se encarga de responder con los datos, el resto se hace en el navegador </pre>
      <pre *ngSwitchCase="'rendering'">- Las paginas se cargan más rapido ya que solo se modifica lo que se necesite y no todo el archivo </pre>
      <pre *ngSwitchCase="'rendering'">- Debido a que se necesitan todos los archivos para una carga correcta de la pagina, </pre>
      <pre *ngSwitchCase="'rendering'"> - la conexión a internet puede afectar la carga inicial </pre>
      <pre *ngSwitchCase="'rendering'">- Generalmente se requiere de varias a muchas dependencias de terceros, incluyendo los problemas que esto puede tener </pre>

    </div>
    
  </div>
