<div class="content">

  <h2>Docker</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Docker'" (click)="getLinkAndTittleByKey('docker')"></app-button>

    <app-button [tittleButton]="'Imagenes'" (click)="getLinkAndTittleByKey('images')"></app-button>

    <app-button [tittleButton]="'Contenedores'" (click)="getLinkAndTittleByKey('containers')"></app-button>

    <app-button [tittleButton]="'Volumenes'" (click)="getLinkAndTittleByKey('volumes')"></app-button>

    <app-button [tittleButton]="'Redes'" (click)="getLinkAndTittleByKey('network')"></app-button>

    <app-button [tittleButton]="'DockerFile'" (click)="getLinkAndTittleByKey('file')"></app-button>

    <app-button [tittleButton]="'Docker Compose'" (click)="getLinkAndTittleByKey('compose')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>

    </div>

  </div>

</div>
