<div class="content">

    <h2>Programación Orientata a Objetos & Diseño Orientado a Objetos</h2>
  
    <div class="card-container">
    
      <div class="card card-small" (click)="linkReferencia('poo','https://desarrolloweb.com/articulos/499.php')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>POO</span>
      </div>
  
      <div class="card card-small"
        (click)="linkReferencia('pooPilares','https://www.campusmvp.es/recursos/post/los-conceptos-fundamentales-sobre-programacion-orientada-objetos-explicados-de-manera-simple.aspx')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Pilares POO</span>
      </div>
  
      <div class="card card-small"
        (click)="linkReferencia('composicion','https://www.seas.es/blog/informatica/agregacion-vs-composicion-en-diagramas-de-clases-uml/')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Relaciones</span>
      </div>
  
      <div class="card card-small"
        (click)="linkReferencia('pooStatic','https://desarrolloweb.com/articulos/metodos-atributos-static-poo.html')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Static en POO</span>
      </div>
  
      <div class="card card-small"
        (click)="linkReferencia('sobrecarga','https://www.netmentor.es/Entrada/sobrecarga-metodos')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Sobrecargar Metodos</span>
      </div>

      <div class="card card-small"
        (click)="linkReferencia('acoplamiento','https://jummp.wordpress.com/2010/06/26/acoplamiento-aferente-acoplamiento-eferente-inestabilidad-y-abstraccion-i/')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Acoplamiento</span>
      </div>

      <div class="card card-small"
        (click)="linkReferencia('contratos','https://dosideas.com/wiki/Dise%C3%B1o_Por_Contrato')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Contratos</span>
      </div>

      <div class="card card-small"
        (click)="linkReferencia('descomposicion','http://miguedt.blogspot.com/2013/01/descomposicion-funcional.html#:~:text=La%20descomposici%C3%B3n%20funcional%20se%20refiere,en%20funci%C3%B3n%20de%20la%20composici%C3%B3n')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Descomposición</span>
      </div>

      <div class="card card-small"
        (click)="linkReferencia('enlaces','https://es.fondoperlaterra.org/comdifference-between-static-and-dynamic-binding-2')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Enlaces</span>
      </div>
      
    </div>
  
    <div class="terminal window" ></div>
    <div class="terminal" [ngSwitch]="selection" #terminal>
      <pre *ngSwitchDefault>Selecciona una opcion para ver más </pre>
    
      <pre *ngSwitchCase="'poo'">- Alta integridad, Bajo acoplamiento</pre>
      <pre *ngSwitchCase="'poo'">- Mejora la abstracción de los problemas al acercarlos a lo cotidiano </pre>
      <pre *ngSwitchCase="'poo'"> - Clases      -> abstracciones de la realidad, convertidas en plantillas </pre>
      <pre *ngSwitchCase="'poo'"> - Objetos     -> instancia de una clase, con propiedades unicas </pre>
      <pre *ngSwitchCase="'poo'"> - Propiedades -> atributos o caracteristicas de un objeto</pre>
      <pre *ngSwitchCase="'poo'"> - Metodos     -> comportamientos o acciones de un objeto</pre>
  
      <pre *ngSwitchCase="'pooPilares'">- Encasulapción -> todas las propiedades del objeto son solo del objeto ó de la clase </pre>
      <pre *ngSwitchCase="'pooPilares'">- Abstracción   -> las acciones son publicas pero su complejidad esta oculta; todos necesitan el que, más no interesa el como </pre>
      <pre *ngSwitchCase="'pooPilares'">- Herencia      -> los hijos tienen acceso a los metodos y atributos del padre, además de las propias, pero el padre no conoce a sus hijos </pre>
      <pre *ngSwitchCase="'pooPilares'">- Polimorfismo  -> cada objeto se puede comportar diferente, aunque tenga una misma base, solamente cambiando la instancia </pre>
  
      <pre *ngSwitchCase="'composicion'">- La Agregación y la Composición, Son 2 tipos diferentes de relaciones entre clases </pre>
      <pre *ngSwitchCase="'composicion'">- En los diagramas UML se suele representar por medio de un diamante con o sin relleno, ubicado en la clase contenedora </pre>
      <pre *ngSwitchCase="'composicion'"></pre>
      <pre *ngSwitchCase="'composicion'"> - Agregación -> Indica que una clase es parte de otra, y que los componentes pueden ser compartidos por otros </pre>
      <pre *ngSwitchCase="'composicion'">  - La destrucción del compuesto no neceriamente indica la destrucción de los componentes </pre>
      <pre *ngSwitchCase="'composicion'">  - Se suele representar mediante un diamante sin relleno en UML</pre>
      <pre *ngSwitchCase="'composicion'">  - Cualquier Empresa Tiene 0..* Clientes, los clientes y la empresa pueden vivir independientemente el uno del otro </pre>
      <pre *ngSwitchCase="'composicion'"></pre>
      <pre *ngSwitchCase="'composicion'"> - Composición -> La clase contenida y el contenedor deben tener los mismmos ciclos de vida </pre>
      <pre *ngSwitchCase="'composicion'">  - Los objetos contenidos son solamente del objeto contenedor, si este se destruye, todos sus componentes tambien </pre>
      <pre *ngSwitchCase="'composicion'">  - Su representación en UML se da mediante un diamante con relleno </pre>
      <pre *ngSwitchCase="'composicion'">  - Una Empresa tiene 1..* Empleados, si NO existe una empresa, NO pueden existir sus empleados </pre>
      <pre *ngSwitchCase="'composicion'"></pre>
      <pre *ngSwitchCase="'composicion'">- En cuestion de codigo ambas relaciones no se diferencian entre si (en la mayoria de lenguajes) </pre>
      <pre *ngSwitchCase="'composicion'">- La principal diferencia es a nivel conceptual, donde esta si puede ayudar a entender mejor el problema y su modelado </pre>
  
      <pre *ngSwitchCase="'pooStatic'">- Metodos o atributos que pertenecen a la clase y no a un objeto como tal</pre>
      <pre *ngSwitchCase="'pooStatic'">- Son accesibles de manera global, por lo que hay que tener cuidado con su uso </pre>
      <pre *ngSwitchCase="'pooStatic'">- No necesitan ser instanciados para ser usados</pre>
  
      <pre *ngSwitchCase="'sobrecarga'">- Algunos lenguajes permite sobrecargar los metodos y constructores</pre>
      <pre *ngSwitchCase="'sobrecarga'">- El nombre sera el mismo pero pueden recibir diferente numero de parametros o de tipos</pre>
      <pre *ngSwitchCase="'sobrecarga'">- Deben tener diferencias entre si, de lo contrario el compilador interno se da cuenta de esto y sacara error </pre>  

      <pre *ngSwitchCase="'acoplamiento'">- El acoplamiento se divide en 2 tipos</pre>
      <pre *ngSwitchCase="'acoplamiento'"></pre>
      <pre *ngSwitchCase="'acoplamiento'">- Aferente -> hace referencia a una clase con un alto grado de responsabilidad y una jerarquia bastante alta</pre>
      <pre *ngSwitchCase="'acoplamiento'"> - Esto es indicativo de la herencia, por lo que es pertinente modificarla con cuidado debido a posibles efectos colaterales </pre>
      <pre *ngSwitchCase="'acoplamiento'"> - Este tipo de clases solo usa atributos y metodos principalmente de las clases padre ó propios y poco o nada de entidades externas </pre>
      <pre *ngSwitchCase="'acoplamiento'"></pre>
      <pre *ngSwitchCase="'acoplamiento'">- Eferente -> es un paquete o clase con un alto grado de dependencia, esto condiciona el comportamiento de la clase </pre>
      <pre *ngSwitchCase="'acoplamiento'"> - siendo casi totalmente dependiente de las entidades externas, por lo que es más suceptible a efecto colaterales por cambios en estas </pre>
      <pre *ngSwitchCase="'acoplamiento'"></pre>
      <pre *ngSwitchCase="'acoplamiento'">Idealmente se debe evitar el acoplamiento Eferente y buscar el Aferente, ya que este conlleva una mejor estabilidad y mantenimiento </pre>

      <pre *ngSwitchCase="'contratos'">Diseño por contratos</pre>
      <pre *ngSwitchCase="'contratos'">- Mejora la compresión de POO al mejorar la especificación de los elementos </pre>
      <pre *ngSwitchCase="'contratos'">- Tambien puede servir como documentación, al mismo tiempo que se programa </pre>
      <pre *ngSwitchCase="'contratos'">- Uso eficaz de la herencia y la reutilización </pre>
      <pre *ngSwitchCase="'contratos'">- Las Responsabilidades estan previamente definidas y estas no se deben romper </pre>
      <pre *ngSwitchCase="'contratos'">- Se manejan los conceptos de precondiciones y postcondiciones con mayor importancia </pre>
      <pre *ngSwitchCase="'contratos'">- Ademas de incluir el concepto de inmutabilidad, al entrar como al salir </pre>

      <pre *ngSwitchCase="'descomposicion'">- La descomposición funcional Se refiere al proceso de resolución de las funciones de las partes consituyentes, </pre>
      <pre *ngSwitchCase="'descomposicion'"> - de tal manera que la función original se pueda reconstruir </pre>
      <pre *ngSwitchCase="'descomposicion'">- Este proceso se lleva a cabo con la idea de desmenuzar la realidad en sus partes constitutivas más elementales </pre>
      <pre *ngSwitchCase="'descomposicion'"> - esto ayuda a la modularización del diseño, y a la definición de responsabilidades unicas </pre>
      <pre *ngSwitchCase="'descomposicion'">- Se debe realizar de manera responsable y bien planeada, ya que su abuso puede resultar en un antipatron, </pre>
      <pre *ngSwitchCase="'descomposicion'"> - donde el costo de integración entre elementos es demasiado elevado, no es partir porque si, es hacerlo donde se debe </pre>

      <pre *ngSwitchCase="'enlaces'">- Enlace estatico & dinamico</pre>
      <pre *ngSwitchCase="'enlaces'">- La asociación entre la definición de los metodos y variables, se suele dar de 2 maneras, durante tiempo de ejecución y de compilación </pre>
      <pre *ngSwitchCase="'enlaces'">- Todo lo se pueda conocer en tiempo de compilación, y que es necesario para que el programa se pueda ejecutar se conoce como enlace estatico </pre>
      <pre *ngSwitchCase="'enlaces'">- Las cosas de las cuales es necesario ejecutar el programa para conocer su valor y su comportamiento, se conoce como enlace dinamico </pre>

    </div>
  
    <app-referencia [referencia]="referencia"></app-referencia>
  
  </div>
