<div class="content">

  <h2>Smell Codes (malos olores) </h2>

  <div class="card-container">

    <app-button [tittleButton]="'Smell Codes'" (click)="getLinkAndTittleByKey('codesmells')"></app-button>

    <app-button [tittleButton]="'Tipos'" (click)="getLinkAndTittleByKey('tiposSmellCodes')"></app-button>

    <app-button [tittleButton]="'Desglose'" (click)="getLinkAndTittleByKey('desglose')"></app-button>

    <app-button [tittleButton]="'Casos especiales'" (click)="getLinkAndTittleByKey('casos')"></app-button>

    <app-button [tittleButton]="'Ganancias'" (click)="getLinkAndTittleByKey('payoff')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>

    </div>

  </div>

</div>
