<div class="content">

  <h2>Seguridad informatica y otras amenazas</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Firewall'" (click)="getLinkAndTittleByKey('firewall')"></app-button>

    <app-button [tittleButton]="'SSL, TSL, HTTPS'" (click)="getLinkAndTittleByKey('protocolos')"></app-button>

    <app-button [tittleButton]="'Proxy'" (click)="getLinkAndTittleByKey('proxy')"></app-button>

    <app-button [tittleButton]="'Analisis de codigo'" (click)="getLinkAndTittleByKey('estatico')"></app-button>

    <app-button [tittleButton]="'Ciberseguridad'" (click)="getLinkAndTittleByKey('ciberSeguridad')"></app-button>

    <app-button [tittleButton]="'CIA'" (click)="getLinkAndTittleByKey('cia')"></app-button>

    <app-button [tittleButton]="'NO Repudio'" (click)="getLinkAndTittleByKey('noRepudio')"></app-button>

    <app-button [tittleButton]="'Matriz de Riesgo'" (click)="getLinkAndTittleByKey('matrizDeRiesgo')"></app-button>

    <app-button [tittleButton]="'Carrera'" (click)="getLinkAndTittleByKey('condicionDeCarrera')"></app-button>

    <app-button [tittleButton]="'Honeypot'" (click)="getLinkAndTittleByKey('honeypot')"></app-button>

    <app-button [tittleButton]="'Zero Day Exploit'" (click)="getLinkAndTittleByKey('zeroDayExploit')"></app-button>

    <app-button [tittleButton]="'Test de Intrusión'" (click)="getLinkAndTittleByKey('pentest')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>
      
      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

    </div>

  </div>

</div>
