<div class="content" role="main">

  <h2>Principios</h2>

  <div class="card-container">

    <app-button [tittleButton]="'SOLID'" (click)="getLinkAndTittleByKey('solid')"></app-button>

    <app-button [tittleButton]="'KISS'" (click)="getLinkAndTittleByKey('kiss')"></app-button>

    <app-button [tittleButton]="'YAGNI'" (click)="getLinkAndTittleByKey('yagni')"></app-button>

    <app-button [tittleButton]="'Occam'" (click)="getLinkAndTittleByKey('occam')"></app-button>

    <app-button [tittleButton]="'DRY'" (click)="getLinkAndTittleByKey('dry')"></app-button>

    <app-button [tittleButton]="'Hollywood'" (click)="getLinkAndTittleByKey('hollywood')"></app-button>

    <app-button [tittleButton]="'TDA'" (click)="getLinkAndTittleByKey('tellDontAsk')"></app-button>

  </div>

  <div class="terminal window" ></div>
  <div class="terminal" *ngIf="titulo !== '' "><h2>{{titulo}}</h2></div>
  <div class="terminal" [ngSwitch]="selection" #terminal>

    <pre *ngSwitchDefault>Selecciona una opcion para ver más </pre>

    <pre *ngSwitchCase="'solid'"> S -> Responsabilidad única</pre>
    <pre *ngSwitchCase="'solid'"> O -> Abierto/Cerrado</pre>
    <pre *ngSwitchCase="'solid'"> L -> Sustitución de Liskov</pre>
    <pre *ngSwitchCase="'solid'"> I -> Segregación de interfaces </pre>
    <pre *ngSwitchCase="'solid'"> D -> Inversión de dependencias </pre>

    <pre *ngSwitchCase="'kiss'">- Código entendible</pre>
    <pre *ngSwitchCase="'kiss'">- Mantener muchos modulos y metodos pequeños en vez de uno grande </pre>
    <pre *ngSwitchCase="'kiss'">- Código autocomentado, nombres claros para las variables</pre>
    <pre *ngSwitchCase="'kiss'">- Divide y venceras, dividir el problema en subproblemas</pre>
    <pre *ngSwitchCase="'kiss'">- No abusar de los comentarios, y mantenerlos actualizados</pre>
    <pre *ngSwitchCase="'kiss'">- Implementa código reutilizable, evitar el copiar y pegar</pre>

    <pre *ngSwitchCase="'yagni'">- No lo añadas hasta que no lo necesites</pre>
    <pre *ngSwitchCase="'yagni'">- Define prioridades, evita trabajo innecesario </pre>

    <pre *ngSwitchCase="'occam'">- Preferir siempre la solución más simple</pre>
    <pre *ngSwitchCase="'occam'">- En igualdad de condiciones la solución más optima prevalecera</pre>

    <pre *ngSwitchCase="'dry'">- Evita repertir código lo más posible </pre>
    <pre *ngSwitchCase="'dry'">- Incrementa la mantenibilidad del código </pre>
    <pre *ngSwitchCase="'dry'">- Facilita la refactorización</pre>

    <pre *ngSwitchCase="'hollywood'">- Se basa en la inversion de dependencias para crear la inversion de control </pre>
    <pre *ngSwitchCase="'hollywood'">- Esto logra obtener las referencias y datos necesarios para funcionar mediante una entidad externa (frameworks)</pre>
    <pre *ngSwitchCase="'hollywood'">- Generalmente las entidades externas son los frameworks que ejecutan el codigo del usuario </pre>
    <pre *ngSwitchCase="'hollywood'">- Las instancias se crean y se eliminan de una manera más eficiente, mejorando el rendimiento </pre>

    <pre *ngSwitchCase="'tellDontAsk'">- La responsabilidad debe ser delegada al objeto correspondiente, en lugar de extraerla en un componente afuera </pre>
    <pre *ngSwitchCase="'tellDontAsk'">- En lugar de pedir los datos a los objetos, debemos decirles que hacer y esperar el resultado de la operación </pre>
    <pre *ngSwitchCase="'tellDontAsk'">- Esto es un refuerzo del concepto de encapsulación, propio de la orientación a objetos </pre>

  </div>

  <app-referencia [referencia]="referencia"></app-referencia>

</div>
