<div class="content" role="main">

  <h2>Principios</h2>

  <div class="card-container">

    <div class="card card-small"
      (click)="linkReferencia('solid','https://profile.es/blog/principios-solid-desarrollo-software-calidad/')"
      tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>SOLID</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('kiss','https://manuelzapata.co/principio-kiss-keep-it-simple-stupid/')" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>KISS</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('yagni','https://www.genbeta.com/desarrollo/la-navaja-de-occam-kiss-y-yagni-la-simplicidad-en-el-codigo-no-deberia-ser-solo-postureo-developer')"
      tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>YAGNI</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('occam','https://www.genbeta.com/desarrollo/la-navaja-de-occam-kiss-y-yagni-la-simplicidad-en-el-codigo-no-deberia-ser-solo-postureo-developer')"
      tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>Occam</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('dry','https://tantacom.com/principios-diseno-software-kiss-dry-solid/')" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>DRY</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('hollywood','https://www.genbeta.com/desarrollo/doce-principios-de-diseno-que-todo-desarrollador-deberia-conocer')"
      tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>Hollywood</span>
    </div>

  </div>

  <div class="terminal" [ngSwitch]="selection" #terminal>
    <pre *ngSwitchDefault>Selecciona una opcion para ver más </pre>

    <pre *ngSwitchCase="'solid'"> S -> Responsabilidad única</pre>
    <pre *ngSwitchCase="'solid'"> O -> Abierto/Cerrado</pre>
    <pre *ngSwitchCase="'solid'"> L -> Sustitución de Liskov</pre>
    <pre *ngSwitchCase="'solid'"> I -> Segregación de interfaces </pre>
    <pre *ngSwitchCase="'solid'"> D -> Inversión de dependencias </pre>

    <pre *ngSwitchCase="'kiss'">- Código entendible</pre>
    <pre *ngSwitchCase="'kiss'">- Mantener muchos modulos y metodos pequeños en vez de uno grande </pre>
    <pre *ngSwitchCase="'kiss'">- Código autocomentado, nombres claros para las variables</pre>
    <pre *ngSwitchCase="'kiss'">- Divide y venceras, dividir el problema en subproblemas</pre>
    <pre *ngSwitchCase="'kiss'">- No abusar de los comentarios, y mantenerlos actualizados</pre>
    <pre *ngSwitchCase="'kiss'">- Implementa código reutilizable, evitar el copiar y pegar</pre>

    <pre *ngSwitchCase="'yagni'">- No lo añadas hasta que no lo necesites</pre>
    <pre *ngSwitchCase="'yagni'">- Define prioridades, evita trabajo innecesario </pre>

    <pre *ngSwitchCase="'occam'">- Preferir siempre la solución más simple</pre>
    <pre *ngSwitchCase="'occam'">- En igualdad de condiciones la solución más optima prevalecera</pre>

    <pre *ngSwitchCase="'dry'">- Evita repertir código lo más posible </pre>
    <pre *ngSwitchCase="'dry'">- Incrementa la mantenibilidad del código </pre>
    <pre *ngSwitchCase="'dry'">- Facilita la refactorización</pre>

    <pre *ngSwitchCase="'hollywood'">- No nos llames nosotros te llamamos </pre>
    <pre *ngSwitchCase="'hollywood'">- Se basa en la inversion de dependencias para crear la inversion de control </pre>
    <pre
      *ngSwitchCase="'hollywood'">- Esto logra obtener las referencias y datos necesarios para funcionar mediante una entidad externa </pre>
    <pre
      *ngSwitchCase="'hollywood'">- Generalmente las entidades externas son los frameworks que ejecutan el codigo del usuario </pre>
    <pre
      *ngSwitchCase="'hollywood'">- Las instancias se crean y se eliminan de una manera más eficiente, mejorando el rendimiento </pre>

  </div>

  <app-referencia [referencia]="referencia"></app-referencia>

</div>
