<div class="content">

  <h2>Meta estructuras</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Scope'" (click)="getLinkAndTittleByKey('scope')"></app-button>

    <app-button [tittleButton]="'Precedencia'" (click)="getLinkAndTittleByKey('precedencia')"></app-button>

    <app-button [tittleButton]="'Organización'" (click)="getLinkAndTittleByKey('verticalAndHorizontal')"></app-button>

    <app-button [tittleButton]="'Expresiones regulares'" (click)="getLinkAndTittleByKey('expresionesRegulares')"></app-button>

    <app-button [tittleButton]="'Estructuras de datos'" (click)="getLinkAndTittleByKey('estructurasDatos')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content" [innerHtml]="content">{{content}}</pre>
      </span>
    </span>

  </div>

</div>
