<div class="content">

  <h2>Historias de Usuario & Metodologias Agiles </h2>

  <div class="card-container">

    <app-button [tittleButton]="'¿ que son ?'" (click)="getLinkAndTittleByKey('historias')"></app-button>

    <app-button [tittleButton]="'¿ que buscan ?'" (click)="getLinkAndTittleByKey('objetivos')"></app-button>

    <app-button [tittleButton]="'Partes'" (click)="getLinkAndTittleByKey('partes')"></app-button>

    <app-button [tittleButton]="'INVEST'" (click)="getLinkAndTittleByKey('invest')"></app-button>

    <app-button [tittleButton]="'SMART'" (click)="getLinkAndTittleByKey('smart')"></app-button>

    <app-button [tittleButton]="'Las 3 C'" (click)="getLinkAndTittleByKey('3c')"></app-button>

    <app-button [tittleButton]="'Gherkin'" (click)="getLinkAndTittleByKey('gherkin')"></app-button>

    <app-button [tittleButton]="'Descomposición'" (click)="getLinkAndTittleByKey('descomposicionHU')"></app-button>

    <app-button [tittleButton]="'Manifiesto Agil'" (click)="getLinkAndTittleByKey('agil')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content" [innerHtml]="content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>

      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>
      
    </div>

  </div>

</div>
