<div class="content">

  <h2>La Nube & APIs</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Tipos de nube'" (click)="getLinkAndTittleByKey('nube')"></app-button>

    <app-button [tittleButton]="'IaaS, PaaS, SaaS'" (click)="getLinkAndTittleByKey('iaas-paas-saas')"></app-button>

    <app-button [tittleButton]="'API'" (click)="getLinkAndTittleByKey('api')"></app-button>

    <app-button [tittleButton]="'SOAP & REST'" (click)="getLinkAndTittleByKey('rest')"></app-button>

    <app-button [tittleButton]="'Rest & RestFull'" (click)="getLinkAndTittleByKey('restfull')"></app-button>

    <app-button [tittleButton]="'Codigos HTTP'" (click)="getLinkAndTittleByKey('httpCodes')"></app-button>

    <app-button [tittleButton]="'Estandares RestFull'" (click)="getLinkAndTittleByKey('caracteristicas')"></app-button>

    <app-button [tittleButton]="'Nivel de Madurez'" (click)="getLinkAndTittleByKey('madurezDeUnaApi')"></app-button>

    <app-button [tittleButton]="'12 - factores'" (click)="getLinkAndTittleByKey('factores12')"></app-button>

    <app-button [tittleButton]="'Migraciones'" (click)="getLinkAndTittleByKey('migracionesNube')"></app-button>

    <app-button [tittleButton]="'Teorema CAP'" (click)="getLinkAndTittleByKey('capTeorema')"></app-button>

    <app-button [tittleButton]="'Servidor DNS'" (click)="getLinkAndTittleByKey('dns')"></app-button>

    <app-button [tittleButton]="'Linting'" (click)="getLinkAndTittleByKey('linting')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>

    </div>

  </div>

</div>
