<div class="card-container">

    <div *ngIf="components.size > 0 && selection !== '' " class="card-container less-margin">

        <h2>Temas complementarios</h2>

        <div class="card-container glass-efect">

            <span *ngFor="let reference of components | keyvalue">

                <div class="card card-small" (click)="routeToSelectedItem(reference.value.component, reference.key)">
                    <span>{{reference.value.tittleShort}}</span>
                </div>

            </span>

        </div>

    </div>

</div>