<div class="content">

  <h2>Frameworks</h2>

  <div class="card-container">

    <app-button [tittleButton]="'¿ Que son ?'" (click)="getLinkAndTittleByKey('frameworks')"></app-button>

    <app-button [tittleButton]="'IoC'" (click)="getLinkAndTittleByKey('ioc')"></app-button>

    <app-button [tittleButton]="'IoD'" (click)="getLinkAndTittleByKey('iod')"></app-button>

    <app-button [tittleButton]="'Spring'" (click)="getLinkAndTittleByKey('spring')"></app-button>

    <app-button [tittleButton]="'Angular'" (click)="getLinkAndTittleByKey('angular')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>

      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>
      
    </div>

  </div>

</div>
