<div class="content" role="main">

  <h1>Glosario</h1>
  <input type="text" placeholder="Buscar.." [(ngModel)]="search" name="search" (ngModelChange)="searchChanged()" />

  <div class="card-container">

    <div *ngFor="let componente of onlyComponents | filter : search" class="card card-small card-no-size tooltip"
      (click)="crearVistaItem(componente.key, view)"> {{componente.titulo}}
      <span class=" tooltiptext">Seccion: {{componente.componente}}</span>
    </div>

  </div>

  <div #view>
    <div class="card-container" *ngIf="showItem">
      <app-mini-terminal [referencia]="referencia" [titulo]="titulo" [item]="item"></app-mini-terminal>
    </div>
  </div>

  <div class="card-container">

    <a *ngFor="let linkAndFuente of onlyFuentes | filter : search" class="card card-small card-no-size" target="_blank"
      rel="noreferrer" [href]="linkAndFuente.referencia">
      <span>{{linkAndFuente.titulo}}</span>
    </a>

  </div>

</div>
