<div class="content" role="main">

  <h1>Glosario</h1>
  <input type="text" placeholder="Buscar.." [(ngModel)]="search" name="search" />

  <div class="card-container">

    <a *ngFor="let componente of onlyComponents | filter : search" class="card card-small card-no-size tooltip" target="_blank"
      rel="noreferrer" [href]="componente.referencia">
      {{componente.titulo}}
      <span class="tooltiptext">Seccion: {{componente.componente}}</span>
    </a>

  </div>

  <div class="card-container">

    <a *ngFor="let linkAndFuente of onlyFuentes | filter : search" class="card card-small card-no-size" target="_blank"
      rel="noreferrer" [href]="linkAndFuente.referencia">
      <span>{{linkAndFuente.titulo}}</span>
    </a>

  </div>

</div>
