<div class="content" role="main" #glosario>

  <h1>Glosario</h1>
  <input type="text" placeholder="Buscar.." [(ngModel)]="search" name="search" (ngModelChange)="searchChanged()" />

  <div class="card-container">

    <div *ngFor="let componente of onlyComponents | filter : search" class="card card-small card-no-size tooltip"
      (click)="crearVistaItem(componente.key, view)"> {{componente.titulo}}
      <span class="tooltiptext gradient">Seccion: {{componente.componente}}</span>
    </div>

  </div>

  <div #view>
    <div class="card-container" *ngIf="showItem">
      <app-mini-terminal [referencia]="referencia" [titulo]="titulo" [item]="item"></app-mini-terminal>
    </div>

    <div class="card-container less-margin" *ngIf="showItem">

      <div class="circle-link less-margin" (click)="scrollToView(glosario)" tabindex="0">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512">
          <path d="M256,0C114.833,0,0,114.833,0,256s114.833,256,256,256s256-114.853,256-256S397.167,0,256,0z M256,472.341
          c-119.275,0-216.341-97.046-216.341-216.341S136.725,39.659,256,39.659c119.295,0,216.341,97.046,216.341,216.341
          S375.275,472.341,256,472.341z"/>
          <path d="M369.227,283.365l-99.148-99.148c-7.734-7.694-20.226-7.694-27.96,0l-99.148,99.148c-6.365,7.416-6.365,18.382,0,25.798
          c7.119,8.309,19.651,9.28,27.96,2.161L256,226.256l85.267,85.069c7.734,7.694,20.226,7.694,27.96,0
          C376.921,303.591,376.921,291.098,369.227,283.365z"/>
        </svg>
      </div>

    </div>

  </div>

  <div class="card-container">

    <a *ngFor="let linkAndFuente of onlyFuentes | filter : search" class="card card-small card-no-size tooltip" target="_blank"
      rel="noreferrer" [href]="linkAndFuente.referencia">
      <span>{{linkAndFuente.titulo}}</span>
      <span class="tooltiptext gradient">{{linkAndFuente.componente}}</span>
    </a>

  </div>

</div>
