<div class="content">

    <h2>Personas y servicios</h2>
  
    <div class="card-container">
  
      <app-button [tittleButton]="'Personas y procesos'" (click)="getLinkAndTittleByKey('personasYprocesos')"></app-button>
  
      <app-button [tittleButton]="'Gestión de servicios'" (click)="getLinkAndTittleByKey('gestionDeServicios')"></app-button>
  
      <app-button [tittleButton]="'Gestión de activos'" (click)="getLinkAndTittleByKey('gestionDeActivos')"></app-button>
  
      <app-button [tittleButton]="'Fidelizacion'" (click)="getLinkAndTittleByKey('fidelizacion')"></app-button>
  
    </div>
  
    <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

    <div class="terminal" [ngSwitch]="selection" #terminal>
        
        <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>
    
        <pre *ngSwitchCase="'personasYprocesos'">- Las personas, los procesos y las tecnologias son el sostenimiento de toda empresa </pre>
        <pre *ngSwitchCase="'personasYprocesos'">- El personal, siempre sera necesario para pensar, planear y ejecutar </pre>
        <pre *ngSwitchCase="'personasYprocesos'">- La tecnologia, que ayuda a las personas a llevar estos procesos </pre>
        <pre *ngSwitchCase="'personasYprocesos'">- Y finalmente los procesos, que ofrecen un valor agregado al cliente </pre>
        <pre *ngSwitchCase="'personasYprocesos'">- Llegar a un equilibrio de estos elementos es un equilibrio dificl de lograr </pre>
        <pre *ngSwitchCase="'personasYprocesos'">- Cualquier cambio de estas partes traera efectos secundarios sobre las demas </pre>
        <pre *ngSwitchCase="'personasYprocesos'"></pre>
        <pre *ngSwitchCase="'personasYprocesos'">- Algunos de los objetivos de tener este equilibrio son: </pre>
        <pre *ngSwitchCase="'personasYprocesos'"> - Transformar los datos en conocimiento e información </pre>
        <pre *ngSwitchCase="'personasYprocesos'"> - Permitir que el conocimiento se accesible para todos y generable por todos </pre>
        <pre *ngSwitchCase="'personasYprocesos'"> - Mejora continua de los procesos y aumentar la productividad </pre>

        <pre *ngSwitchCase="'gestionDeServicios'">- Es una metodologia que pone su foco en el cliente y como mejorar su atención </pre>
        <pre *ngSwitchCase="'gestionDeServicios'">- Toda organización debe contar con personal competente en cuanto al uso de las tecnologias que se usen </pre>
        <pre *ngSwitchCase="'gestionDeServicios'">- Los proveedores y los socios son partes importantes de toda empresa, no se pueden ignorar </pre>
        <pre *ngSwitchCase="'gestionDeServicios'">- La creación de valor es importante para todo producto y servicio que se ofrezcan </pre>
        <pre *ngSwitchCase="'gestionDeServicios'"></pre>
        <pre *ngSwitchCase="'gestionDeServicios'">- Estos son 7 principios para una correcta gestión </pre>
        <pre *ngSwitchCase="'gestionDeServicios'"> - Se debe crear el mayor valor para los clientes a la vez que se perjudican lo menos posible </pre>
        <pre *ngSwitchCase="'gestionDeServicios'"> - Siempre sera mejor revisar los procesos existentes y mejorarlos que empezar desde cero </pre>
        <pre *ngSwitchCase="'gestionDeServicios'"> - Es mejor avanzar seguro y constante con un enfoque concreto </pre>
        <pre *ngSwitchCase="'gestionDeServicios'"> - El trabajo en equipo es importante, todos deben ser visibles y colaborarse entre si </pre>
        <pre *ngSwitchCase="'gestionDeServicios'"> - Tener una consciencia holistica, ya que todas las areas se afectan entre si de alguna manera </pre>
        <pre *ngSwitchCase="'gestionDeServicios'"> - Entre más simple sea un proceso mejor </pre>
        <pre *ngSwitchCase="'gestionDeServicios'"> - La automatización y la optimización siempre deben ser aspectos a alcanzar </pre>
  
        <pre *ngSwitchCase="'gestionDeActivos'">- Los elementos fisicos y no fisicos de las empresas tambien deben ser considerados como partes del negocio </pre>
        <pre *ngSwitchCase="'gestionDeActivos'">- Esto se puede aplicar a todo software que la empresa use o desarrolle y los elementos necesarios para su funcionamiento </pre>
        <pre *ngSwitchCase="'gestionDeActivos'">- Tener un inventario actualizado garantiza que siempre se maneje lo necesario </pre>
        <pre *ngSwitchCase="'gestionDeActivos'">- En un contexto informatico esto se puede aplicar de varias formas, principalmente al manejo de archivos electronicos </pre>
        <pre *ngSwitchCase="'gestionDeActivos'"> - además de las licencias que se usan y que se generan desde la misma empresa </pre>
        <pre *ngSwitchCase="'gestionDeActivos'"></pre>
        <pre *ngSwitchCase="'gestionDeActivos'">- Algunos ejemplos de activos: </pre>
        <pre *ngSwitchCase="'gestionDeActivos'"> - Hardware -> dispositivos de redes, centros de datos, servidores</pre>
        <pre *ngSwitchCase="'gestionDeActivos'"> - Infraestructura proporcionada por terceros, y dispositivos propios de la empresa usados por los usuarios finales </pre>
        <pre *ngSwitchCase="'gestionDeActivos'"> - Datos digitales derivados de las operaciones internas </pre>
        <pre *ngSwitchCase="'gestionDeActivos'"></pre>
        <pre *ngSwitchCase="'gestionDeActivos'">- Estos suelen tener un ciclo de vida ciclico, el cual es el siguiente: </pre>
        <pre *ngSwitchCase="'gestionDeActivos'">  -> Planear ->         -> Adquirir ->    -> Asignación ->       -> Mantenimiento ->    -> Retiro ->          </pre>
        <pre *ngSwitchCase="'gestionDeActivos'">  Como obtenerlos       Construcción,     Introducción al        prolongar la vida      Al final del          </pre>
        <pre *ngSwitchCase="'gestionDeActivos'">  y como se usaran      compra,           ambiente productivo    util o mitigar los     este debe ser         </pre>
        <pre *ngSwitchCase="'gestionDeActivos'">  además de analizar    arrendamiento     y definiciones de      riesgos de posibles    retirado y desechado  </pre>
        <pre *ngSwitchCase="'gestionDeActivos'">  costos/beneficios     o licencias       procesos y usos        fallos                 o solo cancelado      </pre>
        <pre *ngSwitchCase="'gestionDeActivos'"></pre>
        <pre *ngSwitchCase="'gestionDeActivos'">- Beneficios de esta gestión </pre>
        <pre *ngSwitchCase="'gestionDeActivos'"> - Mejores decisiones en base a información actual y verificable </pre>
        <pre *ngSwitchCase="'gestionDeActivos'"> - Continuidad del negocio al estar mejor preparados para las interrupciónes del negocio </pre>
        <pre *ngSwitchCase="'gestionDeActivos'"> - Manejo oportuno de las licencias y suscripciones de la empresa </pre>
        <pre *ngSwitchCase="'gestionDeActivos'"> - Costos totales de la empresa de manera global </pre>
        <pre *ngSwitchCase="'gestionDeActivos'"> - Permite la estandarización de manera transversal en la empresa </pre>

        <pre *ngSwitchCase="'fidelizacion'">- Fidelizar a un cliente, garantiza que esta siempre permanecera comprando nuestos productos y servicios </pre>
        <pre *ngSwitchCase="'fidelizacion'">- Segun la ley de pareto el 80% de las ventas son de los clientes actuales y 20% de los nuevos </pre>
        <pre *ngSwitchCase="'fidelizacion'">- Es un error comun concentrarse en adquirir nuevos clientes y descuidar los viejos </pre>
        <pre *ngSwitchCase="'fidelizacion'">- Un cliente satisfecho es la mejor publicidad, aun asi, esto no siginifica que sea un cliente fiel </pre>
        <pre *ngSwitchCase="'fidelizacion'">- </pre>
        <pre *ngSwitchCase="'fidelizacion'">- Algunas estrategias para fidelizar a los clientes: </pre>
        <pre *ngSwitchCase="'fidelizacion'"> - Ser honestos en la justa medida, ya que no siempre todo sera una historia de exito </pre>
        <pre *ngSwitchCase="'fidelizacion'"> - Mantener una comunicación constante, haciendo saber los resultados de manera regular </pre>
        <pre *ngSwitchCase="'fidelizacion'"> - Preparar un plan a futuro que lo haga sentir importante </pre>
        <pre *ngSwitchCase="'fidelizacion'"> - Comparte los momentos de exito, no solo los fracasos merecen atención </pre>
        <pre *ngSwitchCase="'fidelizacion'"> - Solicita sus opiniones y hazlos sentir escuchados </pre>
        <pre *ngSwitchCase="'fidelizacion'"> - Las relaciones son mejores cuando son reciprocas </pre>
        <pre *ngSwitchCase="'fidelizacion'"></pre>
        <pre *ngSwitchCase="'fidelizacion'">- Clasificación de los clientes: </pre>
        <pre *ngSwitchCase="'fidelizacion'"> - Apostoles -> clientes fijos bastantes satisfechos y que recomendaran tu marca </pre>
        <pre *ngSwitchCase="'fidelizacion'"> - Leales -> cuentan igual de satisfechos que los apostoles, pero que no divulgan tu marca </pre>
        <pre *ngSwitchCase="'fidelizacion'"> - Mercenarios -> tienen satisfacción alta, pero solo compraran cuando esto les aporte algun beneficio </pre>
        <pre *ngSwitchCase="'fidelizacion'"> - Rehenes -> no estan satisfechos con tu producto, pero tampoco estan dispuestos a migrar ni asummir más costos </pre>
        <pre *ngSwitchCase="'fidelizacion'"> - Indiferentes -> son neutrales frente a la marca, y aunque esten satisfechos solo haran compras ocasionales </pre>
        <pre *ngSwitchCase="'fidelizacion'"> - Terroristas -> además de estar insatisfechos, estos hablaran mal de la marca en sus circulos de influencia </pre>
        
      </div>
        
    </div>
  