<div class="content">

  <h2>Refactorización & Deuda tecnica</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Codigó limpio'" (click)="getLinkAndTittleByKey('codigolimpio')"></app-button>

    <app-button [tittleButton]="'Deuda tecnica'" (click)="getLinkAndTittleByKey('deudatecnica')"></app-button>

    <app-button [tittleButton]="'Tipos de deuda'" (click)="getLinkAndTittleByKey('tiposDeudaTecnica')"></app-button>

    <app-button [tittleButton]="'Comentar la deuda'" (click)="getLinkAndTittleByKey('comentarios')"></app-button>

    <app-button [tittleButton]="'¿ Cuando ?'" (click)="getLinkAndTittleByKey('cuandorefactorizar')"></app-button>

    <app-button [tittleButton]="'¿ Como ?'" (click)="getLinkAndTittleByKey('comorefactorizar')"></app-button>

    <app-button [tittleButton]="'Tecnicas'" (click)="getLinkAndTittleByKey('tecnicasRefactoring')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>

    </div>

  </div>

</div>
