<div class="content">

  <h2>Refactorización & Deuda tecnica</h2>

  <div class="card-container">

    <div class="card card-small" (click)="getLinkAndTittleByKey('codigolimpio')" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>Codigó limpio</span>
    </div>

    <div class="card card-small" (click)="getLinkAndTittleByKey('deudatecnica')" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>Deuda tecnica</span>
    </div>

    <div class="card card-small" (click)="getLinkAndTittleByKey('tipos')" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>Tipos de deuda</span>
    </div>    

    <div class="card card-small" (click)="getLinkAndTittleByKey('comentarios')" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>Comentar la deuda</span>
    </div> 

    <div class="card card-small" (click)="getLinkAndTittleByKey('cuandorefactorizar')" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span> ¿ Cuando ?</span>
    </div>

    <div class="card card-small" (click)="getLinkAndTittleByKey('comorefactorizar')" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>¿ Como ?</span>
    </div>

  </div>

  <div class="terminal window" ></div>
  <div class="terminal" *ngIf="titulo !== '' "><h2>{{titulo}}</h2></div>
  <div class="terminal" [ngSwitch]="selection" #terminal>
    <pre *ngSwitchDefault>Selecciona una opcion para ver más </pre>

    <pre *ngSwitchCase="'codigolimpio'">- Menos es Más, el poder de la simplicidad hecho codigo</pre>
    <pre *ngSwitchCase="'codigolimpio'">- Es más facil de entender para otros, y a traves del tiempo </pre>
    <pre *ngSwitchCase="'codigolimpio'">- Es más facil de mantener a lo largo del tiempo </pre>
    <pre *ngSwitchCase="'codigolimpio'">- El codigo duplicado se reduce considerablamente </pre>
    <pre *ngSwitchCase="'codigolimpio'">- Los tests son satisfactorios de manera regular </pre>

    <pre *ngSwitchCase="'deudatecnica'">- Todo desarrollador desea crear un buen codigo pero las omisiones o errores crecen sigilosamente </pre>
    <pre *ngSwitchCase="'deudatecnica'">- La mala modularización del codigo puede hacer que los cambios tengan un gran impacto</pre>
    <pre *ngSwitchCase="'deudatecnica'">- Apurar el desarrollo puede crear soluciones rapidas pero incompletas</pre>
    <pre *ngSwitchCase="'deudatecnica'">- La falta de pruebas puede tener efectos colaterales inmesamente destructivos</pre>
    <pre *ngSwitchCase="'deudatecnica'">- La Documentación siempre sera necesaria, y omitirla entorpecera futuros cambios</pre>
    <pre *ngSwitchCase="'deudatecnica'">- Sin comunicación o interacciones incompletas pueden generar pequeñas islas dentro de la empresa </pre>
    <pre *ngSwitchCase="'deudatecnica'">- Tambien existe el elemento humano cuando el desarrollador es inexperto o incompetente</pre>

    <pre *ngSwitchCase="'tipos'">- No realizar los cambios necesarios con premura hara que en el futuro sea más dificil y costoso refactorizar </pre>
    <pre *ngSwitchCase="'tipos'"></pre>
    <pre *ngSwitchCase="'tipos'">                            Deuda imprudente                       Deuda prudente          </pre>
    <pre *ngSwitchCase="'tipos'"></pre>
    <pre *ngSwitchCase="'tipos'">                       -Falta de tiempo/presupuesto          -Prioridad de funcionalidades </pre>
    <pre *ngSwitchCase="'tipos'">Deuda deliberada       -Refactor descuidado                   con la promesa de mejora     </pre>
    <pre *ngSwitchCase="'tipos'">                       -Insuficiencia de pruebas             -Minimo de pruebas a hacer    </pre>
    <pre *ngSwitchCase="'tipos'"></pre>
    <pre *ngSwitchCase="'tipos'">                       -Falta de conocimiento                -El refactor constante evita  </pre>
    <pre *ngSwitchCase="'tipos'">Deuda involuntaria     -Sobreingenieria                       estos problemas, mientras se </pre>
    <pre *ngSwitchCase="'tipos'">                       -Anti patrones de diseño               aprende de los errores       </pre>

    <pre *ngSwitchCase="'comentarios'">- Comentar el codigo es sumamente util para determinar los segementos que necesitan correciones </pre>
    <pre *ngSwitchCase="'comentarios'">- La mayoria de IDEs admiten comentarios con etiquetas como:  </pre>
    <pre *ngSwitchCase="'comentarios'"> - TODO -> lugares que se pueden mejorar, ya sea legilibilidad, complejidad, etc.. </pre>
    <pre *ngSwitchCase="'comentarios'"> - FIXME -> porción de codigo que falla en circuntancias especificas y debe ser revisada </pre>
    <pre *ngSwitchCase="'comentarios'"> - NOTE -> funcionamiento interno ó posibles problemas no documentadas </pre>
    <pre *ngSwitchCase="'comentarios'"> - KLUDGE -> codigo ineficiente, complejo ó insondable </pre>

    <pre *ngSwitchCase="'cuandorefactorizar'">- Cuando se inicia a duplicar codigo, eventualmente sera necesario refactorizarlo</pre>
    <pre *ngSwitchCase="'cuandorefactorizar'">- Cuando se empieza se arregla un error es una excelente oportunidad para hacerlo</pre>
    <pre *ngSwitchCase="'cuandorefactorizar'">- Cuando se hagan revisiones, siempre hay espacio para la mejora</pre>
    <pre *ngSwitchCase="'cuandorefactorizar'">- Cuando se agregan nuevas funciones, tambien se pueden refactorizar las existentes </pre>

    <pre *ngSwitchCase="'comorefactorizar'">- El resultado debe ser mejor que lo anterior, de lo contrario sera tiempo perdido </pre>
    <pre *ngSwitchCase="'comorefactorizar'">- No se deben crear nuevas funciones, eso es estrictamente en tiempo de desarrollo </pre>
    <pre *ngSwitchCase="'comorefactorizar'">- Los tests deben seguir pasando tal y como antes de empezar</pre>

  </div>

  <app-referencia [referencia]="referencia"></app-referencia>

</div>
