<div class="content">

    <div *ngIf="!iterationBackwards" class="card-container less-margin">

        <span *ngFor="let tittle of tittles | keyvalue: asIsOrder">
            <div class="card card-small" [ngClass]="{'itemSelected' : tittle.key === this.selection }"
                (click)="setDataByKey(tittle.key)">
                <span>{{tittle.value}}</span>
            </div>
        </span>

    </div>

    <div *ngIf="iterationBackwards" class="card-container less-margin">

        <span *ngFor="let tittle of tittles | keyvalue: orderReverse">
            <div class="card card-small" [ngClass]="{'itemSelected' : tittle.key === this.selection }"
                (click)="setDataByKey(tittle.key)">
                <span>{{tittle.value}}</span>
            </div>
        </span>

    </div>

    <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

    <div class="terminal" [ngSwitch]="selection" *ngIf="selection !== '' " #terminal>
        
        <span *ngFor="let item of items">
            <span *ngSwitchCase="item.key">
                <pre *ngFor="let content of item.content" [innerHTML]="content">{{content}}</pre>
            </span>
        </span>

        <div class="card-container less-margin">

            <div class="circle-link" *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 490 490">
                  <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                  <path *ngIf="!iterationBackwards" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 
                  0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"/>
                  <path *ngIf="iterationBackwards" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 
                  256 214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 
                  12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L269.3 256 406.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/>
                </svg>
            </div>

            <div *ngIf="relatedSections.size > 0 || dateRead !== '' || dateUpdate !== '' || relatedItems.length > 0" class="circle-link" (click)="showHideRelatedSections()">
                <svg *ngIf="!showRelatedSections" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 448 512">
                    <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                </svg>
                <svg *ngIf="showRelatedSections" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 448 512">
                    <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/>
                </svg>
            </div>

            <div class="circle-link" *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 490 490">
                  <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                  <path *ngIf="!iterationBackwards" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 
                  9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"/>
                  <path *ngIf="iterationBackwards" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L370.7 256 233.4 
                  393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 
                  0s-12.5 32.8 0 45.3L178.7 256 41.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/>
                </svg>
            </div>

        </div>

    </div>

    <div *ngIf="showRelatedSections && (dateRead !== '' || dateUpdate !== '' || relatedItems.length > 0)" class="card-container less-margin">
        <app-extra-info 
            [dateRead]="dateRead" 
            [dateUpdate]="dateUpdate"
            [relatedItems]="relatedItems" 
            [selection]="selection">
        </app-extra-info>
    </div>

    <div *ngIf="showRelatedSections && relatedSections.size > 0 && selection !== '' " class="card-container less-margin">
        
        <h2>Temas Relacionados</h2>
    
        <div class="card-container glass-efect">

            <span *ngFor="let tittle of relatedSections | keyvalue">
                
                <div class="card card-small" (click)="routeToRelatedSection(tittle.value)" tabindex="0">
                    <span>{{tittle.key}}</span>
                </div>

            </span>
    
        </div>

    </div>

</div>