<div class="content">

    <h2>Pruebas en el desarrollo de Software</h2>
  
    <div class="card-container">
  
      <div class="card card-small" (click)="getLinkAndTittleByKey('principios')" tabindex="0">
          <svg class="material-icons" width="24" height="24" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
            <path d="M296,232c-5.52,0-10,4.48-10,10s4.48,10,10,10c5.52,0,10-4.48,10-10S301.52,232,296,232z"/>
            <path d="M256,172c-5.52,0-10,4.48-10,10s4.48,10,10,10c5.52,0,10-4.48,10-10S261.52,172,256,172z"/>
            <path d="M136,432c-5.52,0-10,4.48-10,10c0,5.52,4.48,10,10,10s10-4.48,10-10C146,436.48,141.52,432,136,432z"/>
            <path d="M454.416,407.678L326,179.381V58.286c11.641-4.127,20-15.248,20-28.286c0-16.542-13.458-30-30-30H196
              c-16.542,0-30,13.458-30,30c0,13.038,8.359,24.159,20,28.286v121.095L57.584,407.678c-12.328,21.916-12.109,47.959,0.584,69.663
              C70.86,499.043,93.448,512,118.59,512h274.82c25.142,0,47.729-12.957,60.422-34.659
              C466.525,455.637,466.744,429.594,454.416,407.678z M204.716,186.902c0.842-1.496,1.284-3.185,1.284-4.902V60h10
              c5.522,0,10-4.478,10-10s-4.478-10-10-10h-20c-5.514,0-10-4.486-10-10s4.486-10,10-10h120c5.514,0,10,4.486,10,10s-4.486,10-10,10
              h-20c-5.522,0-10,4.478-10,10s4.478,10,10,10h10v122c0,1.718,0.442,3.405,1.284,4.902l58.941,104.787
              c-35.995-2.915-71.865,4.365-104.821,21.43c-42.366,21.924-89.529,25.784-134,11.227L204.716,186.902z M436.567,467.244
              C427.502,482.745,411.368,492,393.41,492H118.59c-17.958,0-34.092-9.255-43.157-24.756c-9.067-15.503-9.224-34.106-0.417-49.762
              l42.408-75.392c20.576,7.185,41.84,10.812,63.437,10.812c3.197,0,6.402-0.079,9.613-0.238
              c27.905-1.382,54.862-8.711,80.124-21.784c33.792-17.496,70.959-23.536,107.783-17.581l58.604,104.183
              C445.791,433.138,445.635,451.741,436.567,467.244z"/>
            <path d="M216,232c-16.542,0-30,13.458-30,30s13.458,30,30,30s30-13.458,30-30S232.542,232,216,232z M216,272c-5.514,0-10-4.486-10-10c0-5.514,4.486-10,10-10c5.514,0,10,4.486,10,10C226,267.514,221.514,272,216,272z"/>
            <path d="M376,432H176c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h200c5.522,0,10-4.478,10-10C386,436.478,381.522,432,376,432z"/>
      </svg>
        <span> Principios de testing </span>
      </div>
  
      <div class="card card-small" (click)="getLinkAndTittleByKey('manifiesto')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Testing manifiesto</span>
      </div>
  
      <div class="card card-small" (click)="getLinkAndTittleByKey('tipos')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Tipos</span>
      </div>
  
      <div class="card card-small" (click)="getLinkAndTittleByKey('beneficios')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Beneficios</span>
      </div>
  
      <div class="card card-small" (click)="getLinkAndTittleByKey('nombramiento')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Nombramiento</span>
      </div>
  
      <div class="card card-small" (click)="getLinkAndTittleByKey('first')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Principio FIRST</span>
      </div>
  
      <div class="card card-small" (click)="getLinkAndTittleByKey('sutydoc')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>SUT & DOC</span>
      </div>
  
      <div class="card card-small" (click)="getLinkAndTittleByKey('dobles')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Dobles</span>
      </div>

      <div class="card card-small" (click)="getLinkAndTittleByKey('aaa')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>AAA</span>
      </div>

      <div class="card card-small" (click)="getLinkAndTittleByKey('gwt')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>GWT</span>
      </div>

      <div class="card card-small" (click)="getLinkAndTittleByKey('piramide')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Piramides de tests</span>
      </div>

      <div class="card card-small" (click)="getLinkAndTittleByKey('triangulo')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Triangulo de Hierro</span>
      </div>

      <div class="card card-small" (click)="getLinkAndTittleByKey('logging')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Logs VS Debug</span>
      </div>

      <div class="card card-small" (click)="getLinkAndTittleByKey('cobertura')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Cobertura</span>
      </div>

      <div class="card card-small" (click)="getLinkAndTittleByKey('falsos')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Falsos Resultados</span>
      </div>
  
    </div>
  
    <div class="terminal window" ></div>
    <div class="terminal" *ngIf="titulo !== '' "><h2>{{titulo}}</h2></div>
    <div class="terminal" [ngSwitch]="selection" #terminal>
  
      <pre *ngSwitchDefault>Selecciona una opcion para ver más </pre>
    
      <pre *ngSwitchCase="'principios'">- Las pruebas demuestran la presencia de defectos, por ende entre más pruebas halla mejor </pre>
      <pre *ngSwitchCase="'principios'">- Es improductivo hacer pruebas exhaustivas, ademas de que es casi imposible de hacer </pre>
      <pre *ngSwitchCase="'principios'">- Las pruebas tempranas ayudan a encontrar defectos con prontitud, y a su vez reducir tiempo y costos </pre>
      <pre *ngSwitchCase="'principios'">- Agrupar defectos permite que las soluciones sean más especializadas, y las pruebas sean más efectivas </pre>
      <pre *ngSwitchCase="'principios'">- La paradoja del pesticida, si nuestro software cambia, las pruebas tambien deben hacerlo, que sigan funcionando no siempre es buena señal </pre>
      <pre *ngSwitchCase="'principios'">- Las pruebas dependen del contexto, entre más se parezca el entorno de pruebas al entorno de producción mejor </pre>
      <pre *ngSwitchCase="'principios'">- Que no se presenten errores no significa que no se presentaran errores, solo que no se han dado las condiciones</pre>

      <pre *ngSwitchCase="'manifiesto'">- El testing no es una fase más, siempre debe estar presente en todo el desarrollo</pre>
      <pre *ngSwitchCase="'manifiesto'">- La calidad no depende solo de las pruebas, es un proceso constante durante todo el ciclo de vida </pre>
      <pre *ngSwitchCase="'manifiesto'"></pre>
      <pre *ngSwitchCase="'manifiesto'"> - Testing inicial <strong> SOBRE </strong> testing final </pre>
      <pre *ngSwitchCase="'manifiesto'"> - Prevenir bugs <strong> SOBRE </strong> encontrar bugs </pre>
      <pre *ngSwitchCase="'manifiesto'"> - Entender que se prueba <strong> SOBRE </strong> probar una funcionalidad </pre>
      <pre *ngSwitchCase="'manifiesto'"> - Construir un mejor sistema <strong> SOBRE </strong> destruir el sistema </pre>
      <pre *ngSwitchCase="'manifiesto'"> - Responsabilidad del equipo <strong> SOBRE </strong> la responsabilidad del tester </pre>
  
      <pre *ngSwitchCase="'tipos'"> - Funcionales    -> prueban las funcionalidades del sistema y suelen ser de caja negra, al validar el QUE más que el COMO </pre>
      <pre *ngSwitchCase="'tipos'"> - No Funcionales -> estas validan cosas como carga, estres, rendimiento, confiabilidad, etc... </pre>
      <pre *ngSwitchCase="'tipos'"></pre>
      <pre *ngSwitchCase="'tipos'"> - Estructurales -> indagan la estructura interna del programa y sus relaciones, aca se pueden incluir las pruebas unitarias y de integración </pre>
      <pre *ngSwitchCase="'tipos'"> - Estructurales -> estan son de tipo caja blanca, ya que es necesario conocer todo el sistema y como funciona para que sean bien planificadas </pre>
      <pre *ngSwitchCase="'tipos'"></pre>
      <pre *ngSwitchCase="'tipos'"> - Regresión -> basicamente es volver a correr todas la pruebas despues de que se cambien componentes ó se corrija un problema </pre>
      <pre *ngSwitchCase="'tipos'"> - Regresión -> dependiendo de la cantidad de pruebas que hayan y de su complejidad puede ser una operación bastante demorada </pre>

      <pre *ngSwitchCase="'beneficios'"> - La calidad mejora al encontrar errores en etapas previas y durante el desarrollo, en vez de hacerlo en etapas finales </pre>
      <pre *ngSwitchCase="'beneficios'"> - Los cambios son hechos de manera más agil al inducir una mayor comunicación con todo el equipo </pre>
      <pre *ngSwitchCase="'beneficios'"> - Reducen el tiempo y los costos asociados a la mantenibilidad del software </pre>
      <pre *ngSwitchCase="'beneficios'"> - Los tests pueden tener documentación la cual no debe ser muy extensa, y tambien pueden servir como documentación </pre>
  
      <pre *ngSwitchCase="'nombramiento'"> - Representa el intercambio de mensajes entre los diferentes componentes del sistema para lograr una funcionalidad </pre>
      <pre *ngSwitchCase="'nombramiento'"> - El tiempo es importante ya que un mensaje debe terminar para que otro empieze (generalmente) </pre>
      <pre *ngSwitchCase="'nombramiento'"> - Los objetos que interactuan puede ser simple clases, hasta modulos y sistemas completos </pre>
      <pre *ngSwitchCase="'nombramiento'"> - El diablo esta en los detalles, saber nombrar los elementos que intervienen ayudara al analisis </pre>
      <pre *ngSwitchCase="'nombramiento'"></pre>
      <pre *ngSwitchCase="'nombramiento'"> - Clases -> deberian tener un indicador que las agrupe, como: (nombreClase)Test </pre>
      <pre *ngSwitchCase="'nombramiento'"> - Metodos -> hay varias convenciones, pero generalmente deben incluir:  </pre>
      <pre *ngSwitchCase="'nombramiento'">   - nombre del metodo, estado a probar, comportamiento esperado; tambien se pueden incluir las palabras de given, when, should, test  </pre>
      <pre *ngSwitchCase="'nombramiento'"></pre>
      <pre *ngSwitchCase="'nombramiento'"> - Variables -> deben describir el proposito de cada variable, no deben ser resumidas ni genericas, algunos ejemplos pueden ser: </pre>
      <pre *ngSwitchCase="'nombramiento'">   - target, expected, actual, valid, invalid, Object(Mock)</pre>
  
      <pre *ngSwitchCase="'first'"> Fast            -> los tests unitarios deben ser lo más rapido posible, ya que se suelen tener cientos de pruebas y ejecutarlas conlleva tiempo y recursos </pre>
      <pre *ngSwitchCase="'first'"> Independent     -> cada test debe ser independiente de los demás, de lo contrario habra un acoplamiento no deseado </pre>
      <pre *ngSwitchCase="'first'"> Repeatable      -> las pruebas deben funcionar en cualquier ambiente que se ejecuten, ya sea local o en un ambiente de integración </pre>
      <pre *ngSwitchCase="'first'"> Self-Validating -> las pruebas deben mostrar resultados concluyentes, estos no deben tener intervención humana para que sean validos </pre>
      <pre *ngSwitchCase="'first'"> Timely          -> toda prueba debe ser oportuna y debe tener una razon de ser, si no se pueden justificar, estas habran sido una perdida de tiempo </pre>
  
      <pre *ngSwitchCase="'sutydoc'"> - System Under Test </pre>
      <pre *ngSwitchCase="'sutydoc'">   - Es aquello que se esta probando ya sea una clase, un componente, una funcionalidad </pre>
      <pre *ngSwitchCase="'sutydoc'"> - Depend On Component </pre>
      <pre *ngSwitchCase="'sutydoc'">   - Es lo que necesita cada SUT para poder funcionar, y que la prueba pueda ser llevada a cabo </pre>
      <pre *ngSwitchCase="'sutydoc'"> - Organización </pre>
      <pre *ngSwitchCase="'sutydoc'">   - Generalmente se organizan mediante una tabla que contiene el tipo de prueba, los SUTs y los DOCs </pre>
  
      <pre *ngSwitchCase="'dobles'">- Son objetos que se comportan de manera igual que el elemento que copian, pero son más simples de manejar </pre>
      <pre *ngSwitchCase="'dobles'">  - Dummy -> Es un objeto con valore concretos que solo sirve para que se cumplan ciertas precondiciones </pre>
      <pre *ngSwitchCase="'dobles'">  - Fake  -> son funcionales y se comportan igual que en producción, solo que de una manera más simple y limitada </pre>
      <pre *ngSwitchCase="'dobles'">  - Stub  -> Es un objeto que ya viene con una información predefinida, en vez de información real e impredecible </pre>
      <pre *ngSwitchCase="'dobles'">  - Mock  -> Son objetos que actuan de acuerdo a una llamada en especifico, de lo contrario no funcionaran debidamente </pre>
      <pre *ngSwitchCase="'dobles'">  - Spies -> Este objeto se encarga de visualizar todos los procesos y llamados internos, verificando que sean los desados </pre>

      <pre *ngSwitchCase="'aaa'">- Arrange -> en esta parte se organiza todo lo necesario y se deben establecer las condiciones del test </pre>
      <pre *ngSwitchCase="'aaa'">- Act     -> es la ejecución del fragmento a testear</pre>
      <pre *ngSwitchCase="'aaa'">- Assert  -> ultimo paso de la prueba y es la comprobación de lo resultados </pre>

      <pre *ngSwitchCase="'gwt'">- Funciona de la misma manera que AAA, con algunas ventajas (Given, When, Then)</pre>
      <pre *ngSwitchCase="'gwt'">- Puede ser usado con frameworks de BDD, es más que solo una estructura</pre>
      <pre *ngSwitchCase="'gwt'">- Es obicuo por lo que más personas pueden entenderlo sin necesidad de un conocimiento completo del sistema </pre>
      <pre *ngSwitchCase="'gwt'">- Añade valor extra al negocio, al interconectar el codigo y las pruebas a un nivel mayor </pre>

      <pre *ngSwitchCase="'piramide'">        Exploracion                                                 </pre>
      <pre *ngSwitchCase="'piramide'">         GUI  Tests          Piramide de tests:                     </pre>
      <pre *ngSwitchCase="'piramide'">       API      Tests        La mayor parte de las pruebas deberian </pre>
      <pre *ngSwitchCase="'piramide'">     Integration  Tests      ser unitarias, y la menor parte        </pre>
      <pre *ngSwitchCase="'piramide'">   Component       Tests     deberian ser la interfaz grafica       </pre>
      <pre *ngSwitchCase="'piramide'"> Unit               Tests                                           </pre>
      <pre *ngSwitchCase="'piramide'"></pre>
      <pre *ngSwitchCase="'piramide'">        Exploracion                                                 </pre>
      <pre *ngSwitchCase="'piramide'"> GUI                Tests    Cono de helado:                        </pre>
      <pre *ngSwitchCase="'piramide'">   API             Tests     Es un anti patron de pruebas           </pre>
      <pre *ngSwitchCase="'piramide'">     Integration  Tests      Donde la mayoria de pruebas son        </pre>
      <pre *ngSwitchCase="'piramide'">       Component Tests       de la interfaz graficas                </pre>
      <pre *ngSwitchCase="'piramide'">         Unit   Tests        y NO pruebas unitarias                 </pre>

      <pre *ngSwitchCase="'triangulo'">         Alcance              Alcance -> requisitos ó tareas a realizar            </pre>
      <pre *ngSwitchCase="'triangulo'">                              Tiempo -> planificicación de la duración del proyecto </pre>
      <pre *ngSwitchCase="'triangulo'">         Calidad              Costos -> recursos a gastar el proyecto              </pre>
      <pre *ngSwitchCase="'triangulo'">                                                                                   </pre>
      <pre *ngSwitchCase="'triangulo'">   Costo         Tiempo                                                            </pre>

      <pre *ngSwitchCase="'logging'"> “Depurar es como ser el detective de una película policial en la que también eres el asesino. ”- Filipe Fortes </pre>
      <pre *ngSwitchCase="'logging'"></pre>
      <pre *ngSwitchCase="'logging'">- Depurar es recomendable cuando la pila de llamadas es demasiado extensa y compleja</pre>
      <pre *ngSwitchCase="'logging'">- Registrar es util cuando la aplicación ó funcionalidad es pequeña y de baja complejidad </pre>
      <pre *ngSwitchCase="'logging'">- Esta elección tambien depende de la comodiad de cada programador y de su eficiencia con cada herramienta </pre>

      <pre *ngSwitchCase="'cobertura'">- La cobertura del codigo es fundamental para garantizar un alcance optimo de las pruebas </pre>
      <pre *ngSwitchCase="'cobertura'">- No hay un numero magico para todos los proyectos, cada uno tendra una cobertura ideal</pre>
      <pre *ngSwitchCase="'cobertura'">- El 100% de esta cobertura no es garantia de ausencia de errores, como el 50% no es garantia de la calidad de las pruebas </pre>
      <pre *ngSwitchCase="'cobertura'">- Esto es importante ya que se puede usar para hacer despliegues e integración continua, y encontrar codigo muerto </pre>
      <pre *ngSwitchCase="'cobertura'">- Existen varios tipos de cobertura, pero el más usado es la cobertura de las lineas de codigo </pre>

      <pre *ngSwitchCase="'falsos'">- Falsos Positivos & Falsos Negativos </pre>
      <pre *ngSwitchCase="'falsos'">- Son comunes en ambientes inestables, ó poco hermeticos </pre>
      <pre *ngSwitchCase="'falsos'"></pre>
      <pre *ngSwitchCase="'falsos'">- Falso Positivo -> ocurre cuando se detectan defectos, que no son culpa del componente inmediato </pre>
      <pre *ngSwitchCase="'falsos'">  - Esto puede ser debido a fuentes externas de error, inestabilidad del ambiente, errores de los datos </pre>
      <pre *ngSwitchCase="'falsos'"></pre>
      <pre *ngSwitchCase="'falsos'">- Falso Negativo -> ocurre cuando no se detectan errores, que estan presentes en lo que se esta probando </pre>
      <pre *ngSwitchCase="'falsos'">  - Suelen suceder por pruebas mal desarrolladas, más que por el propio entorno </pre>

    </div>
  
    <app-referencia [referencia]="referencia"></app-referencia>
  
  </div>
