<div class="content" role="main">

  <h2>Principios</h2>

  <div class="card-container">

    <app-button [tittleButton]="'SOLID'" (click)="getLinkAndTittleByKey('solid')"></app-button>

    <app-button [tittleButton]="'KISS'" (click)="getLinkAndTittleByKey('kiss')"></app-button>

    <app-button [tittleButton]="'YAGNI'" (click)="getLinkAndTittleByKey('yagni')"></app-button>

    <app-button [tittleButton]="'Occam'" (click)="getLinkAndTittleByKey('occam')"></app-button>

    <app-button [tittleButton]="'DRY'" (click)="getLinkAndTittleByKey('dry')"></app-button>

    <app-button [tittleButton]="'Hollywood'" (click)="getLinkAndTittleByKey('hollywood')"></app-button>

    <app-button [tittleButton]="'TDA'" (click)="getLinkAndTittleByKey('tellDontAsk')"></app-button>

    <app-button [tittleButton]="'STUPID'" (click)="getLinkAndTittleByKey('stupid')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>

    </div>

  </div>

</div>
