<div class="content">

  <h2>Caracteristicas del codigo (metadatos)</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Meta data'" (click)="getLinkAndTittleByKey('metaDatos')"></app-button>

    <app-button [tittleButton]="'Meta Clase'" (click)="getLinkAndTittleByKey('metaClase')"></app-button>

    <app-button [tittleButton]="'Reflexión'" (click)="getLinkAndTittleByKey('reflexion')"></app-button>

    <app-button [tittleButton]="'Aserciones'" (click)="getLinkAndTittleByKey('asserts')"></app-button>

    <app-button [tittleButton]="'Exepciones'" (click)="getLinkAndTittleByKey('excepciones')"></app-button>

    <app-button [tittleButton]="'Scaffolding'" (click)="getLinkAndTittleByKey('scafolding')"></app-button>

    <app-button [tittleButton]="'Cache'" (click)="getLinkAndTittleByKey('cache')"></app-button>

    <app-button [tittleButton]="'Hilos'" (click)="getLinkAndTittleByKey('hilos')"></app-button>

    <app-button [tittleButton]="'Argumentos'" (click)="getLinkAndTittleByKey('argumentos')"></app-button>

    <app-button [tittleButton]="'Concurrencia'" (click)="getLinkAndTittleByKey('concurrenciaParalelismo')"></app-button>

    <app-button [tittleButton]="'Ortogonalidad'" (click)="getLinkAndTittleByKey('ortogonalidad')"></app-button>

    <app-button [tittleButton]="'BoilerPlate'" (click)="getLinkAndTittleByKey('boilerPlate')"></app-button>

    <app-button [tittleButton]="'Recursividad'" (click)="getLinkAndTittleByKey('recursividad')"></app-button>

    <app-button [tittleButton]="'Back tracing'" (click)="getLinkAndTittleByKey('backtracing')"></app-button>

    <app-button [tittleButton]="'Tipos crudos'" (click)="getLinkAndTittleByKey('rawTypes')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content" [innerHtml]="content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>
      
      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

    </div>

  </div>

</div>
