<div class="content">

    <h2>Caracteristicas del codigo (metadatos)</h2>
  
    <div class="card-container">
  
      <div class="card card-small" (click)="getLinkAndTittleByKey('metaDatos')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
          <path d="m504 0h-496c-4.414062 0-8 3.574219-8 8v424c0 4.425781 3.585938 8 8 8h96v-16h-88v-344h480v344h-280v16h288c4.414062 0 8-3.574219 8-8v-424c0-4.425781-3.585938-8-8-8zm-488 64v-48h480v48zm0 0"/>
          <path d="m416 32h48v16h-48zm0 0"/><path d="m48 32h16v16h-16zm0 0"/><path d="m80 32h16v16h-16zm0 0"/><path d="m112 32h16v16h-16zm0 0"/><path d="m122.34375 194.34375-24 24c-3.128906 3.128906-3.128906 8.183594 0 11.3125l24 24 11.3125-11.3125-18.34375-18.34375 18.34375-18.34375zm0 0"/>
          <path d="m197.65625 253.65625 24-24c3.128906-3.128906 3.128906-8.183594 0-11.3125l-24-24-11.3125 11.3125 18.34375 18.34375-18.34375 18.34375zm0 0"/><path d="m144.410156 245.460938 16-48.003907 15.179688 5.058594-16 48.003906zm0 0"/>
          <path d="m256 224c0-52.9375-43.0625-96-96-96s-96 43.0625-96 96 43.0625 96 96 96 96-43.0625 96-96zm-176 0c0-44.113281 35.886719-80 80-80s80 35.886719 80 80-35.886719 80-80 80-80-35.886719-80-80zm0 0"/>
          <path d="m288 224c0-70.574219-57.425781-128-128-128s-128 57.425781-128 128c0 56.601562 36.96875 104.664062 88 121.511719v150.488281c0 8.824219 7.175781 16 16 16h48c8.824219 0 16-7.175781 16-16v-150.488281c51.03125-16.847657 88-64.910157 88-121.511719zm-240 0c0-61.761719 50.238281-112 112-112s112 50.238281 112 112-50.238281 112-112 112-112-50.238281-112-112zm136 176h-48v-16h48zm-48 96v-80h48v80zm48-128h-48v-18.335938c7.785156 1.488282 15.792969 2.335938 24 2.335938s16.214844-.847656 24-2.335938zm0 0"/>
          <path d="m288 112h16v16h-16zm0 0"/><path d="m320 112h16v16h-16zm0 0"/><path d="m352 112h16v16h-16zm0 0"/><path d="m384 112h32v16h-32zm0 0"/><path d="m464 112h16v16h-16zm0 0"/><path d="m432 112h16v16h-16zm0 0"/><path d="m288 144h48v16h-48zm0 0"/><path d="m352 144h16v16h-16zm0 0"/>
          <path d="m384 144h32v16h-32zm0 0"/><path d="m464 144h16v16h-16zm0 0"/><path d="m432 144h16v16h-16zm0 0"/><path d="m432 176h48v16h-48zm0 0"/><path d="m400 176h16v16h-16zm0 0"/><path d="m352 176h32v16h-32zm0 0"/><path d="m304 176h32v16h-32zm0 0"/><path d="m272 304h32v16h-32zm0 0"/>
          <path d="m320 304h32v16h-32zm0 0"/><path d="m400 304h16v16h-16zm0 0"/><path d="m368 304h16v16h-16zm0 0"/><path d="m368 336h48v16h-48zm0 0"/><path d="m336 336h16v16h-16zm0 0"/><path d="m256 336h16v16h-16zm0 0"/><path d="m288 336h32v16h-32zm0 0"/>
        </svg>
        <span>Meta data</span>
      </div>

      <div class="card card-small" (click)="getLinkAndTittleByKey('metaClase')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Meta Clase</span>
      </div>

      <div class="card card-small" (click)="getLinkAndTittleByKey('reflexion')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Reflexión</span>
      </div>

      <div class="card card-small" (click)="getLinkAndTittleByKey('asserts')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Aserciones</span>
      </div>

      <div class="card card-small" (click)="getLinkAndTittleByKey('excepciones')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Exepciones</span>
      </div>

      <div class="card card-small" (click)="getLinkAndTittleByKey('scafolding')" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Scaffolding</span>
      </div>
  
    </div>
  
    <div class="terminal window" ></div>
    <div class="terminal" *ngIf="titulo !== '' "><h2>{{titulo}}</h2></div>
      <div class="terminal" [ngSwitch]="selection" #terminal>

        <pre *ngSwitchDefault> Selecciona una opcion para ver más </pre>
    
        <pre *ngSwitchCase="'metaDatos'">- Literalmente son datos de los datos </pre>
        <pre *ngSwitchCase="'metaDatos'">- Estan estructurados para describir caracteristicas de los datos como cantidad y contenido </pre>
        <pre *ngSwitchCase="'metaDatos'">- Actualmente se usan para gestionar y recolectar información de interes </pre>
        <pre *ngSwitchCase="'metaDatos'">- Facilitan la estandarización y la gestion de los cambios </pre>
        <pre *ngSwitchCase="'metaDatos'">- Pueden facilitar el desarrollo al tener un menor cambio de costo entre plataformas </pre>

        <pre *ngSwitchCase="'metaClase'">- Normalmente se considera una clase de clases </pre>
        <pre *ngSwitchCase="'metaClase'">- Es una caracteristica propia del sistema por lo que el usuario jamas la llegara a ver </pre>
        <pre *ngSwitchCase="'metaClase'">- Esta caracteristica permite añadir y modificar comportamientos del programa, </pre>
        <pre *ngSwitchCase="'metaClase'"> - Sin llegarlo a afectar directamente </pre>
        <pre *ngSwitchCase="'metaClase'">- Este concepto es ampliamente usado para realizar testing, por medio de anotaciones, dobles y otros conceptos, </pre>
        <pre *ngSwitchCase="'metaClase'"> - Un ejemplo de esto son Junit y Mockito, frameworks para realizar pruebas en java, que se basan en estas caracteristica </pre>

        <pre *ngSwitchCase="'reflexion'">- Capacidad de un codigo para observar un programa para observarse y cambiar su estructura a alto nivel </pre>
        <pre *ngSwitchCase="'reflexion'">- Puede ser dinamica o estatica, y es más comun en los lenguajes que usan maquinas virtuales para ejecutarse, como JAVA </pre>
        <pre *ngSwitchCase="'reflexion'">- Cuando el codigo fuente se compila normalmente pierde su estructura al pasar a un lenguaje de un nivel más bajo, pero </pre>
        <pre *ngSwitchCase="'reflexion'"> - si este sistema permite la reflexión esta estructura se preserva como metadatos </pre>
        <pre *ngSwitchCase="'reflexion'">- La reflexión permite conseguir un codigo aun más flexible, a cambio de perder rendimiento </pre>
        <pre *ngSwitchCase="'reflexion'"></pre>
        <pre *ngSwitchCase="'reflexion'">- Esta caracteristica permite realizar acciones como: </pre>
        <pre *ngSwitchCase="'reflexion'"> - Descubrir y modificar secciones de codigo en tiempo de ejecución </pre>
        <pre *ngSwitchCase="'reflexion'"> - Evaluar una cadena como si fuera una sentencia de código fuente en tiempo de ejecución </pre>
        <pre *ngSwitchCase="'reflexion'"> - Flexibilizar el tipado en lenguajes fuertemente tipados </pre>

        <pre *ngSwitchCase="'asserts'">- Todo codigo contiene algun tipo de restriccion, si estas no se documentan bien pueden inducir a errores </pre>
        <pre *ngSwitchCase="'asserts'">- La documentación extensiva tampoco es una buena idea ya que modificar codigo conlleva a modificar la documentación tambien </pre>
        <pre *ngSwitchCase="'asserts'">- Las aserciones son predicados que se evaluan como ciertos o falsos en tiempo de ejecución </pre>
        <pre *ngSwitchCase="'asserts'">- Estas comprobaciones favorecen el proceso de detectar errores y garantizar las condiciones de funcionamiento </pre>
        <pre *ngSwitchCase="'asserts'">- Son una opción a considerar si se quiere evitar la programación defensiva </pre>

        <pre *ngSwitchCase="'excepciones'">- Es la indicación de que se produjo un error en la ejecución del programa </pre>
        <pre *ngSwitchCase="'excepciones'">- Estas pueden ser situaciones esperadad, inesperadas e incluso pueden se provocadas </pre>
        <pre *ngSwitchCase="'excepciones'">- Las exepciones son objetos especializados con toda la información del error </pre>
        <pre *ngSwitchCase="'excepciones'">- Estos objetos pueden ser atrapados por la instrucción try-catch y evitar que se detenga el programa, </pre>
        <pre *ngSwitchCase="'excepciones'"> - o simplemente ser lanzados y terminar el programa de manera abrupta </pre>
        <pre *ngSwitchCase="'excepciones'">- El manejo de excepciones es fundamental para conseguir programas robustos y confiables, por esto es ideal definir, </pre>
        <pre *ngSwitchCase="'excepciones'"> - responsabilidades acerca de quienes pueden lanzar excepciones y quienes pueden atraparlas </pre>

        <pre *ngSwitchCase="'scafolding'">- Es la generación automatica de codigo funcional, archivos, carpetas, configuraciones, interfaces graficas, etc... </pre>
        <pre *ngSwitchCase="'scafolding'">- Generalmente se basa en la creación de las operaciones CRUD, basandose en un modelo de datos previo </pre>
        <pre *ngSwitchCase="'scafolding'">- Algunos frameworks pueden ayudar en este sentido, e incluso existen aplicaciones con este proposito </pre>

      </div>
    
      <app-referencia [referencia]="referencia"></app-referencia>
    
    </div>
  