<div class="content">

    <h2>Desarrollo web & Diseño grafico</h2>
  
    <div class="card-container">
  
      <div class="card card-small" (click)="linkReferencia('spa','https://desarrolloweb.com/articulos/que-es-una-spa.html#:~:text=En%20pocas%20palabras%2C%20SPA%20son,html')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>SPA</span>
      </div>
  
      <div class="card card-small"
        (click)="linkReferencia('pwa','https://www.iebschool.com/blog/progressive-web-apps-analitica-usabilidad/')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>PWA</span>
      </div>

      <div class="card card-small"
        (click)="linkReferencia('seo','https://www.40defiebre.com/guia-seo/que-es-seo-por-que-necesito')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>SEO</span>
      </div>

      <div class="card card-small"
        (click)="linkReferencia('espacio','https://www.dsigno.es/blog/diseno-grafico/espacios-negativos-en-diseno-grafico')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Espacio Negativo</span>
      </div>

      <div class="card card-small"
        (click)="linkReferencia('diseno','https://seocom.agency/es/blog/diseno-grafico-web/')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Diseño Grafico</span>
      </div>

    </div>
  
    <div class="terminal" [ngSwitch]="selection" #terminal>
      <pre *ngSwitchDefault>Selecciona una opcion para ver más </pre>
  
      <pre *ngSwitchCase="'spa'">- Single Page Aplicatión </pre>
      <pre *ngSwitchCase="'spa'">- Es una aplicación web donde todo el contenido se muestra en una sola sin regargar el navegador </pre>
      <pre *ngSwitchCase="'spa'">- Los componentes son segmentos individuales de HTML que juntos dan la impresión de unidad </pre>
      <pre *ngSwitchCase="'spa'">- Este tipo de paginas tambien maneja las url para cambiar entre vistas </pre>
      <pre *ngSwitchCase="'spa'">- La transición entre las paginas es fluida y el rendimiento es mayor en general </pre>
      <pre *ngSwitchCase="'spa'">- Los frameworks actuales trabajan de esta manera </pre>
  
      <pre *ngSwitchCase="'pwa'">- Progressive Web App</pre>
      <pre *ngSwitchCase="'pwa'">- Estas aplicaciones nacen de paginas web normales para parecerse a aplicaciones nativas de telefonos moviles </pre>
      <pre *ngSwitchCase="'pwa'"> - Ventajas </pre>
      <pre *ngSwitchCase="'pwa'">  - NO se necesita descargar nada desde una tienda de aplicaciones, solo tener acceso a un navegador con internet </pre>
      <pre *ngSwitchCase="'pwa'">  - Aunque necesita internet para actualizaciones de la información, tambien puede funcionar sin este </pre>
      <pre *ngSwitchCase="'pwa'">  - Bastante acorde con el enfoque mobile-first, que le da prioridad al movil que al escritorio </pre>

      <pre *ngSwitchCase="'seo'">- Search Engine Optimization </pre>
      <pre *ngSwitchCase="'seo'">- La indexación de contenido es una gran herramienta para buscar lo que se necesita </pre>
      <pre *ngSwitchCase="'seo'">- El contenido de calidad es una de las mejores formas de aumentar el trafico del sitio web </pre>
      <pre *ngSwitchCase="'seo'">- La accesibilidad al contenido y la experiencia del usuario tambien son importantes </pre>
      <pre *ngSwitchCase="'seo'">- Saber como funcionan los motores de busqueda, permite optimizar el sitio para que sea más "visible" para estos </pre>

      <pre *ngSwitchCase="'espacio'">- Es el espacio que se encuentra alrededor del objeto en cuestión, bastante util para crear diseños simples pero atractivos </pre>
      <pre *ngSwitchCase="'espacio'">- El uso del espacio positivo y negativo puede dar pie a ilustraciones con mensajes directos pero sutiles </pre>
      <pre *ngSwitchCase="'espacio'">- Un gran artista sabe manejar estos conceptos, e imprimirles su toque unico, como en el articulo fuente se denota </pre>

      <pre *ngSwitchCase="'diseno'">- El diseño grafico es importante en la programación debido a que este sera la cara visible de tu producto </pre>
      <pre *ngSwitchCase="'diseno'">- Es importante contestar respuestas previamente como: ¿ cual es tu objetivo ? & ¿ cual es tu producto ? </pre>
      <pre *ngSwitchCase="'diseno'">- NO descuides el color, tener una paleta de colores es tener una identidad </pre>
      <pre *ngSwitchCase="'diseno'">- Además de la identidad es importante saberlos combinar y tener un buen contraste y legibilidad entre si </pre>
      <pre *ngSwitchCase="'diseno'">- El uso de las imagenes y las fuentes tipograficas son más importantes de lo que parecen </pre>

    </div>
  
    <app-referencia [referencia]="referencia"></app-referencia>
  
  </div>
