<div class="content"></div>
<div class="content">

  <h1>Ejemplos Practicos & Recursos utiles</h1>

  <div class="flexbox-column">

    <div class="card-container">

      <h2>Front</h2>

      @for (keyFront of front; track keyFront) {
        <app-fuente [key]="keyFront"></app-fuente>
      }

    </div>

    <div class="card-container">

      <h2>Estilos y Maquetación</h2>

      @for (keyFrontStyle of frontStyles; track keyFrontStyle) {
        <app-fuente [key]="keyFrontStyle"></app-fuente>
      }

    </div>

  </div>

  <div class="flexbox-column">

    <div class="card-container">

      <h2>Back</h2>

      @for (keyBack of back; track keyBack) {
        <app-fuente [key]="keyBack"></app-fuente>
      }

    </div>

    <div class="card-container">

      <h2>System Design</h2>

      @for (keySystem of systemDesign; track keySystem) {
        <app-fuente [key]="keySystem"></app-fuente>
      }

    </div>

  </div>
  
  <div class="flexbox-column">

    <div class="card-container">

      <h2>SQL</h2>

      @for (keyFront of sql; track keyFront) {
        <app-fuente [key]="keyFront"></app-fuente>
      }

    </div>

    <div class="card-container">

      <h2>Docker & Kubernetes</h2>

      @for (keyBack of docker; track keyBack) {
        <app-fuente [key]="keyBack"></app-fuente>
      }

    </div>

  </div>

  <div class="flexbox-column">

    <div class="card-container">

      <h2>Utiles</h2>

      @for (keyUtils of utils; track keyUtils) {
        <app-fuente [key]="keyUtils"></app-fuente>
      }

    </div>

    <div class="card-container">

      <h2>Testing & Calidad</h2>

      @for (keyTest of testing; track keyTest) {
        <app-fuente [key]="keyTest"></app-fuente>
      }

    </div>

  </div>

  <div class="flexbox-column">

    <div class="card-container">

      <h2>Curiosidades</h2>

      @for (keyCuriosity of curiosities; track keyCuriosity) {
        <app-fuente [key]="keyCuriosity"></app-fuente>
      }

    </div>

    <div class="card-container">

      <h2>Seguridad</h2>

      @for (keySecurity of security; track keySecurity) {
        <app-fuente [key]="keySecurity"></app-fuente>
      }

    </div>

  </div>

  <div class="flexbox-column">

    <div class="card-container">

      <h2>Git & Versionamiento</h2>

      @for (keyGit of git; track keyGit) {
        <app-fuente [key]="keyGit"></app-fuente>
      }

    </div>

    <div class="card-container">

      <h2>APIs REST</h2>

      @for (keyApi of apis; track keyApi) {
        <app-fuente [key]="keyApi"></app-fuente>
      }

    </div>

  </div>

</div>
