<div class="content">

  <h1>Ejemplos Practicos & Recursos utiles</h1>

  <div class="flexbox-column">

    <div class="card-container">

      <h2>Front</h2>

      <app-fuente [key]="'cssRecursos'"></app-fuente>

      <app-fuente [key]="'coloresAndPaletas'"></app-fuente>

      <app-fuente [key]="'disenoWebAdaptable'"></app-fuente>

      <app-fuente [key]="'juegoFlexBox'"></app-fuente>

      <app-fuente [key]="'htmlEntities'"></app-fuente>

      <app-fuente [key]="'cargasDeScripts'"></app-fuente>

      <app-fuente [key]="'cssGradients'"></app-fuente>

    </div>

    <div class="card-container">

      <h2>Back</h2>

      <app-fuente [key]="'sqlTutorial'"></app-fuente>

      <app-fuente [key]="'patronesDisenoJava'"></app-fuente>

      <app-fuente [key]="'comandosDocker'"></app-fuente>

      <app-fuente [key]="'paradigmaFuncionaljava'"></app-fuente>

    </div>

  </div>

  <div class="flexbox-column">

    <div class="card-container">

      <h2>Utiles</h2>

      <app-fuente [key]="'comandosGit'"></app-fuente>

      <app-fuente [key]="'comandosGitFlow'"></app-fuente>

      <app-fuente [key]="'codificacionJava'"></app-fuente>

      <app-fuente [key]="'atributosCalidad'"></app-fuente>

      <app-fuente [key]="'expresionesRegulares'"></app-fuente>

    </div>

    <div class="card-container">

      <h2>Testing</h2>

      <app-fuente [key]="'junit'"></app-fuente>

      <app-fuente [key]="'mockito'"></app-fuente>

      <app-fuente [key]="'jmeter'"></app-fuente>

      <app-fuente [key]="'selenium'"></app-fuente>

    </div>

  </div>

  <div class="card-container">

    <h2>Curiosidades</h2>

    <app-fuente [key]="'primeraApi'"></app-fuente>

    <app-fuente [key]="'comandosDocker'"></app-fuente>

  </div>

</div>
