<div class="content"></div>
<div class="content">

  <h1>Ejemplos Practicos & Recursos utiles</h1>

  <div class="flexbox-column">

    <div class="card-container">

      <h2>Front</h2>

      <span *ngFor="let keyFront of front">
        <app-fuente [key]="keyFront"></app-fuente>
      </span>

    </div>

    <div class="card-container">

      <h2>Back</h2>

      <span *ngFor="let keyBack of back">
        <app-fuente [key]="keyBack"></app-fuente>
      </span>

    </div>

  </div>

  
  <div class="flexbox-column">

    <div class="card-container">

      <h2>SQL</h2>

      <span *ngFor="let keyFront of sql">
        <app-fuente [key]="keyFront"></app-fuente>
      </span>

    </div>

    <div class="card-container">

      <h2>Docker & Kubernetes</h2>

      <span *ngFor="let keyBack of docker">
        <app-fuente [key]="keyBack"></app-fuente>
      </span>

    </div>

  </div>

  <div class="flexbox-column">

    <div class="card-container">

      <h2>Utiles</h2>

      <span *ngFor="let keyUtils of utils">
        <app-fuente [key]="keyUtils"></app-fuente>
      </span>

    </div>

    <div class="card-container">

      <h2>Testing & Calidad</h2>

      <span *ngFor="let keyTest of testing">
        <app-fuente [key]="keyTest"></app-fuente>
      </span>

    </div>

  </div>

  <div class="flexbox-column">

    <div class="card-container">

      <h2>Curiosidades</h2>

      <span *ngFor="let keyCuriosity of curiosities">
        <app-fuente [key]="keyCuriosity"></app-fuente>
      </span>

    </div>

    <div class="card-container">

      <h2>Seguridad</h2>

      <span *ngFor="let keySecurity of security">
        <app-fuente [key]="keySecurity"></app-fuente>
      </span>

    </div>

  </div>

  <div class="flexbox-column">

    <div class="card-container">

      <h2>Git & Versionamiento</h2>

      <span *ngFor="let keyGit of git">
        <app-fuente [key]="keyGit"></app-fuente>
      </span>

    </div>

    <div class="card-container">

      <h2>APIs REST</h2>

      <span *ngFor="let keyApi of apis">
        <app-fuente [key]="keyApi"></app-fuente>
      </span>

    </div>

  </div>

</div>
