<div class="flexbox terminal max-space gradient">
  <div class="terminal window" *ngIf="titulo !== '' ">
    <h2>{{titulo}}</h2>
  </div>
  <div>
    <a *ngIf="referencia !== ''" class="circle-link reference" target="_blank" rel="noreferrer" [href]="referencia">
      <svg class="material-icons" height="24" width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M247.759,14.358,16,125.946V184H496V125.638ZM464,152H48v-5.946L248.241,49.642,464,146.362Z"></path>
        <path d="M16,496H496V392H16Zm32-72H464v40H48Z"></path>
        <rect width="32" height="160" x="72" y="208"></rect>
        <rect width="32" height="160" x="408" y="208"></rect>
        <rect width="32" height="160" x="184" y="208"></rect>
        <rect width="32" height="160" x="296" y="208"></rect>
      </svg>
    </a>
  </div>
</div>