<div class="content">

  <h2>Lenguaje Unificado de Modelado</h2>

  <div class="card-container">

    <app-button [tittleButton]="'¿ Que es ?'" (click)="getLinkAndTittleByKey('uml')"></app-button>

    <app-button [tittleButton]="'De Clases'" (click)="getLinkAndTittleByKey('clase')"></app-button>

    <app-button [tittleButton]="'De Componentes'" (click)="getLinkAndTittleByKey('componentes')"></app-button>

    <app-button [tittleButton]="'De Despliegue'" (click)="getLinkAndTittleByKey('despliegue')"></app-button>

    <app-button [tittleButton]="'Casos de Uso'" (click)="getLinkAndTittleByKey('usos')"></app-button>

    <app-button [tittleButton]="'De Secuencia'" (click)="getLinkAndTittleByKey('secuencia')"></app-button>

    <app-button [tittleButton]="'De Actividades'" (click)="getLinkAndTittleByKey('actividades')"></app-button>

    <app-button [tittleButton]="'De Paquetes'" (click)="getLinkAndTittleByKey('paquetes')"></app-button>

    <app-button [tittleButton]="'De Estados'" (click)="getLinkAndTittleByKey('estados')"></app-button>

    <app-button [tittleButton]="'4+1 Vistas'" (click)="getLinkAndTittleByKey('vista')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>

    </div>

  </div>

</div>
