<div class="content">

  <h2>Gestion de Dependencias y Manejo de versiones</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Gestor de Versiones'" (click)="getLinkAndTittleByKey('git')"></app-button>

    <app-button [tittleButton]="'Dependencias Web'" (click)="getLinkAndTittleByKey('dependencias')"></app-button>

    <app-button [tittleButton]="'Gradle VS Maven'" (click)="getLinkAndTittleByKey('gradlevsmaven')"></app-button>

    <app-button [tittleButton]="'Versionamiento'" (click)="getLinkAndTittleByKey('versionamiento')"></app-button>

    <app-button [tittleButton]="'Licencias'" (click)="getLinkAndTittleByKey('licencias')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection">

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>

    </div>

  </div>

</div>
