<div class="content">

    <h2>Requisitos Funcionales y NO Funcionales</h2>
  
    <div class="card-container">
  
      <app-button [tittleButton]="'Funcionales'" (click)="getLinkAndTittleByKey('funcionales')"></app-button>

      <app-button [tittleButton]="'NO Funcionales'" (click)="getLinkAndTittleByKey('NOfuncionales')"></app-button>

      <app-button [tittleButton]="'EL Negocio'" (click)="getLinkAndTittleByKey('negocio')"></app-button>

      <app-button [tittleButton]="'Evitar la ambiguedad'" (click)="getLinkAndTittleByKey('ambiguedad')"></app-button>

      <app-button [tittleButton]="'Atributos de calidad'" (click)="getLinkAndTittleByKey('calidad')"></app-button>

      <app-button [tittleButton]="'Trade-offs'" (click)="getLinkAndTittleByKey('tradeoff')"></app-button>
    
    </div>
  
    <div class="terminal window" *ngIf="titulo !== '' "><h2>{{titulo}}</h2></div>
    <div class="terminal" [ngSwitch]="selection" #terminal>

      <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>
  
      <pre *ngSwitchCase="'funcionales'">- Son la declaración de los servicios y funciones que tendra la aplicación </pre>
      <pre *ngSwitchCase="'funcionales'">- Estos se basan en una serie de requerimientos del software previamente realizada </pre>
      <pre *ngSwitchCase="'funcionales'">- Gran parte del exito del producto depende de que este proceso sea realizado efectivamente </pre>
      <pre *ngSwitchCase="'funcionales'">- La ambiguedad es normal, pero debe ser reducida al minimo </pre>
      <pre *ngSwitchCase="'funcionales'">- Las Historias de Usuario son una gran ayuda en este ambito, aun asi estas tambien pueden equivocarse </pre>
      <pre *ngSwitchCase="'funcionales'">- Los requisitos deben ser coherentes, sin contradicciones entre si, más no significa que no puedan cambiar </pre>

      <pre *ngSwitchCase="'NOfuncionales'">- No son caracteristicas que son expresadas directamente por el cliente </pre>
      <pre *ngSwitchCase="'NOfuncionales'">- Son una declaración de como se debe comportar el sistema, de que propiedades son importantes </pre>
      <pre *ngSwitchCase="'NOfuncionales'">- Tambien pueden contar con restricciones como, sistema operativo, dispositivos compatibles, paleta de colores, etc... </pre>
      <pre *ngSwitchCase="'NOfuncionales'"></pre>
      <pre *ngSwitchCase="'NOfuncionales'"> - Requisitos del producto -> especifican que debe cumplir el producto (rapido, bonito, confiable, etc...) </pre>
      <pre *ngSwitchCase="'NOfuncionales'"> - Requisitos del producto -> estos criterios, y otras más son terriblemente ambiguos, por lo que deben ser previamente acordados </pre>
      <pre *ngSwitchCase="'NOfuncionales'"></pre>
      <pre *ngSwitchCase="'NOfuncionales'"> - Requisitos organizacionales -> se derivan de politicas y procedimientos de la empresa ya existentes </pre>
      <pre *ngSwitchCase="'NOfuncionales'"> - Requisitos organizacionales -> como lenguajes a usar, documentación a entregar, etc... </pre>
      <pre *ngSwitchCase="'NOfuncionales'"> - Requisitos organizacionales -> tales como la interoperabilidad, leyes a seguir, etc... </pre>
      <pre *ngSwitchCase="'NOfuncionales'"></pre>
      <pre *ngSwitchCase="'NOfuncionales'"> - Requisitos externos -> son afectados directamente por factores externos al software </pre>

      <pre *ngSwitchCase="'negocio'">- Es el impacto real de una funcionalidad en el software, por lo que es subjetivo y depende de quien lo este visualizando </pre>
      <pre *ngSwitchCase="'negocio'">- Generalmenete son responsabilidad del Product Owner y de los analistas, si se trabaja con metodologias agiles </pre>
      <pre *ngSwitchCase="'negocio'">- Es necesario definir objetivos a cumplir, para tener una meta clara y visualizar un camino </pre>
      <pre *ngSwitchCase="'negocio'">- Adoptar formas de medir el progreso y hacerlo de manera periodica </pre>
      <pre *ngSwitchCase="'negocio'">- Cuestionarse a si mismos, conforme va avanzando el proyecto las cosas pueden cambiar y con estas nuestros objetivos </pre>
      <pre *ngSwitchCase="'negocio'">- Es necesario definir objetivos a cumplir, para tener una meta clara y visualizar un camino </pre>

      <pre *ngSwitchCase="'ambiguedad'">- Menos es Más, una frase bastante diciente pero que es más facil decirla que aplicarla </pre>
      <pre *ngSwitchCase="'ambiguedad'">- La redacción debe ser clara y concisa, ya que muchas personas en diferentes ambitos leeran los requisitos y todos deben entenderlos </pre>
      <pre *ngSwitchCase="'ambiguedad'">- Los detalles son importantes, pero estos no deben ser abrumadores ni irrelevantes </pre>
      <pre *ngSwitchCase="'ambiguedad'">- Si una requisito es demasiado extenso este puede ser desglosado en otros más pequeños y concisos </pre>
      <pre *ngSwitchCase="'ambiguedad'">- Igual que las Historias de Usuario pueden tener criterios de aceptación </pre>
      <pre *ngSwitchCase="'ambiguedad'">- Se puede incluir lenguaje tecnico y escenarios especificos, si estos ayudan a definir un contexto </pre>

      <pre *ngSwitchCase="'calidad'">- Es una propiedad medible del sistema que indica si el sistema satisface una caracteristica en especifico </pre>
      <pre *ngSwitchCase="'calidad'">- Dependiendo de la complejidad, un sistema puede cumplir una o varias de las siguentes caracteristicas </pre>
      <pre *ngSwitchCase="'calidad'">  - Compatibilidad -> capacidad de los sistemas para intercambiar información ó compartir software/hardware </pre>
      <pre *ngSwitchCase="'calidad'">    - subcaracteristicas -> interoperabilidad, coexistencia </pre>
      <pre *ngSwitchCase="'calidad'">  - Usabilidad -> capacidad del producto para ser entendido, que sea usado y que sea atractivo </pre>
      <pre *ngSwitchCase="'calidad'">    - subcaracteristicas -> idoneidad, aprendizaje, manejo de errores, accesiblidad, estetica </pre>
      <pre *ngSwitchCase="'calidad'">  - Confiabilidad -> capacidad para cumplir con las funciones especificadas en un ambiente predispuesto </pre>
      <pre *ngSwitchCase="'calidad'">    - subcaracteristicas -> madurez, disponibilidad, tolerancia a fallos, recuperación </pre>
      <pre *ngSwitchCase="'calidad'">  - Eficiencia -> desempeño del sistema y cuanto recursos consume </pre>
      <pre *ngSwitchCase="'calidad'">    - subcaracteristicas -> comportamiento temporal, recursos usados, capacidad </pre>
      <pre *ngSwitchCase="'calidad'">  - Seguridad -> protección de los datos, ya sea de intromisiones externas o internas </pre>
      <pre *ngSwitchCase="'calidad'">    - subcaracteristicas -> confidencialidad, integridad, responsabilidad, autenticidad </pre>
      <pre *ngSwitchCase="'calidad'">  - Portabilidad -> capacidad para ser trasladado de un ambiente a otro, ya sea hardware o software </pre>
      <pre *ngSwitchCase="'calidad'">    - subcaracteristicas -> adaptabilidad, instalación, sustitución </pre>
      <pre *ngSwitchCase="'calidad'">  - Mantenibilidad -> capacidad de que pueda cambiar a traves del tiempo </pre>
      <pre *ngSwitchCase="'calidad'">    - subcaracteristicas -> modularidad, reusabilidad, analisable, modificable, testeable </pre>

      <pre *ngSwitchCase="'tradeoff'">- Que un software cumpla con lo que se necesitaba no significa que sea agradable o facil de usar</pre>
      <pre *ngSwitchCase="'tradeoff'">- Un producto excelente no se limita a hacer lo que tiene que hacer, es aquel que da un poco más al usuario </pre>
      <pre *ngSwitchCase="'tradeoff'">- Existe una gran cantidad de atributos que todo software de "calidad" puede cumplir, no todos son necesarios, </pre>
      <pre *ngSwitchCase="'tradeoff'"> - pero si es importante saber cuales son los más necesitados </pre>
      <pre *ngSwitchCase="'tradeoff'">-Esto tambien depende de cuales atributos son necesariamente criticos, y cuales son ideales, por lo que se requiere, </pre>
      <pre *ngSwitchCase="'tradeoff'"> - un analisis previo para realizar un buen diseño y asi sopesar los pro y los contra </pre>
      <pre *ngSwitchCase="'tradeoff'">- Tambien se ha de tener en cuenta que hay requsitos que siempre estaran se afectaran de manera negativa entre si, </pre>
      <pre *ngSwitchCase="'tradeoff'"> - por lo que no se podran escoger ambos, si se quiren cumplir ambos de manera idonea </pre>
      <pre *ngSwitchCase="'tradeoff'"></pre>
      <pre *ngSwitchCase="'tradeoff'">-El siguiente recuadro nos enseña un pequeño resumen de los principales atributos de calidad de cualquier sistema </pre>
      <pre *ngSwitchCase="'tradeoff'"> - Por cada fila existen 2 posibilidades: </pre>
      <pre *ngSwitchCase="'tradeoff'">  (+) -> afecta positivamente el atributo de esa columna </pre>
      <pre *ngSwitchCase="'tradeoff'">  (-) -> afecta negativamente el atributo de esa columna </pre>
      <pre *ngSwitchCase="'tradeoff'"></pre>
      <pre *ngSwitchCase="'tradeoff'">Disponibilidad-> +confiabilidad  +robustez</pre>
      <pre *ngSwitchCase="'tradeoff'">Eficiencia    -> +disponible  -interoperable  -modificable    +rendimiento   -portable      -robustez     +escalable   -usabilidad   </pre>
      <pre *ngSwitchCase="'tradeoff'">Instalabilidad-> +disponible  +fiabilidad                                                                                            </pre>
      <pre *ngSwitchCase="'tradeoff'"></pre>
      <pre *ngSwitchCase="'tradeoff'">Integridad    -> -instalable  -interoperable  -rendimiento    -reusabilidad  +seguridad     -usabilidad   -verificable               </pre>
      <pre *ngSwitchCase="'tradeoff'">Interoperable -> +disponible  -instalable     -integridad     -rendimiento   +portable      +fiabilidad   +robustez    -seguridad    </pre>
      <pre *ngSwitchCase="'tradeoff'">Modificable   -> +disponible  -instalable     -rendimiento    +fiabilidad    +reutilizable  +escalable    +verificable               </pre>
      <pre *ngSwitchCase="'tradeoff'"></pre>
      <pre *ngSwitchCase="'tradeoff'">Rendimiento   -> +eficiencia  -interoperable  -modificable    -portable      -robusto       -escalable    -usabilidad                </pre>
      <pre *ngSwitchCase="'tradeoff'">Portabilidad  -> -eficiencia  +interoperable  -modificable    -rendimiento   +reusabilidad  -seguridad    -usabilidad  -verificable  </pre>
      <pre *ngSwitchCase="'tradeoff'">Fiabilidad    -> +disponible  -eficiencia     +integridad     +modificable   -rendimiento   +robustez     +seguridad   +usable      +verificable       </pre>
      <pre *ngSwitchCase="'tradeoff'"></pre>
      <pre *ngSwitchCase="'tradeoff'">Reusabilidad  -> -eficiencia  -integridad     +interoperable  +modificable   -rendimiento   +portable     +verificable               </pre>
      <pre *ngSwitchCase="'tradeoff'">Robustez      -> +disponible  -eficiencia     +instalable     +integridad    +interoperable -rendimiento  +fiabilidad  +seguridad   +escalable +usable </pre>
      <pre *ngSwitchCase="'tradeoff'">Seguridad     -> +integridad  -rendimiento    +robustez       -usabilidad    -verificable                                            </pre>
      <pre *ngSwitchCase="'tradeoff'"></pre>
      <pre *ngSwitchCase="'tradeoff'">Escalabilidad -> +disponible  +eficiencia     +integridad     +rendimiento   +portable      +fiabilidad   +robustez                  </pre>
      <pre *ngSwitchCase="'tradeoff'">Usabilidad    -> -eficiencia  +instalable     -rendimiento    -portable      +fiabilidad    +robustez     -verificable               </pre>
      <pre *ngSwitchCase="'tradeoff'">verificable   -> +disponible  +instalable     +integridad     +modificable   +fiabilidad    +reusable     +robustez    +seguridad   +usabilidad        </pre>
      <pre *ngSwitchCase="'tradeoff'"></pre>
      <pre *ngSwitchCase="'tradeoff'">(nota) el atributo de seguridad se puede entender de 2 maneras, por lo que en este caso solo se considera que cumplen aquellos que,   </pre>
      <pre *ngSwitchCase="'tradeoff'">  afecten negativamente o positivamente a ambos; la seguridad de los datos y el acceso a estos </pre>

    </div>
  
    <app-referencia [referencia]="referencia"></app-referencia>
  
  </div>
