<div class="content">

  <h2>Requisitos Funcionales y NO Funcionales</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Funcionales'" (click)="getLinkAndTittleByKey('funcionales')"></app-button>

    <app-button [tittleButton]="'NO Funcionales'" (click)="getLinkAndTittleByKey('NOfuncionales')"></app-button>

    <app-button [tittleButton]="'EL Negocio'" (click)="getLinkAndTittleByKey('negocio')"></app-button>

    <app-button [tittleButton]="'Evitar la ambiguedad'" (click)="getLinkAndTittleByKey('ambiguedad')"></app-button>

    <app-button [tittleButton]="'Atributos de calidad'" (click)="getLinkAndTittleByKey('calidad')"></app-button>

    <app-button [tittleButton]="'Trade-offs'" (click)="getLinkAndTittleByKey('tradeoff')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>

    </div>

  </div>

</div>
