<div class="content">

  <h2>Otros temas</h2>

  <div class="card-container">

    <div class="card card-small"
      (click)="linkReferencia('api','https://www.ticbeat.com/tecnologias/que-es-una-api-para-que-sirve/')" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>API</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('nube','https://azure.microsoft.com/es-es/overview/what-are-private-public-hybrid-clouds/')"
      tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>Tipos de nube</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('rest','https://www.oscarblancarteblog.com/2017/03/06/soap-vs-rest-2/')" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>SOAP & REST</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('restfull','http://adwe.es/general/colaboraciones/servicios-web-restful-con-http-parte-i-introduccion-y-bases-teoricas/')" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>Rest & RestFull</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('caracteristicas','https://adwe.es/codigo/apis-codigo/servicios-web-restful-con-http-parte-ii-ejemplos/')" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>Estandares RestFull</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('escalamiento','https://www.oscarblancarteblog.com/2017/03/07/escalabilidad-horizontal-y-vertical/')"
      tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>Escalamiento</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('docker','https://www.xataka.com/otros/docker-a-kubernetes-entendiendo-que-contenedores-que-mayores-revoluciones-industria-desarrollo')"
      tabindex="0">
        <svg class="material-icons" width="30" height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path d="M504,264h-29.68L276.4,139.384c23.973-11.317,34.233-39.924,22.916-63.897C292.628,61.318,279.444,51.305,264,48.664V24
              h24c4.418,0,8-3.582,8-8s-3.582-8-8-8h-64c-4.418,0-8,3.582-8,8s3.582,8,8,8h24v32c0,4.418,3.582,8,8,8c17.673,0,32,14.327,32,32
              s-14.327,32-32,32c-17.673,0-32-14.327-32-32c0-4.418-3.582-8-8-8s-8,3.582-8,8c0.025,18.585,10.777,35.485,27.6,43.384L37.68,264
              H8c-4.418,0-8,3.582-8,8v224c0,4.418,3.582,8,8,8h496c4.418,0,8-3.582,8-8V272C512,267.582,508.418,264,504,264z M256,145.456
              L444.272,264H67.728L256,145.456z M496,488H16V280h480V488z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M256,288c-4.418,0-8,3.582-8,8v176c0,4.418,3.582,8,8,8s8-3.582,8-8V296C264,291.582,260.418,288,256,288z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M216,288c-4.418,0-8,3.582-8,8v176c0,4.418,3.582,8,8,8s8-3.582,8-8V296C224,291.582,220.418,288,216,288z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M176,288c-4.418,0-8,3.582-8,8v176c0,4.418,3.582,8,8,8s8-3.582,8-8V296C184,291.582,180.418,288,176,288z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M136,288c-4.418,0-8,3.582-8,8v176c0,4.418,3.582,8,8,8s8-3.582,8-8V296C144,291.582,140.418,288,136,288z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M96,288c-4.418,0-8,3.582-8,8v176c0,4.418,3.582,8,8,8s8-3.582,8-8V296C104,291.582,100.418,288,96,288z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M56,288c-4.418,0-8,3.582-8,8v176c0,4.418,3.582,8,8,8s8-3.582,8-8V296C64,291.582,60.418,288,56,288z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M296,288c-4.418,0-8,3.582-8,8v176c0,4.418,3.582,8,8,8s8-3.582,8-8V296C304,291.582,300.418,288,296,288z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M336,288c-4.418,0-8,3.582-8,8v176c0,4.418,3.582,8,8,8s8-3.582,8-8V296C344,291.582,340.418,288,336,288z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M376,288c-4.418,0-8,3.582-8,8v176c0,4.418,3.582,8,8,8s8-3.582,8-8V296C384,291.582,380.418,288,376,288z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M416,288c-4.418,0-8,3.582-8,8v176c0,4.418,3.582,8,8,8s8-3.582,8-8V296C424,291.582,420.418,288,416,288z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M456,288c-4.418,0-8,3.582-8,8v176c0,4.418,3.582,8,8,8s8-3.582,8-8V296C464,291.582,460.418,288,456,288z"/>
          </g>
        </g>
        </svg>
      <span>Docker</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('compose','https://dockertips.com/utilizando-docker-compose#:~:text=Docker%20Compose%20es%20una%20herramienta%20que%20permite%20simplificar%20el%20uso%20de%20Docker.&text=En%20vez%20de%20utilizar%20Docker,Engine%20a%20realizar%20tareas%2C%20programaticamente')"
      tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>Docker Compose</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('scraping','https://www.ionos.es/digitalguide/paginas-web/desarrollo-web/que-es-el-web-scraping/')"
      tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>Web Scrapping</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('cdci','https://www.aplyca.com/es/blog/integracion-entrega-continua-ci-cd')"
      tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>CD/CI</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('devops','https://www.paradigmadigital.com/techbiz/que-es-devops-y-sobre-todo-que-no-es-devops/#:~:text=Como%20conclusi%C3%B3n%2C%20qued%C3%A9monos%20con%20una,s%C3%B3lo%20en%20desarrollar%20y%20puedan')"
      tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>DevOps</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('scope','https://platzi.com/blog/como-funciona-el-scope-en-javascript/')"
      tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>Scope</span>
    </div>

    <div class="card card-small"
      (click)="linkReferencia('precedencia','https://developer.mozilla.org/es/docs/Web/JavaScript/Reference/Operators/Operator_Precedence')"
      tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
      <span>Precedencia</span>
    </div>

  </div>

  <div class="terminal window" ></div>
  <div class="terminal" [ngSwitch]="selection" #terminal>
    <pre *ngSwitchDefault>Selecciona una opcion para ver más </pre>

    <pre *ngSwitchCase="'api'">- Conjunto de reglas y especificaciones por el cual se puede comunicar diferentes aplicaciones </pre>
    <pre *ngSwitchCase="'api'">- Permiten compartir reutilizar funciones ya existentes y no reiventar la rueda</pre>
    <pre *ngSwitchCase="'api'">- Suelen ser la entrada principal a los sistemas distribuidos </pre>

    <pre *ngSwitchCase="'nube'"> -Nube Publica -> Los recursos son del proveedor y estos es compartido con otros usuarios</pre>
    <pre *ngSwitchCase="'nube'"> -Nube Privada -> Los recursos son propios y no deben ser compartidos con terceros</pre>
    <pre *ngSwitchCase="'nube'"> -Nube Hibrida -> Los recursos son propios pero el espacio puede ser compartido con otros usuarios </pre>

    <pre *ngSwitchCase="'rest'">                 SOAP                            VS                  REST</pre>
    <pre *ngSwitchCase="'rest'">          Solo permite datos en XML                             Variedad de formatos</pre>
    <pre *ngSwitchCase="'rest'">      Puede incluir metadatos, más pesado              Generalmente se usa JSON, más liviano </pre>
    <pre *ngSwitchCase="'rest'">      NO se puede guardar contenido en la cache       SI puede guardar contenido en la cache </pre>

    <pre *ngSwitchCase="'restfull'">- Rest Es un estilo de arquitectura para sistemas distribuidos, que usa el protocolo HTTP </pre>
    <pre *ngSwitchCase="'restfull'"></pre>
    <pre *ngSwitchCase="'restfull'">- Caracteristicas</pre>
    <pre *ngSwitchCase="'restfull'"> - Arquitectura cliente-servidor -> comunicación continua entre estos 2 agentes </pre>
    <pre *ngSwitchCase="'restfull'"> - Stateless -> No se deberia almacenar los datos del cliente para mantener el estado de este </pre>
    <pre *ngSwitchCase="'restfull'"> - Cacheable -> Algunas peticiones pueden ser cacheables para aumentar el rendimiento y la escabilidad </pre>
    <pre *ngSwitchCase="'restfull'"> - Interfaz uniforme -> independencia del servidor, ya que siempre se garantizara la misma respuesta </pre>
    <pre *ngSwitchCase="'restfull'"> - Mensajes -> todos los mensajes deben ser coherentes con la función que representan, halla un error ó no </pre>
    <pre *ngSwitchCase="'restfull'"> - HATEOAS -> es incluir todo lo necesario en la respuesta para que el usuario pueda seguir haciendo peticiones </pre>
    <pre *ngSwitchCase="'restfull'"></pre>
    <pre *ngSwitchCase="'restfull'">- Web Restfull</pre>
    <pre *ngSwitchCase="'restfull'"> - Uri del recurso -> cada metodo deberia contar con una url unica para identificar la función </pre>
    <pre *ngSwitchCase="'restfull'"> - Representación de recurso -> se puede añadir a la cabecera de la petición, definiendo el formato que se procesara </pre>
    <pre *ngSwitchCase="'restfull'"> - Operaciones -> Usar los metodos HTTP de manera idonea (GET, POST, PUT DELETE) </pre>
    <pre *ngSwitchCase="'restfull'"> - Hipervinculos -> Se pueden incluir vinculos para más acciones con el objeto, dentro de la respuesta </pre>

    <pre *ngSwitchCase="'caracteristicas'">- Buenas practicas para crear APIs 100% restfull</pre>
    <pre *ngSwitchCase="'caracteristicas'"></pre>
    <pre *ngSwitchCase="'caracteristicas'"> - Versionamiento -> las apis tambien cambian y esto no debe evitar que las versiones anteriores dejen de funcionar </pre>
    <pre *ngSwitchCase="'caracteristicas'"></pre>
    <pre *ngSwitchCase="'caracteristicas'"> - Autenticación -> esto garantiza un minimo de seguridad e integración en las operaciones a realizar </pre>
    <pre *ngSwitchCase="'caracteristicas'">   - Para esto se puede usar OAuth2 o JWT</pre>
    <pre *ngSwitchCase="'caracteristicas'"></pre>
    <pre *ngSwitchCase="'caracteristicas'"> - Paginación -> mostrar todos los resultados es inviable en varios terminos, por lo tanto deberia haber</pre>
    <pre *ngSwitchCase="'caracteristicas'">   - una forma de mostrar por partes la información </pre>
    <pre *ngSwitchCase="'caracteristicas'"></pre>
    <pre *ngSwitchCase="'caracteristicas'"> - Documentación -> cuando algo cambia la documentación tambien debe hacerlo de inmediato</pre>
    <pre *ngSwitchCase="'caracteristicas'">   -  de lo contrario puede haber problemas de inconsistencias con los parametros </pre>
    <pre *ngSwitchCase="'caracteristicas'"></pre>
    <pre *ngSwitchCase="'caracteristicas'"> - Respuestas -> los codigos deben reflejar lo que haya sucedido, es una mala practica siempre devolver OK(200) </pre>
    <pre *ngSwitchCase="'caracteristicas'">   - aunque hayan sucedido errores, esto da lugar a mensajes contradictorios </pre>

    <pre *ngSwitchCase="'escalamiento'">- Capacidad de un software para crecer de acuerdo a la demanda </pre>
    <pre *ngSwitchCase="'escalamiento'"></pre>
    <pre *ngSwitchCase="'escalamiento'"> -vertical -> la más facil de realizar pero la más costosa</pre>
    <pre *ngSwitchCase="'escalamiento'"> -vertical -> esta depende directamente de la capacidad de la infraestructura</pre>
    <pre *ngSwitchCase="'escalamiento'"> -vertical -> las fallas en la infraestructura pueden conllevar a errores colapsantes </pre>
    <pre *ngSwitchCase="'escalamiento'"></pre>
    <pre *ngSwitchCase="'escalamiento'"> -horizontal -> esta es más dificil de realizar pero es practicamente ilimitada</pre>
    <pre *ngSwitchCase="'escalamiento'"> -horizontal -> se basa en tener varios nodos trabajando en paralelo de manera coordinada </pre>
    <pre *ngSwitchCase="'escalamiento'"> -horizontal -> soporta el balanceo de cargas y tiene una disponibilidad muy alta </pre>
    <pre *ngSwitchCase="'escalamiento'"> -horizontal -> el mantenimiento se incrementa considerablemente</pre>

    <pre *ngSwitchCase="'docker'">- Esta basado en el Kernel de Linux y su proposito es segregar los procesos de manera que sean independientes </pre>
    <pre *ngSwitchCase="'docker'">- Reduce el consumo de recursos al solo tener lo necesario para ejecutar los procesos </pre>
    <pre *ngSwitchCase="'docker'">- Desde su aparición las maquinas virtuales han perdido relevancia </pre>
    <pre *ngSwitchCase="'docker'">- El uso de los contenedores y todos sus beneficios fue una gran revolución en el desarrollo del software </pre>
    <pre *ngSwitchCase="'docker'">- Los contenedores son entornos de ejecución completos haciendolos independientes del sistema anfitrión </pre>
    <pre *ngSwitchCase="'docker'">- Los servicios se pueden unir para generar aplicaciones de más complejidad y eficiencia </pre>

    <pre *ngSwitchCase="'compose'">- Docker Compose permite simplificar y administrar los contenedores por medio de archivos YAML </pre>
    <pre *ngSwitchCase="'compose'">- Esto permite conectar y administrar a los contenedores y sus puertos, volumenes, configuraciones, etc.. </pre>
    <pre *ngSwitchCase="'compose'">- Se puede usar con Dockerfiles previamente creados, o especificar todo directamente en el archivo </pre>

    <pre *ngSwitchCase="'scraping'">- Es una forma de buscar contenido de las paginas en internet </pre>
    <pre *ngSwitchCase="'scraping'">- Algunos buscadores como Google hacen esto para indexar contenido </pre>
    <pre *ngSwitchCase="'scraping'">- Son tipos especiales de Bots que buscan terminos especificos de busqueda </pre>
    <pre *ngSwitchCase="'scraping'">- Se puede dar manera de automatica (software de  analisis sintactico) y manual (copiar y pegar) </pre>
    <pre *ngSwitchCase="'scraping'">- Esto puede conllevar a una ventaja sobre tu competencia al comparar su contenido con el tuyo </pre>
    <pre *ngSwitchCase="'scraping'">- Puede violar las leyes de derechos de autor, por lo que puede llegar a ser ilegal </pre>
    <pre *ngSwitchCase="'scraping'">- Tambien se puede bloquear por medio de software ó dificultarles la extracción de los datos (imagenes) </pre>

    <pre *ngSwitchCase="'cdci'">- Integración continua Y Entrega continua nacen para entregar un mejor codigo, de una manera más rapida y con menos errores </pre>
    <pre *ngSwitchCase="'cdci'">- Los errores se pueden encontrar de manera previa a estar en producción </pre>
    <pre *ngSwitchCase="'cdci'">- Integración continua permite una mejora de la afluencia a la rama principal del codigo, evitando problemas con ramas aisladas </pre>
    <pre *ngSwitchCase="'cdci'">- Entrega continua permite que los cambios aprobados sean implementados con el menor numero de complicaciones posibles </pre>
    <pre *ngSwitchCase="'cdci'">- Para que todo esto sea posible todas las pruebas deben estar automatizadas </pre>
    <pre *ngSwitchCase="'cdci'">- Las pruebas deben tener la mayor cobertura posible, o en su defecto un minimo </pre>
    <pre *ngSwitchCase="'cdci'">- El uso de buenas pracaticas es fundamental, ya que esto evitara posibles errores </pre>

    <pre *ngSwitchCase="'devops'">- Es una metodologia para crear software de una manera más eficiente, con mayor calidad y menos problemas en producción </pre>
    <pre *ngSwitchCase="'devops'">- Este modelo no consiste en aumentar las responsabilidades del desarrollador, todo lo contrario </pre>
    <pre *ngSwitchCase="'devops'">- Ya que la meta es que cada despliegue sea automatico, reduciendo el tiempo de corrección de errores, aumentando la productividad </pre>
    <pre *ngSwitchCase="'devops'">- La automatización de las tareas y las pruebas permite que el codigo en desarrollo fluya rapidamente a producción </pre>

    <pre *ngSwitchCase="'scope'">- Se puede definir como el alcance que tendran las variables en tu codigo </pre>
    <pre *ngSwitchCase="'scope'"></pre>
    <pre *ngSwitchCase="'scope'">- Scope Local -> tus variables seran accesibles solamente en el ambito declarado como lo puede ser:  </pre>
    <pre *ngSwitchCase="'scope'"> - dentro de una función, dentro de una clase, dentro de una sentencia de control </pre>
    <pre *ngSwitchCase="'scope'"></pre>
    <pre *ngSwitchCase="'scope'">- Scope Global -> se pueden acceder desde cualquier parte de tu codigo, más aun asi no se recomiendan</pre>
    <pre *ngSwitchCase="'scope'"> - En el caso de Javascript se recomienda usar <strong>let</strong> y <strong>const</strong> para la declaración de variables, ya que el <strong>var</strong> puede traer bugs consigo</pre>

    <pre *ngSwitchCase="'precedencia'">- los operadores en las expresiones tienen una jeararquia predeterminada que determina el orden de evaluación </pre>
    <pre *ngSwitchCase="'precedencia'"> - Operadores con igual prioridad se evaluan de izquierda a derecha </pre>
    <pre *ngSwitchCase="'precedencia'"> - Operadores logicos y de operación bit a bit de izquierda a derecha </pre>
    <pre *ngSwitchCase="'precedencia'"> - Operadores matematicos, se respeta la jeararquia matematica, a menos que se involucren parantesis </pre>
    <pre *ngSwitchCase="'precedencia'"> - Los parentesis afectan el orden de evaluación, al mismo tiempo que permiten asociar expresiones </pre>
    <pre *ngSwitchCase="'precedencia'"> - La precedencia puede cambiar de lenguaje a lenguaje, por lo que se recomienda saber las especificaciones de cada uno </pre>

  </div>

  <app-referencia [referencia]="referencia"></app-referencia>

</div>
