<div class="content">

  <h2>Conceptos transversales en Metodologias Agiles</h2>

  <div class="card-container">

    <app-button [tittleButton]="'MOSCOW'" (click)="getLinkAndTittleByKey('moscow')"></app-button>

    <app-button [tittleButton]="'Theme Scoring'" (click)="getLinkAndTittleByKey('scoring')"></app-button>

    <app-button [tittleButton]="'Desperdicio'" (click)="getLinkAndTittleByKey('muda')"></app-button>

    <app-button [tittleButton]="'5s'" (click)="getLinkAndTittleByKey('5s')"></app-button>

    <app-button [tittleButton]="'Muda #1'" (click)="getLinkAndTittleByKey('muda#1')"></app-button>

    <app-button [tittleButton]="'Muda #2'" (click)="getLinkAndTittleByKey('muda#2')"></app-button>

    <app-button [tittleButton]="'Planning Poker'" (click)="getLinkAndTittleByKey('planningPoker')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

  </div>

</div>
