<div class="content">

  <h2>Calidad del software</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Artesanos'" (click)="getLinkAndTittleByKey('artesanos')"></app-button>

    <app-button [tittleButton]="'Metricas #1'" (click)="getLinkAndTittleByKey('metricas')"></app-button>

    <app-button [tittleButton]="'Metricas #2'" (click)="getLinkAndTittleByKey('metricasEnCodigo')"></app-button>

    <app-button [tittleButton]="'Clean Code'" (click)="getLinkAndTittleByKey('cleanCode')"></app-button>

    <app-button [tittleButton]="'Costo de la calidad'" (click)="getLinkAndTittleByKey('costOfQuality')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content" [innerHTML]="content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>
      
      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

    </div>

  </div>

</div>
