<div class="content">

  <h2>Malas Practicas</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Callback Hell'" (click)="getLinkAndTittleByKey('callbackhell')"></app-button>

    <app-button [tittleButton]="'Parte #1'" (click)="getLinkAndTittleByKey('cosas1')"></app-button>

    <app-button [tittleButton]="'Parte #2'" (click)="getLinkAndTittleByKey('cosas2')"></app-button>

    <app-button [tittleButton]="'Parte #3'" (click)="getLinkAndTittleByKey('cosas3')"></app-button>

  </div>

  <div class="terminal window" *ngIf="titulo !== '' "><h2>{{titulo}}</h2></div>
    <div class="terminal" [ngSwitch]="selection" #terminal>
      
      <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>
  
      <pre *ngSwitchCase="'callbackhell'">- Generalmente es un problema al hacer codigo con caracteristicas asincronas (generalmente javascript) </pre>
      <pre *ngSwitchCase="'callbackhell'">- El orden en que se copia el codigo no necesariamente es en el que va a ser ejecutado</pre>
      <pre *ngSwitchCase="'callbackhell'">- Cambiar el orden de las llamadas puede evitar el anidamiento innecesario</pre>
      <pre *ngSwitchCase="'callbackhell'">- Usar promesas ó el Async/Await que hara que el codigo se comporte de manera más sincronica </pre>

      <pre *ngSwitchCase="'cosas1'">- Desconocimiento del negocio, clases mal diseñadas o condiciones sin sentido</pre>
      <pre *ngSwitchCase="'cosas1'">- Mala o nula formulación de requerimientos y requisitos </pre>
      <pre *ngSwitchCase="'cosas1'">- Desconocimiento de las tecnologias que se usen, la experiencia de un desarrollador toma tiempo para conseguirse </pre>
      <pre *ngSwitchCase="'cosas1'">- Malas estimaciones de los tiempos, obligando a mucho trabajo extra</pre>
      <pre *ngSwitchCase="'cosas1'">- No aplicar patrones y/o arquitecturas</pre>

      <pre *ngSwitchCase="'cosas2'">- Asignación erronea del personal en roles inadecuados o sin la experiencia necesaria </pre>
      <pre *ngSwitchCase="'cosas2'">- Asumir información sin tener una confirmación previa</pre>
      <pre *ngSwitchCase="'cosas2'">- Empezar a planear sin tener todas las variables a tener en cuenta</pre>
      <pre *ngSwitchCase="'cosas2'">- No se debe abusar de la capacidad de multitarea del equipo</pre>

      <pre *ngSwitchCase="'cosas3'">- La falta de comunicación en el equipo puede conllevar al desastre</pre>
      <pre *ngSwitchCase="'cosas3'">- No poner limites es tan malo como ser inflexible, siempre hay un punto medio</pre>
      <pre *ngSwitchCase="'cosas3'">- Entregar productos incompletos, lo ideal seria pedir más tiempo o recursos</pre>
      <pre *ngSwitchCase="'cosas3'">- Asignación erronea del personal en roles inadecuados o sin la experiencia necesaria </pre>
      
    </div>
  
    <app-referencia [referencia]="referencia"></app-referencia>
  
  </div>
