<div class="content">

  <h2>Patrones</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Definición'" (click)="getLinkAndTittleByKey('definicionPatrones')"></app-button>

    <app-button [tittleButton]="'Tipos de Patrones'" (click)="getLinkAndTittleByKey('tiposDePatrones')"></app-button>

    <app-button [tittleButton]="'GOF'" (click)="getLinkAndTittleByKey('gof')"></app-button>

    <app-button [tittleButton]="'Desglose GOF'" (click)="getLinkAndTittleByKey('desglosegof')"></app-button>

    <app-button [tittleButton]="'GRASP'" (click)="getLinkAndTittleByKey('grasp')"></app-button>

    <app-button [tittleButton]="'Desglose Grasp'" (click)="getLinkAndTittleByKey('desglosegrasp')"></app-button>

    <app-button [tittleButton]="'DAO & Active Record'" (click)="getLinkAndTittleByKey('dao')"></app-button>

    <app-button [tittleButton]="'Anti Patrones'" (click)="getLinkAndTittleByKey('antipatrones')"></app-button>

    <app-button [tittleButton]="'Doble despacho'" (click)="getLinkAndTittleByKey('dobleDespacho')"></app-button>

    <app-button [tittleButton]="'Patron saga'" (click)="getLinkAndTittleByKey('patronSaga')"></app-button>

    <app-button [tittleButton]="'Patron CQRS'" (click)="getLinkAndTittleByKey('patroncqrs')"></app-button>

    <app-button [tittleButton]="'Patron undo-redo'" (click)="getLinkAndTittleByKey('patronUndoRedo')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>

      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>
      
    </div>

  </div>

</div>
