<div class="content">

  <h2>Patrones</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Definición'" (click)="getLinkAndTittleByKey('definicionPatrones')"></app-button>

    <app-button [tittleButton]="'GOF'" (click)="getLinkAndTittleByKey('gof')"></app-button>

    <app-button [tittleButton]="'Desglose GOF'" (click)="getLinkAndTittleByKey('desglosegof')"></app-button>

    <app-button [tittleButton]="'GRASP'" (click)="getLinkAndTittleByKey('grasp')"></app-button>

    <app-button [tittleButton]="'Desglose Grasp'" (click)="getLinkAndTittleByKey('desglosegrasp')"></app-button>

    <app-button [tittleButton]="'DAO & Active Record'" (click)="getLinkAndTittleByKey('dao')"></app-button>

    <app-button [tittleButton]="'Anti Patrones'" (click)="getLinkAndTittleByKey('antipatrones')"></app-button>

    <app-button [tittleButton]="'Doble despacho'" (click)="getLinkAndTittleByKey('dobleDespacho')"></app-button>

    <app-button [tittleButton]="'Patron saga'" (click)="getLinkAndTittleByKey('patronSaga')"></app-button>

    <app-button [tittleButton]="'Patron CQRS'" (click)="getLinkAndTittleByKey('patroncqrs')"></app-button>

  </div>

  <div class="terminal window" *ngIf="titulo !== '' "><h2>{{titulo}}</h2></div>
  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <pre *ngSwitchCase="'definicionPatrones'">- Son soluciones especificas a problemas comunes y los más conocidos son: </pre>
    <pre *ngSwitchCase="'definicionPatrones'">   GOF -> que se dividen en 3, creacionales, estructurales y de comportamiento </pre>
    <pre *ngSwitchCase="'definicionPatrones'">   GRASP -> Representan los principios básicos de la asignación de responsabilidades a objetos, en forma de patrones </pre>

    <pre *ngSwitchCase="'gof'">- Creacionales -> Se usan para la creación de objetos ya se ocultando o simplificando la creación de estos </pre>
    <pre *ngSwitchCase="'gof'">- Estructurales -> Separan la interfaz de su implementación por medio de la abstracción </pre>
    <pre *ngSwitchCase="'gof'">- Comportamiento -> Definen la comunicación entre objetos, y la independencia de esta de los objetos </pre>

    <pre *ngSwitchCase="'desglosegof'">- Creacionales </pre>
    <pre *ngSwitchCase="'desglosegof'">  -Singleton -> Restringe la instancia de la clase a un solo Objeto </pre>
    <pre *ngSwitchCase="'desglosegof'">  -MVC -> plantea la separación en 3 capas, cada una con una función especifica </pre>
    <pre *ngSwitchCase="'desglosegof'">  -Abstract factory -> Permite crear familias de objetos relacionados sin especificarlas directamente </pre>
    <pre *ngSwitchCase="'desglosegof'">  -Builder -> Permite crear objetos bajo demanda, y solo con las propiedades especificadas </pre>
    <pre *ngSwitchCase="'desglosegof'"></pre>
    <pre *ngSwitchCase="'desglosegof'">- Estructurales </pre>
    <pre *ngSwitchCase="'desglosegof'">  -Adapter -> Permite la comunicación entre objetos de tipos diferentes, independientemente del tipo de cada objeto </pre>
    <pre *ngSwitchCase="'desglosegof'">  -Decorator -> Añade funcionalidades extra añadiendo clases que ya las tienen, sin afectar al codigo existente </pre>
    <pre *ngSwitchCase="'desglosegof'">  -Facade -> Permite acceder facilmente a muchas funciones, muy usado en librerias y frameworks </pre>
    <pre *ngSwitchCase="'desglosegof'">  -Bridge -> Permite dividir clases muy relacionadas en otras más pequeñas e independientes </pre>
    <pre *ngSwitchCase="'desglosegof'"></pre>
    <pre *ngSwitchCase="'desglosegof'">- Comportamiento </pre>
    <pre *ngSwitchCase="'desglosegof'">  -Iterator -> Permite recorrer los elementos de una colección </pre>
    <pre *ngSwitchCase="'desglosegof'">  -Mediador -> La comunicación entre objetos se da solo mediante un elemento central </pre>
    <pre *ngSwitchCase="'desglosegof'">  -Observer -> Permite generar subscripciones y que todos los oyentes se enteren de los cambios </pre>
    <pre *ngSwitchCase="'desglosegof'">  -Estrategia -> Permite que una clase escoja la mejor implementación de acuerdo al caso</pre>

    <pre *ngSwitchCase="'grasp'">- Intentan hacer que la Asignación de responsabilidades sea lo más optima posible</pre>
    <pre *ngSwitchCase="'grasp'">- Alta cohesion mediante la refactorización, y bajo acoplamiento al no abusar de la herencia </pre>
    <pre *ngSwitchCase="'grasp'">- Cada componente tiene una función especifica en la que es experto</pre>
    <pre *ngSwitchCase="'grasp'">- Conocer las peculiaridades de cada lenguaje como ciclos de vida e integración con el SO </pre>
    <pre *ngSwitchCase="'grasp'">- Darle prioridad al polimorfismo más que a las sentencias de control al usarse en los objetos </pre>
    <pre *ngSwitchCase="'grasp'">- Evitar el uso de variables globales, especialmente en el desarrollo web </pre>
    <pre *ngSwitchCase="'grasp'">- La creación de factorias y clases intermedias ayudan a la mantenibilidad del código</pre>

    <pre *ngSwitchCase="'desglosegrasp'">- Indirección -> Mejorar el acoplamiento entre 2 clases, asignando a una clase como mediadora entre ellas </pre>
    <pre *ngSwitchCase="'desglosegrasp'"> - ideal para clases con alta volutibilidad y uso de librerias de externas </pre>
    <pre *ngSwitchCase="'desglosegrasp'"></pre>
    <pre *ngSwitchCase="'desglosegrasp'">- Invención pura -> son clases que no representan un objeto del dominio, sino que se creo para reducir el acoplamiento, </pre>
    <pre *ngSwitchCase="'desglosegrasp'"> - aumentar la cohesion y mejorar la reutilización </pre>
    <pre *ngSwitchCase="'desglosegrasp'"></pre>
    <pre *ngSwitchCase="'desglosegrasp'">- Creación -> determina quien es el responsable de crear nuevas instancias de acuerdo a ciertos criterios, </pre>
    <pre *ngSwitchCase="'desglosegrasp'"> - mal usado puede degenerar en el smells code de cirugia a escopetazos </pre>
    <pre *ngSwitchCase="'desglosegrasp'"></pre>
    <pre *ngSwitchCase="'desglosegrasp'">- Experto en Información -> la responsabilidad de crear o usar un objeto solo recae en aquel que conoce todo lo necesario para crearlo, </pre>
    <pre *ngSwitchCase="'desglosegrasp'"> - reduciendo el acoplamiento, y con mayor cohesión y encapsulamiento </pre>
    <pre *ngSwitchCase="'desglosegrasp'"></pre>
    <pre *ngSwitchCase="'desglosegrasp'">- Controlador -> sirve como intermediario entre una determinada interfaz y el algoritmo que la implementa, es aquel que contiene la logica necesaria </pre>
    <pre *ngSwitchCase="'desglosegrasp'"> - para redireccionar a los componentes indicados segun los datos ingresados </pre>

    <pre *ngSwitchCase="'dao'">- Son usados para el acceso a los datos (persistencia)</pre>
    <pre *ngSwitchCase="'dao'">  - DAO -> obliga a una mayor implementación manual a cambio de flexibilidad </pre>
    <pre *ngSwitchCase="'dao'">  - Active Record -> se gana una mayor independencia de la bd a costa de ceder el control </pre>

    <pre *ngSwitchCase="'antipatrones'">- Son malas soluciones a problemas comunes que a priori parecen buena idea</pre>
    <pre *ngSwitchCase="'antipatrones'">- Pueden nacer del afan de implementar patrones innecesariamente o mezclarlos de manera icorrecta </pre>
    <pre *ngSwitchCase="'antipatrones'"></pre>
    <pre *ngSwitchCase="'antipatrones'"> - Golden Hammer -> Pretende que todo se solucione de la misma manera o con el mismo lenguaje</pre>
    <pre *ngSwitchCase="'antipatrones'"> - Lava Flow -> Es la codificación de manera continua, sin un orden alguno, y lleno de redundancias</pre>
    <pre *ngSwitchCase="'antipatrones'"> - Spaghetti Code -> Aparece cuando se suelen mezclar muchos lenguajes, aumentando la complejidad de la solución </pre>
    <pre *ngSwitchCase="'antipatrones'"> - God Class -> Sucede cuando todo se soluciona en un solo archivo metodo o clase</pre>
    <pre *ngSwitchCase="'antipatrones'"> - Poltergeist -> Es la existencia de elementos injustificadamente</pre>
    <pre *ngSwitchCase="'antipatrones'"></pre>
    <pre *ngSwitchCase="'antipatrones'">- Tambien se pueden aplicar para temas de arquitectura</pre>
    <pre *ngSwitchCase="'antipatrones'"> - Reinventar la rueda -> Es la implementación de soluciones que ya existen de antemano</pre>
    <pre *ngSwitchCase="'antipatrones'"> - Casarse con el diablo -> Es la dependencia total de algun elemento sin contingencia alguna </pre>

    <pre *ngSwitchCase="'dobleDespacho'">- Es un patron de diseño que resuelve 2 problemas: </pre>
    <pre *ngSwitchCase="'dobleDespacho'"> - cuando el comportamiento depende del objeto que se reciba </pre>
    <pre *ngSwitchCase="'dobleDespacho'"> - y tambien dependa de los parametros recibidos </pre>
    <pre *ngSwitchCase="'dobleDespacho'">- Esto se puede hacer mediante varias maneras, herencia, polimorfismo, reflexion, etc... </pre>

    <pre *ngSwitchCase="'patronSaga'">- Es un patron que ayuda a garantizar la integridad de las transacciones </pre>
    <pre *ngSwitchCase="'patronSaga'">- Especialmente util para aplicaciones distribuidas y microservicios </pre>
    <pre *ngSwitchCase="'patronSaga'"></pre>
    <pre *ngSwitchCase="'patronSaga'"> - Mediante coreografia -> es una sucesión de eventos donde cada uno llama al siguiente </pre>
    <pre *ngSwitchCase="'patronSaga'">  - despues de terminar su tarea, en este caso cada servicio debe saber como responder ante cada caso posible </pre>
    <pre *ngSwitchCase="'patronSaga'"> - Facil de implementar y con poco acoplamiento, pero se puede complicar entre más operaciones hallan </pre>
    <pre *ngSwitchCase="'patronSaga'"></pre>
    <pre *ngSwitchCase="'patronSaga'"> - Mediante orquestación -> de esta manera un solo proceso o servicio es el encargado de coordinar, </pre>
    <pre *ngSwitchCase="'patronSaga'">  - todas las llamadas de los procesos y de realizar el rollback completo si alguna de las operaciones falla </pre>
    <pre *ngSwitchCase="'patronSaga'"> - Más facil de mantener a cambio de convertirse en un posible cuello de botella </pre>

    <pre *ngSwitchCase="'patroncqrs'">- El acronimo significa: Segregación de Responsabilidad de Consultas de Comandos </pre>
    <pre *ngSwitchCase="'patroncqrs'">- Las operaciones de lectura y escritura utilizan diferentes modelos de datos </pre>
    <pre *ngSwitchCase="'patroncqrs'">- Esto permite facilitar leer y escribir operaciones, agregando tanto seguridad como complejidad </pre>
    <pre *ngSwitchCase="'patroncqrs'">- Los datos no solo se manejan de maneras diferentes, tambien pueden ser almacenados de distintas formas </pre>
    <pre *ngSwitchCase="'patroncqrs'">- Especialmente util cuando las operaciones de lectura y de creacion/modificación difieren sustancialmente </pre>

  </div>

  <app-referencia [referencia]="referencia"></app-referencia>

</div>
