<div class="content">

  <h2>Bases de Datos</h2>

  <div class="card-container">

    <app-button [tittleButton]="'SQL'" (click)="getLinkAndTittleByKey('sql')"></app-button>

    <app-button [tittleButton]="'DBMS'" (click)="getLinkAndTittleByKey('dbms')"></app-button>

    <app-button [tittleButton]="'CRUD'" (click)="getLinkAndTittleByKey('crud')"></app-button>

    <app-button [tittleButton]="'DDL, DML, DCL, TCL'" (click)="getLinkAndTittleByKey('dl')"></app-button>

    <app-button [tittleButton]="'Integridad'" (click)="getLinkAndTittleByKey('integridad')"></app-button>

    <app-button [tittleButton]="'ERD'" (click)="getLinkAndTittleByKey('erd')"></app-button>

    <app-button [tittleButton]="'Normalización'" (click)="getLinkAndTittleByKey('normalizacion')"></app-button>

    <app-button [tittleButton]="'NoSQL'" (click)="getLinkAndTittleByKey('nosql')"></app-button>

    <app-button [tittleButton]="'Tipos NoSQL'" (click)="getLinkAndTittleByKey('tiposBD')"></app-button>

    <app-button [tittleButton]="'Esquema ACID'" (click)="getLinkAndTittleByKey('acid')"></app-button>

    <app-button [tittleButton]="'ORM'" (click)="getLinkAndTittleByKey('orm')"></app-button>

    <app-button [tittleButton]="'Consistencia'" (click)="getLinkAndTittleByKey('consistenciaEventual')"></app-button>

    <app-button [tittleButton]="'Algebra Relacional'" (click)="getLinkAndTittleByKey('algebraRelacional')"></app-button>

    <app-button [tittleButton]="'N + 1 Selects'" (click)="getLinkAndTittleByKey('n+1selects')"></app-button>

    <app-button [tittleButton]="'Indices'" (click)="getLinkAndTittleByKey('indices')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>
    
    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <pre *ngSwitchCase="'sql'">- Es lenguaje de consultas estandar para manipular la información en una base de datos </pre>
    <pre *ngSwitchCase="'sql'">- Cada motor de base de datos tiene sus particularidades pero todos usan SQL</pre>
    <pre *ngSwitchCase="'sql'">- Las columnas son los datos a guardar y las filas son los registros almacenados</pre>
    <pre *ngSwitchCase="'sql'">- Las tablas estan compuestas de columnas y registros con información de un tipo en especifico </pre>
    <pre *ngSwitchCase="'sql'">- Toda tabla deberia tener una clave primaria, para mejorar la indexación de contenido</pre>
    <pre *ngSwitchCase="'sql'">- La información deberia estar normalizada para evitar valores duplicados</pre>

    <pre *ngSwitchCase="'dbms'">- Se encargan de almacenar, administrar, manipular y resguardar los datos </pre>
    <pre *ngSwitchCase="'dbms'"></pre>
    <pre *ngSwitchCase="'dbms'">- Las BD guardan diferentes tipos de datos como: </pre>
    <pre *ngSwitchCase="'dbms'"> - texto, numeros, binarios, temporales, documentos, imagenes, geograficos, etc... </pre>
    <pre *ngSwitchCase="'dbms'"></pre>
    <pre *ngSwitchCase="'dbms'">- Un buen DBMS deberia tener las siguientes caracteristicas: </pre>
    <pre *ngSwitchCase="'dbms'"> - Reducción de la redundancia -> Los duplicados en las BD se reducen al tener un unico lugar donde almacenar los datos </pre>
    <pre *ngSwitchCase="'dbms'"> - Mantenimiento -> tener todos los datos en solo lugar permite que se administren con más eficiencia </pre>
    <pre *ngSwitchCase="'dbms'"> - Mantenimiento -> tener todos los datos en solo lugar permite que se administren con más eficiencia </pre>
    <pre *ngSwitchCase="'dbms'"> - Seguridad -> define quien y con que privilegios puede acceder a la informacón </pre>
    <pre *ngSwitchCase="'dbms'"> - Consistencia -> se maneja un estandar para todos los datos de todas las BD </pre>
    <pre *ngSwitchCase="'dbms'"> - MultiUsuario -> el acceso concurrente de varios usuarios es un tema comun para las BD </pre>

    <pre *ngSwitchCase="'crud'">- Son las 4 operaciones basicas a la hora de gestionar los datos de una BD </pre>
    <pre *ngSwitchCase="'crud'">- No solo es aplicable para SQL, tambien tiene su equivalencia en HTTP </pre>
    <pre *ngSwitchCase="'crud'">- La mayoria de frameworks tienen estos metodos ya implementados y listos para consumirse </pre>
    <pre *ngSwitchCase="'crud'"></pre>
    <pre *ngSwitchCase="'crud'">  Operación      SQL          HTTP, Restful     </pre>
    <pre *ngSwitchCase="'crud'">  Create        INSERT        POST              </pre>
    <pre *ngSwitchCase="'crud'">  Read          SELECT        GET, HEAD         </pre>
    <pre *ngSwitchCase="'crud'">  Update        UPDATE        PUT, PATCH        </pre>
    <pre *ngSwitchCase="'crud'">  Delete        DELETE        DELETE            </pre>

    <pre *ngSwitchCase="'dl'">- DDL -> Lenguaje de Definición de Datos </pre>
    <pre *ngSwitchCase="'dl'">- Permite Crear y Modificar la estructura de la BD </pre>
    <pre *ngSwitchCase="'dl'"> - CREATE -> creación de campos, tablas e indices </pre>
    <pre *ngSwitchCase="'dl'"> - ALTER -> modificacion de tablas ó sus campos </pre>
    <pre *ngSwitchCase="'dl'"> - DROP -> eliminación de tablas e indices </pre>
    <pre *ngSwitchCase="'dl'"> - TRUNCATE -> elimina los registros de una tabla </pre>
    <pre *ngSwitchCase="'dl'"> - RENAME -> renombra objetos </pre>
    <pre *ngSwitchCase="'dl'"></pre>
    <pre *ngSwitchCase="'dl'">- DML -> Lenguaje de Manipulación de Datos </pre>
    <pre *ngSwitchCase="'dl'">- Permite ejecutar las operaciones de un CRUD en los datos de la BD </pre>
    <pre *ngSwitchCase="'dl'"> - SELECT -> consulta una tabla de la BD de manera general ó con filtros </pre>
    <pre *ngSwitchCase="'dl'"> - INSERT -> inserción de datos en una tabla </pre>
    <pre *ngSwitchCase="'dl'"> - UPDATE -> actualización de campos ó registros que cumplan los criterios especificados </pre>
    <pre *ngSwitchCase="'dl'"> - DELETE -> elimina registros de una tabla </pre>
    <pre *ngSwitchCase="'dl'"></pre>
    <pre *ngSwitchCase="'dl'">- DCL -> Lenguaje de Control de Datos </pre>
    <pre *ngSwitchCase="'dl'"> - Permite crear roles, permisos y conceder/denegar el acceso a los datos </pre>
    <pre *ngSwitchCase="'dl'"> - GRANT -> otorga privilegios de acceso a los usuarios </pre>
    <pre *ngSwitchCase="'dl'"> - REVOKE -> retira los privilegios previamente otorgados </pre>
    <pre *ngSwitchCase="'dl'"></pre>
    <pre *ngSwitchCase="'dl'">- TCL -> Lenguaje de Control de Transacciones </pre>
    <pre *ngSwitchCase="'dl'"> - COMMIT -> guarda los cambios realizados </pre>
    <pre *ngSwitchCase="'dl'"> - ROLLBACK -> deshace el ultimo cambio hecho </pre>

    <pre *ngSwitchCase="'integridad'"> - Son las reglas que garantizan que la información que la información sea inmutable hasta que se decida lo contrario </pre>
    <pre *ngSwitchCase="'integridad'"> - Tambien protege los datos de posibles errores a la hora de modificarlos </pre>
    <pre *ngSwitchCase="'integridad'"> - Esta es una de las principales diferencias entre las BD relacionales y NO relacionales </pre>
    <pre *ngSwitchCase="'integridad'"> - Las BD relacionales cumplen esto mediante el esquema ACID </pre>
    <pre *ngSwitchCase="'integridad'"> - Las DB NO relacionales no garantizan el 100% de la integridad de los datos, aunque la mayoria son muy fiables </pre>

    <pre *ngSwitchCase="'erd'">- Demuestra como las entidades (generalmente de una BD) se relacionan entre si </pre>
    <pre *ngSwitchCase="'erd'">- Es una manera de desarrollar BD relacionales de acuerdo al modelo de negocio</pre>
    <pre *ngSwitchCase="'erd'">- Demuestra como las entidades (generalmente de una BD) se relacionan entre si </pre>
    <pre *ngSwitchCase="'erd'">- Tambien tienen una relación que denota la cardinalidad 1-1, 1-n, 1-0, m-n</pre>

    <pre *ngSwitchCase="'normalizacion'">- La normalización en la base de datos hace que la información sea más facil de estructurar </pre>
    <pre *ngSwitchCase="'normalizacion'">- Evita gastar espacio en datos redundantes y elimina imposible inconsistencias</pre>
    <pre *ngSwitchCase="'normalizacion'"></pre>
    <pre *ngSwitchCase="'normalizacion'">  - Primera forma -> identificar datos agrupables en tablas individuales</pre>
    <pre *ngSwitchCase="'normalizacion'">  - Primera forma -> asigne cada conjunto con una clave primaria</pre>
    <pre *ngSwitchCase="'normalizacion'"></pre>
    <pre *ngSwitchCase="'normalizacion'">  - Segunda forma -> crear tablas independientes para valores que sean aplicables a otros registros </pre>
    <pre *ngSwitchCase="'normalizacion'">  - Segunda forma -> asigne claves foraneas que se puedan relacionar con otras tablas</pre>
    <pre *ngSwitchCase="'normalizacion'"></pre>
    <pre *ngSwitchCase="'normalizacion'">  - Tercera forma -> trasladar valores que sean independientes de las claves a tablas separadas</pre>
    <pre *ngSwitchCase="'normalizacion'">  - Tercera forma -> no siempre es conveniente hacerlo, puede ser costoso en terminos de rendimiento </pre>
    <pre *ngSwitchCase="'normalizacion'"></pre>
    <pre *ngSwitchCase="'normalizacion'">  - Cuarta forma  -> rara vez se aplican pero hay casos donde es practico hacerlo</pre>

    <pre *ngSwitchCase="'nosql'">- Nacieron de los problemas para escalar las BD relacionales</pre>
    <pre *ngSwitchCase="'nosql'">- Existes proyectos propios de grandes empresas y de codigo libre accesibles para la comunidad</pre>
    <pre *ngSwitchCase="'nosql'">- La principal diferencia respecto a SQL es la falta de una estructura definida para almacenar los datos </pre>
    <pre *ngSwitchCase="'nosql'">- Esta falta de estructura hace posible que se pueda guardar cualquier tipo de dato</pre>
    <pre *ngSwitchCase="'nosql'">- El rendimiento es mayor independientemente de la cantidad de datos</pre>
    <pre *ngSwitchCase="'nosql'">- La fiabilidad de los datos no esta garantizada</pre>
    <pre *ngSwitchCase="'nosql'">- No hay un estandar para las operaciones, cada motor tiene su sintaxis diferente</pre>
    <pre *ngSwitchCase="'nosql'">- Existen diferentes formas de guardar la información </pre>

    <pre *ngSwitchCase="'tiposBD'">- Clave-Valor -> cada elemento tiene una llave unica, asociada a un valor </pre>
    <pre *ngSwitchCase="'tiposBD'">- Documentos -> la información se guarda en documentos con IDs unicos, y en formatos simples como JSON o XML </pre>
    <pre *ngSwitchCase="'tiposBD'">- Grafos -> se basan en nodos, relacionados mediante aristas, es necesario de la teoria de grafos para recorrerlas </pre>
    <pre *ngSwitchCase="'tiposBD'">- Objetos -> los datos se manejan mediante Objetos, tal y como en la Programación Orientada a Objetos </pre>

    <pre *ngSwitchCase="'acid'">- Son 4 propiedades que garantizan la confiabilidad de las operaciones y consecuentemente en los datos de las BD </pre>
    <pre *ngSwitchCase="'acid'">  - Atomicidad -> todas las operaciones deben ser todo o nada, si una falla la información no debe sufrir cambios </pre>
    <pre *ngSwitchCase="'acid'">  - Consistencia -> toda operación iniciada debe ser valida para poderse efectuarse, constraints, cascades, etc.. </pre>
    <pre *ngSwitchCase="'acid'">  - Aislamiento -> toda operación debe ser ejecutada indeferentemente de las demás, respetando el orden</pre>
    <pre *ngSwitchCase="'acid'">  - Persistencia -> toda transacción que se haya realizado debe ser perdurable en el tiempo, sin importar que suceda </pre>

    <pre *ngSwitchCase="'orm'">- El Mapeo Objeto-Relacional permite convertir los objetos convencionales en objetos persistentes </pre>
    <pre *ngSwitchCase="'orm'">- Permite generar esquemas para guardar la información independientes de cualquier Motor de Base de Datos </pre>
    <pre *ngSwitchCase="'orm'">- Todas las operaciones basicas del CRUD son facilmente implementables </pre>
    <pre *ngSwitchCase="'orm'">- Los cambios en las BD se hacen mucho más rapidos de hacer y de probar </pre>
    <pre *ngSwitchCase="'orm'">- El rendimientos para operaciones muy complicadas es ligeramente menor </pre>

    <pre *ngSwitchCase="'consistenciaEventual'">- Garantiza la calidad de los servicios, con una gran disponibilidad y escalabilidad </pre>
    <pre *ngSwitchCase="'consistenciaEventual'">- Esto se aplica solamente para bases de datos relacionales </pre>
    <pre *ngSwitchCase="'consistenciaEventual'">- Cuando la concurrencia es demasiado alta, las peticiones pueden resultar en peticiones bloqueantes </pre>
    <pre *ngSwitchCase="'consistenciaEventual'">- Cuando un sistema transaccional se bloquea, generalmente lo hace por un instante breve de tiempo, </pre>
    <pre *ngSwitchCase="'consistenciaEventual'">  - si esto no se maneja de manera correcta, puede resultar en bloqueos fatales para la aplicación </pre>
    <pre *ngSwitchCase="'consistenciaEventual'">- La consistencia eventual permite garantizar la disponibilidad y escalabilidad de las aplicaciones, </pre>
    <pre *ngSwitchCase="'consistenciaEventual'">  - mediante cientos de nodos distribuidos y la promesa de retorno de toda operación </pre>

    <pre *ngSwitchCase="'algebraRelacional'">- Este tipo de algebra toma un conjunto de datos y realiza operaciones sobre estos, para generar un nuevo conjunto </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- Tambien soporta el concepto de anidación al usar un resultado para una operación y generar otro resultado </pre>
    <pre *ngSwitchCase="'algebraRelacional'"></pre>
    <pre *ngSwitchCase="'algebraRelacional'">- UNION -> une 2 tablas iguales, sin registros repetidos </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- INTERSECCIÓN -> une 2 tablas iguales donde los registros sean iguales, evitando la repetición </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- DIFERENCIA -> opera en tablas y devuelve el contenido que se encuentre en la primera tabla pero no en la segunda </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- PRODUCTO -> toma 2 tablas y devuelve una tercera con el contenido de acuerdo a las posibles combinaciones, ya sean iguales o diferentes </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- SELECCION -> toma 2 ó más tablas, iguales o diferentes, y devuelve los campos donde se cumplan las condiciones dadas </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- PROYECCIÓN -> opera igual que la selección, pero aca se pueden especificar que columnas se quieren tener </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- REUNIÓN -> opera sobre 2 ó más tablas y devuelve todos los campos deseados, que esten relacionados mediante alguna condición </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- DIVISIÓN -> opera sobre 2 tablas donde el resultado no existe en la primera tabla, y todas las filas tengan esta relación </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- ASIGNACIÓN -> cambia los valores de las columnas donde se cumplan las condicones dadas </pre>
    <pre *ngSwitchCase="'algebraRelacional'"></pre>
    <pre *ngSwitchCase="'algebraRelacional'">- equivalencias en SQL (respectivamente)                           </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- SELECT * FROM A     UNION     SELECT * FROM B                     </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- SELECT * FROM A   INTERSECT   SELECT * FROM B                      </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- SELECT * FROM A    EXCEPT     SELECT * FROM B                       </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- SELECT * FROM A, B                                                   </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- SELECT * FROM A WHERE X&lt;50                                         </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- SELECT X, Z FROM A WHERE X&lt;50                                       </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- SELECT A.W, B.Y FROM A JOIN B ON (A.V=B.X AND Z>10)                     </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- no hay equivalencia directa, pero se puede lograr combinando operaciones </pre>
    <pre *ngSwitchCase="'algebraRelacional'">- UPDATE A SET indice="100%" WHERE codigo>2000                            </pre>

    <pre *ngSwitchCase="'n+1selects'">- Es un problema cuando se manejan ORM</pre>
    <pre *ngSwitchCase="'n+1selects'">- Dado una colección de objetos, que a su vez pueden tener otras colecciones objetos como atributos </pre>
    <pre *ngSwitchCase="'n+1selects'">- Entonces para obtener un objeto inicial, hay que tener todos los objetos asociados a este, aunque no se necesiten </pre>
    <pre *ngSwitchCase="'n+1selects'">- Actualmente la mayoria de ORM usan o proveen estrategias para evitar este comportamiento </pre>
    <pre *ngSwitchCase="'n+1selects'">- Generalmente esto no es un problema de rendimiento, pero si ha de convertirse en uno,  </pre>
    <pre *ngSwitchCase="'n+1selects'"> - hay maneras de solventarlo como cambiar la forma de consultar las entidades o usar objetos en memoria </pre>

    <pre *ngSwitchCase="'indices'">- Es una manera de optimizar las consultas y mejorar la eficiencia de una BD </pre>
    <pre *ngSwitchCase="'indices'">- Esto se logra mediante estructuras binarias asociadas a cada registro de la BD </pre>
    <pre *ngSwitchCase="'indices'">- La indexación puede presentar un problema para la inserción, modificación y borrado de los datos, ya que esto  </pre>
    <pre *ngSwitchCase="'indices'"> - significa la actualización de los indices asociados </pre>
    <pre *ngSwitchCase="'indices'">- Tener demasiados indices tambien es contraproducente ya que pueden retrasar el procesamiento de los datos </pre>
    <pre *ngSwitchCase="'indices'">- Cada motor puede manejar de diferentes maneras los indices, y esto a su vez afectar el rendimiento de cada tipo </pre>

  </div>

</div>
