/* paleta de colores -> https://coolors.co/dd0031-1976d2-eeeeee-000000-ffba08 */

/*https://blog.nubecolectiva.com/como-crear-el-efecto-modo-oscuro-claro-en-un-sitio-web-con-css-3-javascript/*/

:root {
  --color-black: black;
  --color-raisin-black: #1d1e2c;
  --color-jet: #3a3a3a;
  --color-white: white;
  --color-navy-blue: #1976d2;
  --color-french-sky-blue: #6dadee;
  --color-selective-yellow: #FFBA08;
  --color-orange-yellow-crayola: #ffd770;
  --color-cultured: #eeeeee;
  --color-crimson: #dd0031;
  --color-fulvous: #E8871E;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* inicio del modo oscuro */

.oscuro {
  background-color: var(--color-raisin-black);
}

.oscuro .terminal {
  background-color: var(--color-white);
}

.oscuro .terminal pre {
  color: var(--color-black);
}

.oscuro .terminal h2 {
  color: var(--color-french-sky-blue);
}

.oscuro .card {
  background-color: var(--color-white);
}

.oscuro h1,
.oscuro h2,
.oscuro h3,
.oscuro h4,
.oscuro h5,
.oscuro h6 {
  color: var(--color-white);
}

.oscuro svg#clouds {
  animation: animate-clouds-oscuro 1.2s ease-in 0.6s both;
}

.oscuro .card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 16px var(--color-cultured);
}

.oscuro .card-container .card:not(.highlight-card):hover .material-icons path {
  fill: var(--color-navy-blue);
}

.oscuro h1::selection,
.oscuro h2::selection,
.oscuro h3::selection,
.oscuro h4::selection,
.oscuro h5::selection,
.oscuro h6::selection,
.oscuro span::selection,
.oscuro pre::selection {
  background: var(--color-navy-blue);
  color: var(--color-black);
}

.oscuro.scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-french-sky-blue);
}

.oscuro.scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-navy-blue);
}

.oscuro .progress-bar {
  background-color: var(--color-navy-blue);
}

.oscuro .card.highlight-card {
  background-color: var(--color-navy-blue);
}

.oscuro .toolbar #logo {
  fill: var(--color-navy-blue);
}

.oscuro .card.highlight-card:hover {
  box-shadow: 0px 3px 6px var(--color-orange-yellow-crayola);
}

.oscuro .card.highlight-card.card-small span {
  color: var(--color-white);
}

.oscuro .card.card.highlight-card span.noMargin {
  color: var(--color-white);
}

.oscuro .circle-link {
  background-color: var(--color-jet);
}

.oscuro .circle-link:hover {
  transform: translateY(-4px);
  box-shadow: 0px 3px 12px var(--color-white);
}

.oscuro .circle-link svg {
  fill: var(--color-white);
}

.oscuro .circle-link svg:hover {
  fill: var(--color-navy-blue);
}

.oscuro svg circle {
  fill: var(--color-fulvous);
}

.oscuro .search {
  border-color: var(--color-navy-blue);
}

.oscuro .search:focus {
  border-color: var(--color-fulvous);
}

.oscuro .close-glosary svg:hover {
  fill: var(--color-crimson);
}

.oscuro .close-glosary {
  background-color: var(--color-jet);
}

.oscuro .glass-efect {
  background: rgba(var(--color-white), 0.2);
  box-shadow: 2px 2px 4px 2px var(--color-fulvous);
  border: 1px solid rgba(var(--color-black), 0.18);
}

.oscuro .glass-efect:hover {
  box-shadow: 2px 2px 4px 2px var(--color-navy-blue);
}

.oscuro .tooltiptext.gradient {
  background: linear-gradient(334deg, var(--color-french-sky-blue), var(--color-navy-blue), var(--color-raisin-black));
  background-size: 180% 180%;
  animation: gradient-animation 4s ease infinite;
}

.oscuro .gradient {
  background: linear-gradient(334deg, var(--color-french-sky-blue), var(--color-navy-blue), var(--color-raisin-black));
  background-size: 180% 180%;
  animation: gradient-animation 4s alternate infinite;
}

@keyframes animate-clouds-oscuro {
  0% {
    fill: transparent;
  }
  100% {
    fill: var(--color-jet);
  }
}

.oscuro .share-button-back {
  background-color: var(--color-fulvous);
}

.oscuro .glosarySelected.card-no-size.tooltip {
  color: var(--color-french-sky-blue);
  background-color: var(--color-jet);
  border-color: var(--color-navy-blue);
} 

.oscuro .card.card-small.itemSelected  {
  color: var(--color-navy-blue);
  border-color: var(--color-french-sky-blue);
}

.oscuro div.terminal.window h2 {
  --c1: var(--color-navy-blue);
  --c2: var(--color-french-sky-blue);
}

.oscuro #snackbar {
  color: var(--color-cultured);
  background-color: var(--color-french-sky-blue);
  box-shadow: 0 4px 10px var(--color-navy-blue);
}

.oscuro button:disabled:hover {
  background-color: var(--color-french-sky-blue);
}

/* fin del modo oscuro */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  align-items: center;
  text-align: center;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 600;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.toolbar span {
  text-emphasis: none;
  text-decoration: none;
  text-emphasis-color: var(--color-white);
}

.toolbar #logo {
  height: 40px;
  margin: 0 16px;
  padding: 0 0 0 0;
  fill: var(--color-selective-yellow);
}

.toolbar #logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 3em auto 2em;
  padding: 0;
  max-width: 1280px;
  flex-direction: column;
  align-items: center;
}

/*https://ed.team/blog/personaliza-el-scroll-de-tu-web-solo-con-css*/
.scroll::-webkit-scrollbar {
  width: 7px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 6px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-orange-yellow-crayola);
  border-radius: 6px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-selective-yellow);
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: var(--color-black);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card-container.less-margin {
  margin-top: 4px;
}

.card {
  border-radius: 6px;
  border: 1px solid var(--color-cultured);
  background-color: #fafafa;
  height: 36px;
  width: 180px;
  margin: 0 8px 16px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  outline: none;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 16px var(--color-black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: var(--color-selective-yellow);
}

.card.highlight-card {
  background-color: var(--color-selective-yellow);
  color: var(--color-white);
  font-weight: 600;
  border: none;
  width: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card.highlight-card:hover {
  cursor: pointer;
  transform: translateY(4px);
  box-shadow: 0px 3px 7px var(--color-french-sky-blue);
}

.card.card.highlight-card span {
  color: var(--color-black);
  margin-left: 60px;
}

.card.card.highlight-card span.noMargin {
  color: var(--color-black);
  margin: 5px;
}

#rocket2Span {
  margin-left: 10px;
  margin-right: 60px;
}

svg#rocket {
  width: 70px;
  position: absolute;
  left: -10px;
  top: -26px;
}

svg#rocket2 {
  width: 70px;
  position: absolute;
  right: -10px;
  top: -26px;
}

svg circle {
  fill: var(--color-crimson);
}

a,
a:visited,
a:hover {
  color: var(--color-navy-blue);
  text-decoration: none;
}

.card-container a {
  color: var(--color-black);
}

/* https://github.com/atherosai/ui/blob/main/pages/input-search.tsx */
.search {
  outline: none;
  border-radius: 20px;
  border-style: solid;
  padding: 10px;
  width: 15px;
  height: 15px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' %3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: var(--color-cultured);
  border-color: var(--color-selective-yellow);
  background-size: 22px;
  background-position: 45% 50%;
  overflow: hidden;
  transition-duration: 500ms;
  cursor: pointer;
}

.search:focus {
  width: 200px;
  cursor: pointer;
  padding-left: 40px;
  outline: none;
  background-position: 10px 50%;
  border-color: var(--color-crimson);
}

.close-glosary {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 0 0 0 8px;
  background-color: var(--color-cultured);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-glosary svg:hover {
  fill: var(--color-crimson);
}

.terminal {
  position: relative;
  width: 98%;
  border-radius: 10px;
  padding-top: 16px;
  padding-bottom: 12px;
  overflow-y: hidden;
  overflow-x: visible;
  background-color: var(--color-jet);
}

.terminal .window {
  width: 100%;
  border-radius: 2px;
  background-color: var(--color-black);
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: var(--color-white);
  padding: 0 1rem 1rem;
  margin: 0;
}

.terminal h2 {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: var(--color-orange-yellow-crayola);
  padding: 0, 0, 0, 0;
  margin: 0;
  height: max-content;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
span::selection,
pre::selection {
  background: var(--color-selective-yellow);
  color: var(--color-black);
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  margin-top: 12px;
  background-color: var(--color-cultured);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--color-black);
  transition: 0.3s ease-out;
  flex-wrap: wrap;
}

.circle-link.less-margin {
  margin: 4px;
}

.circle-link:hover {
  transform: translateY(-4px);
  box-shadow: 0px 3px 12px var(--color-black);
}

.circle-link svg:hover {
  fill: var(--color-selective-yellow);
}

.github-star-badge {
  color: var(--color-black);
  display: flex;
  align-items: center;
  padding: 2px 10px;
  height: 28px;
  border-radius: 20px;
  background-color: var(--color-cultured);
  margin: 0 16px;
}

.github-star-badge:hover {
  background-color: var(--color-white);
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -100px;
  z-index: -10;
  width: 1920px;
  animation: animate-clouds 1.2s ease-in 0.6s both;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 10%;
  background-color: var(--color-selective-yellow);
}

.fuente {
  width: 180px;
}

.card.card-small.card-no-size {
  width: auto;
  flex-wrap: wrap;
  height: fit-content;
  padding: 10px;
}

.flexbox-column {
  display: flex;
  flex-direction: row;
}

.flexbox {
  display: flex;
  align-items: center;
}

.flexbox.terminal {
  width: 98%;
  padding-top: 0;
  padding-bottom: 0;
  border: 0 0 0 0;
}

.flexbox.terminal.max-space {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.flexbox-column>div {
  width: 50%;
}

.content .card-container h2 {
  width: 100%;
  align-content: center;
  align-items: center;
}

div a.circle-link {
  margin: 2px;
  margin-top: 4px;
  margin-right: 4px;
}

.glass-efect {
  padding-top: 20px;
  background: rgba(var(--color-white), 0.1);
  box-shadow: 2px 2px 4px 2px var(--color-orange-yellow-crayola);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(var(--color-black), 0.18);
}

.glass-efect:hover {
  box-shadow: 2px 2px 4px 2px var(--color-crimson);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: var(--color-black);
  color: var(--color-cultured);
  text-align: center;
  border-radius: 8px;
  padding: 8px 0;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
  position: absolute;
  z-index: 1;
}

/*https://codepen.io/carmenansio/pen/MWExRMQ*/
.tooltiptext.gradient {
  background: linear-gradient(334deg, var(--color-selective-yellow), var(--color-fulvous), var(--color-crimson));
  background-size: 180% 180%;
  animation: gradient-animation 4s ease infinite;
}

.gradient {
  background: linear-gradient(334deg, var(--color-selective-yellow), var(--color-fulvous), var(--color-crimson));
  background-size: 180% 180%;
  animation: gradient-animation 4s alternate infinite;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*https://codepen.io/veronicadev/pen/yEzmjw*/
.share-icon {
  width: 30px;
  height: 30px;
  fill: var(--color-cultured);
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.share-icon:last-of-type {
  margin-right: 0px;
}

.share-button {
  cursor: pointer;
  height: 40px;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
}

.share-button-back {
  background-color: var(--color-crimson);
  padding: 4px;
  border-radius: 20px;
  overflow: hidden;
}

.share-button-front {
  width: 100%;
  height: 100%;
  background-color: var(--color-cultured);
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.share-button-text {
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  color: var(--color-black);
}

.share-link {
  position: relative;
  top: 40px;
  padding-inline-start: 4px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.share-button:hover .share-button-front {
  transform: rotateX(90deg);
}

.share-button:hover .share-link {
  top: 0;
  opacity: 1;
}

.share-button:hover .share-link:nth-of-type(1) {
  transition-delay: 0.1s;
}

.share-button:hover .share-link:nth-of-type(2) {
  transition-delay: 0.2s;
}

.share-button:hover .share-link:nth-of-type(3) {
  transition-delay: 0.3s;
}

.share-button:hover .share-link:nth-of-type(4) {
  transition-delay: 0.4s;
}

.glosarySelected.card-no-size.tooltip {
  color: var(--color-orange-yellow-crayola);
  background-color: var(--color-raisin-black);
  border-color: var(--color-fulvous);
} 

.card.card-small.itemSelected {
  color: var(--color-fulvous);
  border-color: var(--color-orange-yellow-crayola);
}

button:disabled:hover {
  background-color: var(--color-fulvous);
}

@media screen and (min-width: 641px) and (max-width: 920px) {
  .terminal {
    max-width: 620px;
  }
}

@media screen and (max-width: 640px) {

  .card.highlight-card {
    width: max-content;
  }

  .card.card.highlight-card span {
    margin-left: 45px;
  }

  .card.card-small:not(.card.highlight-card) {
    height: 16px;
    width: 250px;
  }

  .terminal {
    max-width: 310px;
  }

  svg#rocket {
    width: 60px;
    position: absolute;
    left: -14px;
    top: -30px;
  }

  svg#rocket2 {
    width: 60px;
    position: absolute;
    right: -5px;
    top: -31px;
  }

}

@media screen and (max-width: 580px) {

  :root {
    font-size: 15px;
  }

  .card {
    border-radius: 8px;
    justify-content: left;
  }

  .reference {
    justify-content: center;
  }

  .card.highlight-card {
    width: max-content;
  }

  .card.card.highlight-card span {
    margin-left: 30px;
  }

  svg#rocket {
    width: 45px;
    position: absolute;
    left: -16px;
    top: -31px;
  }

  svg#rocket2 {
    width: 45px;
    position: absolute;
    right: -7px;
    top: -31px;
  }

  .spacer {
    display: none;
  }

  .toolbar #logo {
    margin: 0 8px;
  }

  .github-star-badge {
    margin: 0 14px;
  }

  .search:focus {
    width: 160px;
  }

}

@media screen and (max-width: 900px) {

  .content {
    margin: 2.6em auto 1.8em;
  }

  .flexbox-column {
    flex-direction: column;
  }

  .flexbox-column>div {
    width: 98%;
  }

}

@media screen and (min-width: 1200px) {
  .card-container .card.card-small.card-no-size {
    flex: 1 0 20%;
  }
}

/** https://svgartista.net **/

@keyframes animate-clouds {
  0% {
    fill: transparent;
  }

  100% {
    fill: var(--color-cultured);
  }
}

/* https://codepen.io/somosprogramac1/pen/GRMqbgz */

@media screen and (min-width: 920px) {
  
  .content>h2 {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
  }

  div.terminal.window {
    padding-top: 6px;
    padding-bottom: 8px;
  }

  /* https://codepen.io/t_afif/pen/WNdPPEO */
  div.terminal.window h2 {
    --c1: var(--color-fulvous);
    --c2: var(--color-orange-yellow-crayola);

    --_p: 93% 83.5% at;
    --_g1: radial-gradient(var(--_p) bottom, var(--c1) 79.5%, #0000 80%) no-repeat;
    --_g2: radial-gradient(var(--_p) top, #0000 79.5%, var(--c1) 80%) no-repeat;
    --_g3: radial-gradient(var(--_p) bottom, var(--c2) 79.5%, #0000 80%) no-repeat;
    --_g4: radial-gradient(var(--_p) top, #0000 79.5%, var(--c2) 80%) no-repeat;
    background: var(--_g1), var(--_g2), var(--_g1), var(--_g2), var(--_g3),var(--_g4), var(--_g3), var(--_g4);
    -webkit-background-clip: text;
    background-clip: text;
    color: #0000;
    -webkit-text-stroke: 0.1rem var(--c1);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    animation: s 2s infinite alternate, m 3s infinite linear;

    font-family: system-ui, sans-serif;
    font-size: 3.8rem;
    text-align: center;
  }

}

@keyframes m {
  0% {
    background-position: -200% 100%, -100% 100%, 0% 100%, 100% 100%, 0% 100%,
      100% 100%, 200% 100%, 300% 100%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%, 300% 100%, -200% 100%,
      -100% 100%, 0% 100%, 100% 100%;
  }
}

@keyframes s {
  0% {
    background-size: 50.5% 60%, 50.5% 60%, 50.5% 60%, 50.5% 60%, 50.5% 90%,
      50.5% 90%, 50.5% 90%, 50.5% 90%;
  }
  33% {
    background-size: 50.5% 70%, 50.5% 70%, 50.5% 70%, 50.5% 70%, 50.5% 75%,
      50.5% 75%, 50.5% 75%, 50.5% 75%;
  }
  66% {
    background-size: 50.5% 55%, 50.5% 55%, 50.5% 55%, 50.5% 55%, 50.5% 80%,
      50.5% 80%, 50.5% 80%, 50.5% 80%;
  }
  100% {
    background-size: 50.5% 90%, 50.5% 90%, 50.5% 90%, 50.5% 90%, 50.5% 95%,
      50.5% 95%, 50.5% 95%, 50.5% 95%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* https://stackoverflow.com/questions/71608124/show-a-message-if-a-text-is-copied-successfullyalternative-to-alert */
#snackbar {
  visibility: hidden;
  color: var(--color-cultured);
  background-color: var(--color-fulvous);
  min-width: 180px;
  margin-left: -125px;
  border-radius: 6px;
  padding: 12px;
  text-align: center;
  left: 50%;
  bottom: 24px;
  z-index: 1;
  position: fixed;
  box-shadow: 0 4px 10px var(--color-selective-yellow);
}

/* This will be activated when the snackbar's class is 'show' which will be added through JS */
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations for fading in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}