/*
paleta de colores -> https://coolors.co/dd0031-1976d2-eeeeee-000000-ffba08
*/

/*https://blog.nubecolectiva.com/como-crear-el-efecto-modo-oscuro-claro-en-un-sitio-web-con-css-3-javascript/*/

:root {
  --color-black: black;
  --color-jet: #3a3a3a;
  --color-white: white;
  --color-navy-blue: #1976d2;
  --color-french-sky-blue: #6dadee;
  --color-selective-yellow: #FFBA08;
  --color-orange-yellow-crayola: #ffd770;
  --color-cultured: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* inicio del modo oscuro */

.oscuro {
  background-color: var(--color-black);
}

.oscuro .terminal {
  background-color: var(--color-white);
}

.oscuro .terminal.window::before {
  background: var(--color-navy-blue);
  color: var(--color-cultured);
}

.oscuro .terminal pre {
  color: var(--color-black);
}

.oscuro .card {
  background-color: var(--color-white);
}

.oscuro h1,
.oscuro h2,
.oscuro h3,
.oscuro h4,
.oscuro h5,
.oscuro h6 {
  color: var(--color-white);
}

.oscuro .toolbar {
  background-color: var(--color-jet);
  color: var(--color-selective-yellow);
}

.oscuro svg#clouds {
  fill: var(--color-jet);
}

.oscuro .card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px var(--color-cultured);
}

.oscuro .card-container .card:not(.highlight-card):hover .material-icons path {
  fill: var(--color-navy-blue);
}

.oscuro h1::selection,
.oscuro h2::selection,
.oscuro h3::selection,
.oscuro h4::selection,
.oscuro h5::selection,
.oscuro h6::selection,
.oscuro span::selection,
.oscuro pre::selection {
  background: var(--color-navy-blue);
  color: var(--color-black);
}

.oscuro.scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-french-sky-blue);
}

.oscuro.scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-navy-blue);
}

.oscuro .github-star-badge {
  border: 1px solid var(--color-navy-blue);
}

.oscuro .progress-bar {
  background-color: var(--color-navy-blue);
}

.oscuro .card.highlight-card {
  background-color: var(--color-navy-blue);
}

.oscuro .toolbar #twitter-logo {
  fill: var(--color-navy-blue);
}

.oscuro .card.highlight-card:hover {
  box-shadow: 0px 3px 6px var(--color-orange-yellow-crayola);
}

.oscuro .card.highlight-card.card-small span {
  color: var(--color-white);
}

.oscuro .circle-link:hover {
  box-shadow: 0px 3px 15px var(--color-white);
}

/* fin del modo oscuro */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  align-items: center;
  text-align: center;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 600;
}

.toolbar span {
  text-emphasis: none;
  text-decoration: none;
  text-emphasis-color: var(--color-white);
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
  fill: var(--color-selective-yellow);
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 3em auto 2em;
  padding: 0;
  max-width: 1140px;
  flex-direction: column;
  align-items: center;
}

/*https://ed.team/blog/personaliza-el-scroll-de-tu-web-solo-con-css*/
.scroll::-webkit-scrollbar {
  width: 7px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 6px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-orange-yellow-crayola);
  border-radius: 6px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-selective-yellow);
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: var(--color-black);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 6px;
  border: 1px solid var(--color-cultured);
  background-color: #fafafa;
  height: 36px;
  width: 180px;
  margin: 0 8px 16px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: var(--color-selective-yellow);
}

.card.highlight-card {
  background-color: var(--color-selective-yellow);
  color: var(--color-white);
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.highlight-card:hover {
  cursor: pointer;
  transform: translateY(4px);
  box-shadow: 0px 3px 7px var(--color-french-sky-blue);
}

.card.card.highlight-card span {
  color: var(--color-black);
  margin-left: 60px;
}

svg#rocket {
  width: 70px;
  position: absolute;
  left: -10px;
  top: -26px;
}

a,
a:visited,
a:hover {
  color: var(--color-navy-blue);
  text-decoration: none;
}

.card-container a {
  color: var(--color-black);
}

.terminal {
  position: relative;
  width: 95%;
  border-radius: 6px;
  padding-top: 16px;
  padding-bottom: 12px;
  overflow-y: hidden;
  overflow-x: visible;
  background-color: var(--color-black);
}

.window::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: var(--color-jet);
  color: var(--color-selective-yellow);
  width: 100%;
  font-size: 3em;
  line-height: 4px;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: var(--color-white);
  padding: 0 1rem 1rem;
  margin: 0;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
span::selection,
pre::selection {
  background: var(--color-selective-yellow);
  color: var(--color-black);
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  margin-top: 16px;
  background-color: var(--color-white);
  border: 1px solid var(--color-cultured);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
  flex-wrap: wrap;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px var(--color-black);
}

footer {
  margin-top: 16px;
  margin-bottom: 0px;
  align-items: center;
  align-content: center;
  line-height: 20px;
  width: 100%;
  background-color: var(--color-black);
  color: var(--color-white);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  font-weight: 600;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: var(--color-black);
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid var(--color-selective-yellow);
  border-radius: 3px;
  background-color: var(--color-cultured);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.github-star-badge:hover {
  background-color: var(--color-white);
  border-color: var(--color-black);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
  fill: var(--color-cultured);
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 10%;
  background-color: var(--color-selective-yellow);
}

.fuente {
  width: 180px;
}

@media screen and (min-width: 641px) and (max-width: 920px) {
  .terminal {
    max-width: 620px;
  }
}

@media screen and (max-width: 640px) {

  .card.highlight-card span {
    margin-left: 72px;
  }

  .card.card-small {
    height: 16px;
    width: 250px;
  }

  .terminal {
    max-width: 310px;
  }

  svg#rocket {
    width: 60px;
    position: absolute;
    left: -14px;
    top: -30px;
  }

}

@media screen and (max-width: 575px) {

  svg#rocket {
    width: 45px;
    position: absolute;
    left: -16px;
    top: -31px;
  }

  .github-star-badge {
    font-size: 11px;
  }

  .github-star-badge svg.material-icons {
    width: 16px;
    height: 16px;
  }

  .window::before {
    align-items: center;
  }

}
