<div class="content">

  <h2>Pruebas en el desarrollo de Software</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Caja Negra & Blanca'" (click)="getLinkAndTittleByKey('cajaNegraBlanca')"></app-button>

    <app-button [tittleButton]="'Valores Limites'" (click)="getLinkAndTittleByKey('valorLimite')"></app-button>

    <app-button [tittleButton]="'Equivalencias'" (click)="getLinkAndTittleByKey('clasesEquivalencia')"></app-button>

    <app-button [tittleButton]="'Causa -> Efecto'" (click)="getLinkAndTittleByKey('grafosCausaEfecto')"></app-button>

    <app-button [tittleButton]="'Tipos de pruebas'" (click)="getLinkAndTittleByKey('tiposDePruebas')"></app-button>

    <app-button [tittleButton]="'Outside & Inside'" (click)="getLinkAndTittleByKey('outsideInside')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>

    </div>

  </div>

</div>
