<div class="content">

  <h2>Buenas Practicas</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Parte #1'" (click)="getLinkAndTittleByKey('practicas1')"></app-button>

    <app-button [tittleButton]="'Parte #2'" (click)="getLinkAndTittleByKey('practicas2')"></app-button>

    <app-button [tittleButton]="'Parte #3'" (click)="getLinkAndTittleByKey('practicas3')"></app-button>

    <app-button [tittleButton]="'Parte #4'" (click)="getLinkAndTittleByKey('practicas4')"></app-button>

    <app-button [tittleButton]="'Complejidad'" (click)="getLinkAndTittleByKey('complejidad')"></app-button>

    <app-button [tittleButton]="'Cognitiva'" (click)="getLinkAndTittleByKey('complejidadCognitiva')"></app-button>

    <app-button [tittleButton]="'Algoritmica'" (click)="getLinkAndTittleByKey('complejidadAlgoritmica')"></app-button>

    <app-button [tittleButton]="'Logs VS Debug'" (click)="getLinkAndTittleByKey('logging')"></app-button>

    <app-button [tittleButton]="'Debugging'" (click)="getLinkAndTittleByKey('debugging')"></app-button>

    <app-button [tittleButton]="'Ley de Demeter'" (click)="getLinkAndTittleByKey('demeter')"></app-button>

    <app-button [tittleButton]="'Nombramiento'" (click)="getLinkAndTittleByKey('estandaresNombramiento')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content" [innerHTML]="content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">

      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>
      
      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

    </div>

  </div>

</div>
