<div class="content">

    <h2>Conocimiento Nacido de la Practica</h2>
  
    <div class="card-container">
  
      <div class="card card-small" (click)="linkReferencia('balas','https://gist.github.com/esparta/582e43af7b803e0aaf69')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Balas de Plata</span>
      </div>

      <div class="card card-small" (click)="linkReferencia('lehman','https://medium.com/@cartontabla/las-leyes-de-lehman-b57c623c3404#:~:text=Las%20Leyes%20de%20Lehman%20son,digamos%20que%20podr%C3%ADan%20ser%20ampliadas)')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Leyes de Lehman</span>
      </div>

      <div class="card card-small" (click)="linkReferencia('conway','https://www.javiergarzas.com/2015/06/conway.html')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Ley de Conway</span>
      </div>

      <div class="card card-small" (click)="linkReferencia('murphy','https://www.caracteristicas.co/ley-de-murphy/')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Ley de Murphy</span>
      </div>

      <div class="card card-small" (click)="linkReferencia('cristales','https://lamenteesmaravillosa.com/la-teoria-las-ventanas-rotas/')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Cristales rotos</span>
      </div>

    </div>
    
    <div class="terminal window" ></div>
    <div class="terminal" [ngSwitch]="selection" #terminal>
      <pre *ngSwitchDefault>Selecciona una opcion para ver más </pre>
  
      <pre *ngSwitchCase="'balas'">- El software puede tener dificultades inherentes al software y accidentales </pre>
      <pre *ngSwitchCase="'balas'">- Los errores son gajes del oficio, pero tienen diferentes grados de repercusión en el software </pre>
      <pre *ngSwitchCase="'balas'">- Jamas sera lo mismo un error semantico a uno de diseño, el primero podria pasar por trivial, pero el segundo NO </pre>
      <pre *ngSwitchCase="'balas'"></pre>
      <pre *ngSwitchCase="'balas'">- Complejidad -> la complejidad es directamente proporcional al tamaño </pre>
      <pre *ngSwitchCase="'balas'">- Complejidad -> esta es una propiedad intrinseca del software, que no se puede desligar de su diseño o construcción </pre>
      <pre *ngSwitchCase="'balas'">- Complejidad -> de esta complejidad nacen las dificultades para crecer sin afectar al resto del sistema </pre>
      <pre *ngSwitchCase="'balas'">- Complejidad -> sin contar con los problemas tecnicos ó las dificultades de aprendizaje </pre>
      <pre *ngSwitchCase="'balas'"></pre>
      <pre *ngSwitchCase="'balas'">- Conformidad -> tener que ajustarse a otros diseños, necesariamente implica algo más que una refactorización </pre>
      <pre *ngSwitchCase="'balas'">- Conformidad -> no hay una sola manera para trabajar, por lo que hay acostumbrarse a las diferentes formas de cada persona </pre>
      <pre *ngSwitchCase="'balas'"></pre>
      <pre *ngSwitchCase="'balas'">- Variabilidad -> El software esta sometido a la necesiadad de cambio constante, pero esto no necesariamente significa un "cambio" </pre>
      <pre *ngSwitchCase="'balas'">- Variabilidad -> Se podria sacar un nuevo modelo ó una nueva versión, más no obligatoriamente cambiar lo que ya funciona </pre>
      <pre *ngSwitchCase="'balas'"></pre>
      <pre *ngSwitchCase="'balas'">- Invisibilidad -> El software es un recurso intangible, solo entendible por la capacidad de abstracción y de visualización de los humanos </pre>
      <pre *ngSwitchCase="'balas'"></pre>
      <pre *ngSwitchCase="'balas'">                           Para revisar los demás temas, aca &darr;&darr;&darr;&darr;&darr;&darr;&darr;&darr;&darr;&darr; se encuentra la referencia </pre>

      <pre *ngSwitchCase="'lehman'">- El contenido es eterno, pero no la materia que lo contiene </pre>
      <pre *ngSwitchCase="'lehman'">- Ley del cambio continuo -> En la realidad las cosas deben seguir cambiando constantemente, de lo contrario eventualmente seran obsoletas </pre>
      <pre *ngSwitchCase="'lehman'">- Ley de complejida creciente -> Mientras algo siga creciendo, su complejidad tambien lo hara, a no ser que se tomen medidas para reducirla </pre>
      <pre *ngSwitchCase="'lehman'">- Ley de evolución -> mientras algo crezca, tambien lo haran sus errores, casi siempre de manera promedio </pre>
      <pre *ngSwitchCase="'lehman'">- Ley de estabilidad organizacional -> la velocidad de desarrollo sera casi siempre la misma, por más recursos que se inyecten </pre>
      <pre *ngSwitchCase="'lehman'">- Ley de la conservación -> un crecimiento desmesurado hara que el conociemiento basico sea insuficiente para seguir creciendo </pre>
      <pre *ngSwitchCase="'lehman'">- Ley de crecimiento continuo -> las funcionalidades deben seguir mejorando para mantener a los clientes satisfechos </pre>
      <pre *ngSwitchCase="'lehman'">- Ley de retroalimentación -> la comunicación con el cliente y con las personas conocedoras es fundamental </pre>

      <pre *ngSwitchCase="'conway'">- El impacto de la comunicación en tu empresa </pre>
      <pre *ngSwitchCase="'conway'">- “Cualquier organización que diseñe un sistema producirá un diseño que copia la estructura de comunicación de dicha organización.”</pre>
      <pre *ngSwitchCase="'conway'">- El software es una habilidad intelectual humana, por lo que la comunicación es fundamental para la integración </pre>
      <pre *ngSwitchCase="'conway'">- La manera de trabajar de tu empresa se vera reflejada en tu software, es el significado principal de esta frase </pre>
      <pre *ngSwitchCase="'conway'"> - Equipos pequeños, crearan soluciones pequeñas, altamente modulares </pre>
      <pre *ngSwitchCase="'conway'"> - Personas egoistas, generan problemas de integración de componentes y falencias al compartir su conocmiento </pre>
      <pre *ngSwitchCase="'conway'"> - Empresas sin organización, generaran codigo complejo, pero funcional de manera rapida, que se convertira en una bola de nieve </pre>
      <pre *ngSwitchCase="'conway'"> - Empresas orgullosas, que comparten su codigo y sus buenas practicas </pre>
      <pre *ngSwitchCase="'conway'"> - Estos y más ejemplos hay, como empresas y personas halla </pre>

      <pre *ngSwitchCase="'murphy'">- Si algo malo puede pasar, pasara</pre>
      <pre *ngSwitchCase="'murphy'">- Se inspira en el concepto fisico de la entropia, el cual dicta que todo sistema fluye del orden al desorden </pre>
      <pre *ngSwitchCase="'murphy'">- Puede ser util para ayudar a prevenir el desastre, si se usa para tomar precauciones </pre>
      <pre *ngSwitchCase="'murphy'">- No hay ninguna demostración matematica que la niegue ó la acepta, solo es un conocimiento nacido de lo cotidiano </pre>

      <pre *ngSwitchCase="'cristales'">- Esta teoria predice que los desperfectosdel ambiente van a generar la sensación de que la ley no existe </pre>
      <pre *ngSwitchCase="'cristales'">- Las pequeñas faltas pueden conllevar a transgresiones mayores </pre>
      <pre *ngSwitchCase="'cristales'">- Establcer normas claras ayuda a evitar este fenomeno </pre>

    </div>
  
    <app-referencia [referencia]="referencia"></app-referencia>
  
  </div>
