<div class="content">

    <h2>Conocimiento Nacido de la Practica</h2>
  
    <div class="card-container">
  
      <div class="card card-small" (click)="linkReferencia('balas','https://gist.github.com/esparta/582e43af7b803e0aaf69')"
        tabindex="0">
        <svg class="material-icons" width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"
          style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g>
            <g>
              <path d="M508.416,3.582c-3.736-3.735-9.418-4.647-14.135-2.27l-13.115,6.607C435.394,30.98,393.802,60.43,357.4,95.519
                  c-3.517-1.75-7.9-1.168-10.831,1.763l-53.12,53.12l-51.157,22.746c-1.052,0.469-2.011,1.126-2.827,1.942l-215.06,215.06
                  c-3.67,3.67-3.67,9.62,0,13.289l1.118,1.118l-8.364,8.363l-1.118-1.118c-3.67-3.67-9.62-3.67-13.289,0
                  c-3.67,3.67-3.67,9.62,0,13.289l84.155,84.155c1.834,1.834,4.24,2.753,6.644,2.753s4.81-0.917,6.644-2.753
                  c3.67-3.67,3.67-9.62,0-13.289l-1.119-1.119l8.364-8.363l1.119,1.119c1.762,1.763,4.152,2.753,6.644,2.753s4.883-0.99,6.644-2.753
                  l215.06-215.062c0.816-0.814,1.474-1.774,1.942-2.827l22.746-51.157l53.12-53.12c1.763-1.762,2.753-4.152,2.753-6.644
                  c0-1.467-0.351-2.894-0.992-4.184c35.09-36.403,64.541-77.997,87.603-123.77l6.608-13.116
                  C513.066,12.998,512.153,7.317,508.416,3.582z M86.129,481.209L30.79,425.87l8.023-8.023l55.339,55.339L86.129,481.209z
                  M115.204,467.66l-70.865-70.865l201.771-201.771l70.865,70.865L115.204,467.66z M327.236,249.571l-64.807-64.808l33.936-15.089
                  l45.961,45.96L327.236,249.571z M353.419,200.15L311.85,158.58l41.165-41.165l41.569,41.569L353.419,200.15z M403.534,140.956
                  l-32.49-32.49c33.634-32.307,71.863-59.63,113.828-81.337C463.163,69.091,435.842,107.32,403.534,140.956z" />
            </g>
          </g>
        </svg>
        <span>Balas de Plata</span>
      </div>

      <div class="card card-small" (click)="linkReferencia('lehman','https://medium.com/@cartontabla/las-leyes-de-lehman-b57c623c3404#:~:text=Las%20Leyes%20de%20Lehman%20son,digamos%20que%20podr%C3%ADan%20ser%20ampliadas)')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Leyes de Lehman</span>
      </div>

      <div class="card card-small" (click)="linkReferencia('conway','https://www.javiergarzas.com/2015/06/conway.html')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Ley de Conway</span>
      </div>

      <div class="card card-small" (click)="linkReferencia('murphy','https://www.caracteristicas.co/ley-de-murphy/')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Ley de Murphy</span>
      </div>

      <div class="card card-small" (click)="linkReferencia('cristales','https://lamenteesmaravillosa.com/la-teoria-las-ventanas-rotas/')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Cristales rotos</span>
      </div>

      <div class="card card-small" (click)="linkReferencia('tipos','https://stevenbenner.com/2010/07/the-5-types-of-programmers/')"
        tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Programadores</span>
      </div>

    </div>
    
    <div class="terminal window" ></div>
    <div class="terminal" [ngSwitch]="selection" #terminal>
      <pre *ngSwitchDefault>Selecciona una opcion para ver más </pre>
  
      <pre *ngSwitchCase="'balas'">- El software puede tener dificultades inherentes al software y accidentales </pre>
      <pre *ngSwitchCase="'balas'">- Los errores son gajes del oficio, pero tienen diferentes grados de repercusión en el software </pre>
      <pre *ngSwitchCase="'balas'">- Jamas sera lo mismo un error semantico a uno de diseño, el primero podria pasar por trivial, pero el segundo NO </pre>
      <pre *ngSwitchCase="'balas'"></pre>
      <pre *ngSwitchCase="'balas'">- Complejidad -> la complejidad es directamente proporcional al tamaño </pre>
      <pre *ngSwitchCase="'balas'">- Complejidad -> esta es una propiedad intrinseca del software, que no se puede desligar de su diseño o construcción </pre>
      <pre *ngSwitchCase="'balas'">- Complejidad -> de esta complejidad nacen las dificultades para crecer sin afectar al resto del sistema </pre>
      <pre *ngSwitchCase="'balas'">- Complejidad -> sin contar con los problemas tecnicos ó las dificultades de aprendizaje </pre>
      <pre *ngSwitchCase="'balas'"></pre>
      <pre *ngSwitchCase="'balas'">- Conformidad -> tener que ajustarse a otros diseños, necesariamente implica algo más que una refactorización </pre>
      <pre *ngSwitchCase="'balas'">- Conformidad -> no hay una sola manera para trabajar, por lo que hay acostumbrarse a las diferentes formas de cada persona </pre>
      <pre *ngSwitchCase="'balas'"></pre>
      <pre *ngSwitchCase="'balas'">- Variabilidad -> El software esta sometido a la necesiadad de cambio constante, pero esto no necesariamente significa un "cambio" </pre>
      <pre *ngSwitchCase="'balas'">- Variabilidad -> Se podria sacar un nuevo modelo ó una nueva versión, más no obligatoriamente cambiar lo que ya funciona </pre>
      <pre *ngSwitchCase="'balas'"></pre>
      <pre *ngSwitchCase="'balas'">- Invisibilidad -> El software es un recurso intangible, solo entendible por la capacidad de abstracción y de visualización de los humanos </pre>
      <pre *ngSwitchCase="'balas'"></pre>
      <pre *ngSwitchCase="'balas'">                           Para revisar los demás temas, aca &darr;&darr;&darr;&darr;&darr;&darr;&darr;&darr;&darr;&darr; se encuentra la referencia </pre>

      <pre *ngSwitchCase="'lehman'">- El contenido es eterno, pero no la materia que lo contiene </pre>
      <pre *ngSwitchCase="'lehman'">- Ley del cambio continuo -> En la realidad las cosas deben seguir cambiando constantemente, de lo contrario eventualmente seran obsoletas </pre>
      <pre *ngSwitchCase="'lehman'">- Ley de complejida creciente -> Mientras algo siga creciendo, su complejidad tambien lo hara, a no ser que se tomen medidas para reducirla </pre>
      <pre *ngSwitchCase="'lehman'">- Ley de evolución -> mientras algo crezca, tambien lo haran sus errores, casi siempre de manera promedio </pre>
      <pre *ngSwitchCase="'lehman'">- Ley de estabilidad organizacional -> la velocidad de desarrollo sera casi siempre la misma, por más recursos que se inyecten </pre>
      <pre *ngSwitchCase="'lehman'">- Ley de la conservación -> un crecimiento desmesurado hara que el conociemiento basico sea insuficiente para seguir creciendo </pre>
      <pre *ngSwitchCase="'lehman'">- Ley de crecimiento continuo -> las funcionalidades deben seguir mejorando para mantener a los clientes satisfechos </pre>
      <pre *ngSwitchCase="'lehman'">- Ley de retroalimentación -> la comunicación con el cliente y con las personas conocedoras es fundamental </pre>

      <pre *ngSwitchCase="'conway'">- El impacto de la comunicación en tu empresa </pre>
      <pre *ngSwitchCase="'conway'">- “Cualquier organización que diseñe un sistema producirá un diseño que copia la estructura de comunicación de dicha organización.”</pre>
      <pre *ngSwitchCase="'conway'">- El software es una habilidad intelectual humana, por lo que la comunicación es fundamental para la integración </pre>
      <pre *ngSwitchCase="'conway'">- La manera de trabajar de tu empresa se vera reflejada en tu software, es el significado principal de esta frase </pre>
      <pre *ngSwitchCase="'conway'"> - Equipos pequeños, crearan soluciones pequeñas, altamente modulares </pre>
      <pre *ngSwitchCase="'conway'"> - Personas egoistas, generan problemas de integración de componentes y falencias al compartir su conocmiento </pre>
      <pre *ngSwitchCase="'conway'"> - Empresas sin organización, generaran codigo complejo, pero funcional de manera rapida, que se convertira en una bola de nieve </pre>
      <pre *ngSwitchCase="'conway'"> - Empresas orgullosas, que comparten su codigo y sus buenas practicas </pre>
      <pre *ngSwitchCase="'conway'"> - Estos y más ejemplos hay, como empresas y personas halla </pre>

      <pre *ngSwitchCase="'murphy'">- Si algo malo puede pasar, pasara</pre>
      <pre *ngSwitchCase="'murphy'">- Se inspira en el concepto fisico de la entropia, el cual dicta que todo sistema fluye del orden al desorden </pre>
      <pre *ngSwitchCase="'murphy'">- Puede ser util para ayudar a prevenir el desastre, si se usa para tomar precauciones </pre>
      <pre *ngSwitchCase="'murphy'">- No hay ninguna demostración matematica que la niegue ó la acepta, solo es un conocimiento nacido de lo cotidiano </pre>

      <pre *ngSwitchCase="'cristales'">- Esta teoria predice que los desperfectos del ambiente van a generar la sensación de que la ley no existe </pre>
      <pre *ngSwitchCase="'cristales'">- Corregir los errores, aun por más por pequeños que sean evitara que el software se degenere </pre>
      <pre *ngSwitchCase="'cristales'">- Las pequeñas faltas pueden conllevar a transgresiones mayores </pre>
      <pre *ngSwitchCase="'cristales'">- Establcer normas claras ayuda a evitar este fenomeno </pre>

      <pre *ngSwitchCase="'tipos'">- Estos son los 5 principales tipos de programadores que existen </pre>
      <pre *ngSwitchCase="'tipos'"></pre>
      <pre *ngSwitchCase="'tipos'"> - The duct tape: </pre>
      <pre *ngSwitchCase="'tipos'">   - Este programador arreglara el error sin importale como, </pre>
      <pre *ngSwitchCase="'tipos'">   - la prioridad para el siempre sera arreglar el error, sin importar la complejidad de la solución </pre>
      <pre *ngSwitchCase="'tipos'"></pre>
      <pre *ngSwitchCase="'tipos'"> - The perfectionist programmer </pre>
      <pre *ngSwitchCase="'tipos'">   - Para este programador cada segmento de codigo es una obra de arte, </pre>
      <pre *ngSwitchCase="'tipos'">   - no le importan las fechas limites ó los presupuestos, solo que el codigo generado sea hermoso eficiente, </pre>
      <pre *ngSwitchCase="'tipos'">   - e inmutable, a menos que sea el mismo quien lo cambie </pre>
      <pre *ngSwitchCase="'tipos'"></pre>
      <pre *ngSwitchCase="'tipos'"> - The anti-programming programmer </pre>
      <pre *ngSwitchCase="'tipos'">   - Es aquel que siempre evitara reinventar la rueda, ya sea usando librerias de terceros</pre>
      <pre *ngSwitchCase="'tipos'">   - ó usando codigo ya hecho por alguien más, pero siempre obtendra la solución más simple, </pre>
      <pre *ngSwitchCase="'tipos'">   - aunque esta no sea eficiente o retrocompatible, pero si sera facil de entender</pre>
      <pre *ngSwitchCase="'tipos'"></pre>
      <pre *ngSwitchCase="'tipos'"> - The half-assed programmer </pre>
      <pre *ngSwitchCase="'tipos'">   - Este programador es el más odiado por los demás tipos, ya que solo le importa cumplir con su tarea, </pre>
      <pre *ngSwitchCase="'tipos'">   - la calidad ó la eficiencia son solo utopias con el, y lo más seguro es que generara problemas a largo plazo, </pre>
      <pre *ngSwitchCase="'tipos'">   - siempre sera eficaz a cuanto a los tiempos de entrega, aunque esto dañe otras partes del sistema </pre>
      <pre *ngSwitchCase="'tipos'"></pre>
      <pre *ngSwitchCase="'tipos'"> - The theoretical programmer </pre>
      <pre *ngSwitchCase="'tipos'">   - Para este programador siempre habra n maneras de resolver algo, la mayoria de su tiempo lo ocupara pensando como </pre>
      <pre *ngSwitchCase="'tipos'">   - resolver el problema de la mejor manera, por lo que la manera que escoja para hacerlo nunca lo satisfacera al 100%, </pre>
      <pre *ngSwitchCase="'tipos'">   - pero entregara codigo a tiempo y con buena calidad </pre>

    </div>
  
    <app-referencia [referencia]="referencia"></app-referencia>
  
  </div>
