<div class="content">

  <h2>Analisis de un sistema</h2>

  <div class="card-container">

    <app-button [tittleButton]="'Comportamiento'" (click)="getLinkAndTittleByKey('comportamiento')"></app-button>

    <app-button [tittleButton]="'Analisis de Dominio'" (click)="getLinkAndTittleByKey('dominio')"></app-button>

    <app-button [tittleButton]="'Herramientas CASE'" (click)="getLinkAndTittleByKey('case')"></app-button>

    <app-button [tittleButton]="'Divide y venceras'" (click)="getLinkAndTittleByKey('divide')"></app-button>

    <app-button [tittleButton]="'Un buen diseño'" (click)="getLinkAndTittleByKey('diseño')"></app-button>

    <app-button [tittleButton]="'Tarjetas CRC'" (click)="getLinkAndTittleByKey('crc')"></app-button>

    <app-button [tittleButton]="'Avestruz'" (click)="getLinkAndTittleByKey('avestruz')"></app-button>

    <app-button [tittleButton]="'Modelo de dominio'" (click)="getLinkAndTittleByKey('modeloDominio')"></app-button>

    <app-button [tittleButton]="'Información'" (click)="getLinkAndTittleByKey('sistemasInformacion')"></app-button>

  </div>

  <app-referencia class="flexbox terminal" [referencia]="referencia" [titulo]="titulo"></app-referencia>

  <div class="terminal" [ngSwitch]="selection" #terminal>

    <h2 *ngSwitchDefault>Selecciona una opcion para ver más </h2>

    <span *ngFor="let item of items">
      <span *ngSwitchCase="item.key">
        <pre *ngFor="let content of item.content">{{content}}</pre>
      </span>
    </span>

    <div class="card-container less-margin">
      
      <app-button-before *ngIf="!(itemSelected === 0)" (click)="getBeforeElement()"></app-button-before>
      
      <app-button-next *ngIf="!(itemSelected === lengthItems)" (click)="getNextElement()"></app-button-next>

    </div>

  </div>

</div>
